<!DOCTYPE html>
<html class="no-js" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:fragment="head">
	<meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
	  <title>LIBERIUM</title>
	  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">

	  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
	  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">


	  <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.min.css">
  	  <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
  	  <link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
  	  <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
	  <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
	  <link rel="stylesheet" href="/plugins/iCheck/all.css">

	  <link rel="stylesheet" href="/bower_components/morris.js/morris.css">
	  <link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css">
	  <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
	  <link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
	  <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">


<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
  	  <link rel="stylesheet" href="/dist/css/AdminLTE.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header" th:fragment="header">
			<nav class="navbar navbar-static-top">
				<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
				<div class="estudioSelect">
			      	<select onChange="actualizarEstudio(this.value);" th:if="${session.estudioSession != 'NOT_ESTUDIO'}" id="selectIdEstudio">
			      		<option th:each="estudio : ${session.estudiosSession}"
			      				th:if="${estudio.id == session.estudioSession.id}"
								selected="selected"
			                    th:value="${estudio.id}"
			                    th:text="${estudio.nombre}">
			            </option>
			            <option th:each="estudio : ${session.estudiosSession}"
			      				th:if="${estudio.id != session.estudioSession.id}"
			                    th:value="${estudio.id}"
			                    th:text="${estudio.nombre}">
			            </option>
			      </select>
			    </div>
				<div class="navbar-custom-menu">

					<ul class="nav navbar-nav">
						<li class="dropdown notifications-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class='fas fa-bell-slash fa-lg' onclick="marcarNotificacionesVistas()"></i>
						<span class="label label-warning" id="numNotificaciones"></span>
						</a>
							<ul class="dropdown-menu">
								<li class="header" hidden="" id="textNumNotificaciones"></li>
								<li>
									<ul class="menu" id="notificaciones">

									</ul>
								</li>
							</ul></li>
						<li class="dropdown user user-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<div class="user-perfil">
<!-- 									<h3 th:text="${#strings.substring(session.usuarioSession.nombre,0,2)}"></h3> -->
										<h3 th:text="${session.iniciales}"></h3>
								</div>
						</a>
							<ul class="dropdown-menu">
								<li class="user-header"><img th:src="${session.usuarioSession.foto != null ? '/administracion/usuario/foto/' + session.usuarioSession.id  : '/img/logoliberium.png'}" onerror="this.src='/img/logoliberium.png'" class="img-circle" alt="User Image" width="160" height="160">
									<p>
										<span sec:authentication="name" id="estudioNav"></span><small>Miembro desde <span id=""> 2020</span></small>
									</p></li>
								<li class="user-footer">
								<div sec:authorize="hasAnyAuthority('VISUALIZAR_PERFIL', 'VISUALIZAR_PERFIL_ADMINISTRADOR')">
									<div class="pull-left">
										<a th:href="@{/administracion/usuario/perfil}" class="btn btn-default btn-flat">Perfil</a>
									</div>
								</div>

								<div>
									<div class="pull-right">
										<a th:href="@{/login?logout}" class="btn btn-default btn-flat">Cerrar Sesión</a>
									</div>
								</div>
<!-- 								<div sec:authorize="hasRole('ROLE_ADMINISTRADOR')"> -->
<!-- 									<div class="center" style="text-align: center;"> -->
<!-- 										<a th:href="@{/logout}" class="btn btn-default btn-flat">Cerrar Sesión</a> -->
<!-- 									</div> -->
<!-- 								</div> -->
								</li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</header>
	</div>
</body>
</html>

