<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div id="agregarNuevoChecklist" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4" style="overflow-y: auto;">
				<form id="modalFormularioChecklist">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<h3 id="tituloChecklist"></h3>
									<p>Por favor, complete la siguiente información.</p>
								</div>
								<a href="#"
									th:attr="onclick='javascript:cambiarPag( \'' + ${causa.id} + '\')'"
									class="cerrarmodalimg"><img src="/dist/img/cerrar.png"
									alt=""></a>
							</div>
						</div>
					</div>
					<div class="box1" style="padding-right: 5px;">
						<div id="modalAlertaNuevoCheckList"></div>
						<div class="agregarinfo">
							<input type="hidden" class="form-control" name="id" id="idChecklist"> 
							<input type="hidden" class="form-control" name="accion" id="accion"> 
							<label for="">Nombre</label> <input
								type="text" class="form-control" name="nombreNuevoChecklist"
								id="nombreNuevoChecklist"> <label>Rol procesal</label> <select
								class="form-control select2" name="tipoRolCausasChecklist"
								id="tipoRolCausasChecklist" data-placeholder="Seleccione un Rol"
								style="width: 100%">
								<option></option>
								<option th:each="t : ${tipoRolCausasChecklist}"
									th:text="${t.tipoRolCausa}" th:value="${t}">tipo rol</option>
							</select> <label for="">País</label> <select class="form-control select2"
								name="paisChecklist" id="paisChecklist"
								data-placeholder="Seleccione un País" style="width: 100%"
								onchange="getProvinciaChecklist(this.value)">
								<option></option>
								<option th:each="pais : ${paises}" th:text="${pais.nombre}"
									th:value="${pais.id}">Pais</option>
							</select> <label for="">Fuero</label> <select class="form-control select2"
								name="tipoFueroChecklist" id="tipoFueroChecklist"
								data-placeholder="Seleccione el Fuero" style="width: 100%">
								<option></option>
								<option th:each="fuero : ${tiposFueroChecklist}"
									th:text="${fuero.tipoFuero}" th:value="${fuero}">Fuero</option>
							</select> <label for="">Materia</label> <select
								class="form-control select2" name="materiaChecklist"
								id="materiaChecklist" data-placeholder="Seleccione una Materia"
								style="width: 100%" onchange="getTipoCausa(this.value)">
								<option></option>
								<option th:each="materia : ${materiasChecklist}"
									th:text="${materia.nombre}" th:value="${materia.id}"></option>
							</select> <label for="">Tipo de causa</label> <select
								class="form-control select2" name="tipoCausaChecklist"
								id="tipoCausaChecklist"
								data-placeholder="Seleccione un Tipo de Causa"
								style="width: 100%">
							</select> <label for="">Provincia</label> <select
								class="form-control select2" name="provinciaChecklist"
								id="provinciaChecklist"
								data-placeholder="Seleccione una Provincia" style="width: 100%"
								disabled="disabled" onchange="getCircunscripcion(this.value)">
								<option selected disabled>Seleccione provincia</option>
							</select> <label for="">Circunscripción</label> <select
								class="form-control select2" name="circunscripcionChecklist"
								id="circunscripcionChecklist"
								data-placeholder="Seleccione una Circunscripción"
								style="width: 100%" disabled="disabled">
								<option selected disabled>Seleccione circunscripción</option>
							</select> <label for="">Instancia</label> <select
								class="form-control select2" name="instanciaChecklist"
								id="instanciaChecklist"
								data-placeholder="Seleccione una Instancia" style="width: 100%">
								<option selected disabled>Seleccione instancia</option>
								<option th:each="instancia : ${instancias}"
									th:text="${instancia.nombre}" th:value="${instancia.id}"></option>
							</select> <label for="">Formulario</label> <select
								class="form-control select2" name="formularioChecklist"
								id="formularioChecklist"
								data-placeholder="Seleccione un Formulario" style="width: 100%">
								<option></option>
								<option th:each="formulario : ${formulariosChecklist}"
									th:text="${formulario.titulo}" th:value="${formulario.id}"></option>
							</select>
							<h4 style="margin-top: 7px;">Checks a seguir</h4>
							<div id="bloqueItem" class="items2"></div>

							<button type="button" onclick="botonAgregarItem()"
								class="btnmodal"
								style="width: 100% !important; border-radius: 5px !important; margin: 20px 0 10px 0 !important; float: left;">Agregar
								check</button>
						</div>
					</div>
					<div class="buttonmiddle">
						<button type="button" class="btn btn-secondary"
							onclick="guardarCheck(true);" id="modalBtnGuardarNuevoChecklist">Guardar</button>
					</div>
				</form>
			</div>

		</div>
		<!-- box-modal==== -->
	</div>

	<script src="/app/js/comboAnidado.js"></script>
	<script src="/app/js/checklistNuevo.js"></script>
</body>
</html>