<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div th:fragment="paginador2">
		<div style="text-align:center">
			<ul class="pagination pagination-sm no-margin">
	            <li><a th:if="${page.number gt 0}" th:href="@{${url}(page=${page.number-1},size=${page.size},q=${q})}" class="paginate_button previous">Anterior</a></li>
	            <li><a th:if="${page.number le 0}" href="javascript:void(0);" class="paginate_button previous disabled">Anterior</a></li>
	
	        	<li><a th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}" th:href="@{${url}(page=${pageNo},size=${page.size},q=${q})}" th:class="${page.number eq pageNo}? 'paginate_button current' : 'paginate_button'">
	                	<span th:text="${pageNo + 1}"></span>
	           		</a>
				</li>
	            <li><a th:if="${page.number + 1 lt page.totalPages}" th:href="@{${url}(page=${page.number+1},size=${page.size},q=${q})}" class="paginate_button next">Siguiente</a></li>
	            <li><a th:if="${page.number + 1 ge page.totalPages}" href="javascript:void(0);" class="paginate_button next disabled">Siguiente</a></li>
			</ul>
			<div class="col-sm-12" style="font-size:11px; text-align: center;">
				Mostrando <span th:text="${page.numberOfElements}"></span> de <span th:text="${page.totalElements}"></span> objetos.
			</div>
		</div>
	</div>
	
	<div class="sectionadmin box1" th:fragment="paginador">
          <div class="col-sm-5 mostrandodisplay">
            <div class="dataTables_info">Mostrando <span th:text="${page.number + 1}"></span> de <span th:text="${page.totalPages}"></span> páginas</div>
          </div>

          <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers">
              <ul class="pagination">
                <li th:if="${page.number gt 0}" class="paginate_button previous"><a th:href="@{${url}(page=${page.number-1},size=${page.size},q=${q})}" aria-controls="example2" data-dt-idx="0" tabindex="0">Anterior</a></li>
                <li th:if="${page.number le 0}" class="paginate_button previous disabled"><a href="javascript:void(0);">Anterior</a></li>
                <li th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}" th:class="${page.number eq pageNo}? 'paginate_button active' : 'paginate_button notactive'"><a th:href="@{${url}(page=${pageNo},size=${page.size},q=${q})}" th:text="${pageNo + 1}">1</a></li>
                <li th:if="${page.number + 1 lt page.totalPages}" class="paginate_button next"><a th:href="@{${url}(page=${page.number+1},size=${page.size},q=${q})}">Siguiente</a></li>
                <li th:if="${page.number + 1 ge page.totalPages}" class="paginate_button next disabled"><a href="javascript:void(0);">Siguiente</a></li>
              </ul>
            </div>
          </div>      
	</div>

</body>
</html>