* {box-sizing:border-box;}

/* ========================================================================
 * FUENTES
 * ======================================================================== */

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold_italic';
    src: url('../fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ========================================================================
 * ESTILOS GENERALES
 * ======================================================================== */

html{height: auto;}
body {
	height: auto;
	margin: 0px;
	font-family: sans-serif;
}
#pantalla {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}
#contenedor {
	width: 100%;
	height: auto;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
	max-width: 100%;
}
/* Cambio nuevo Eliminar
.height100{
	height: 100% !important;
}
Fin Cambio nuevo */
h1, h2, h3, h4 {margin: 0px;}
img {max-width: 100%; height: auto;}
a, a:hover {text-decoration: none !important;}
ul {list-style-type: none; padding-inline-start: 0px; margin: 0; margin-bottom: 0px !important;}
p {margin: 0;}

.box1 {width: 100%; height: auto; float: left;}
.box0 {width: 100%; height: auto;}
.displayn{display: block;}
.displayn2{display: none}
.floatl{float: left;}
.floatr{float: right;}

.fondoliberium{
	width: 100%;
	background: linear-gradient(to right, rgba(161,189,49,1) 0%, rgba(28,129,63,1) 100%);
    background-attachment: fixed;
}
.fondoliberium2{
	width: 100%;
	background-image: url(../img/fondo.png);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box50{
	width: 50%;
	float: left;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #b3b3b3 #ccc;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
    margin: 4px;
  }
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
::-webkit-scrollbar-track:hover, 
::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
/* ========================================================================
 * BUTTONS
 * ======================================================================== */

button{
	margin: 0px;
	border: 0px;
	cursor: pointer;
	text-align: center;
	padding-top: 0;
	letter-spacing: 1px;
	outline: none !important;
}
button:hover{opacity: 0.8;}

.btn1{
	width: auto;
	height: 40px;
	border-radius: 20px;
	border: 2px solid #899a69;
	padding: 0px 33px;
	background-color: transparent;
	font-family: 'montserratbold';
	font-size: 14px;
	color: #839b3a;
}
.btn1:hover{
	color: #fff;
	background-color: #8fb23a;
	border: 2px solid #8fb23a;
}
.btnindex, .btnlogin{
	color: #fff;
	background-color: #8fb23a;
	width: auto;
	height: auto;
	padding: 10px 30px;
	border-radius: 5px;
	font-family: 'montserratbold';
	font-size: 13px;
	letter-spacing: 1px;
}
.btnindex{
	margin: 0px auto;
	display: block;
}
.btnregister{
	color: #8fb23a;
	border: 1px solid #8fb23a;
	background-color: #fff;
	width: auto;
	height: auto;
	padding: 10px 30px;
	border-radius: 5px;
	font-family: 'montserratbold';
	font-size: 13px;
	letter-spacing: 1px;
}
.btnmodal{
	width: auto;
	height: 35px;
	border-radius: 17.5px;
	padding: 0px 33px;
	background-color: #8fb23a;
	font-family: 'montserratbold';
	font-size: 14px;
	color: #fff;
}


/* ========================================================================
 * HEADER
 * ======================================================================== */
/* Cambio nuevo */
 header{
	width: 100%;
	height: 80px;
	position: relative;	
	float: left;
	z-index: 9999;
 }
 /* Fin Cambio nuevo */
 .headerindex{
	background-color: #fff;
	-webkit-box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.35);
	box-shadow: 0px -1px 7px 0px rgba(0,0,0,0.35);
 }
 nav{
 	width: 100%;
	height: auto;
	position: relative;
	float: left;
	padding: 15px 50px 0px 50px; 
 }
 .boxlogo, .boxlogoindex{
    height: auto;
    float: left;
    position: relative;
    cursor: pointer;
 }
 .boxlogo{
 	width: 50px;
    border-radius: 50%;
 }
 .boxlogoindex{
 	width: 170px;
 }
 	.boxlogo img, .boxlogoindex img {width: 100%; height: auto;}

/* ========================================================================
 * SECTIONS
 * ======================================================================== */

section {
	width: 100%; 
	height: auto;	
	float: left; 
	position: relative;
}
.registrate, .registrate2{
	float: left;
	width: 100%;
	height: auto;	
}
.registrate{
	margin-top: 80px;
	padding: 40px 30px;
}
.registrate2{
	padding: 80px 30px 70px 30px;
}
	.registrate h1, .registrate2 h1{
		font-size: 44px;
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
		font-family: 'montserratbold';
	}
	.registrate h4, .registrate2 h4 {
	    font-size: 16px;
	    text-align: center;
	    width: 100%;
	    margin-bottom: 16px;
	    font-weight: 400;
	    letter-spacing: 7px;
	    font-family: 'latoregular';
	    text-transform: uppercase;
	    color: #8fb23a;
	}
	.registrate button, .registrate2 button{
		margin: 0px auto;
		display: block;
	}
	.registrate2 img{
	    margin: 0px auto;
	    display: block;
	    margin-bottom: 20px;
	    width: 70px;
	    border-radius: 50%;
	}
/* Cambio nuevo */
.positioninicio {
    height: calc(100vh - 132px);
    display: table;
    position: relative;
}
/* Fin Cambio nuevo */
.middlebox {
    display: table-cell;
    vertical-align: middle;
}
.btnright{
	float: right;
	width: auto;
	height: auto;
	position: relative;
}
	.btnright button{
		float: right;
		margin-top: 8px;
		margin-left: 20px;
	}
.infoindex{
	padding: 0px 30px;
	max-width: 1350px;
	height: auto;
	margin: 0px auto;
	margin-top: 80px;
}
.h4info{
	font-size: 18px;
    font-family: 'latobold_italic';
    color: #8eb235;
    padding-left: 3px;
    margin-bottom: 4px;
}
.h1info1{
	font-family: 'montserratbold';
    font-size: 50px;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
    color:#333;
}
.h1info2{
	font-family: 'montserratbold';
    font-size: 43px;
    letter-spacing: 2px;
    margin-top: 70px;
    margin-bottom: 10px;
    color:#333;
    text-align: center;
}
	.h1info1 span, .h1info2 span{
		color:#8eb235;
	}
.pinfo1{
	max-width: 445px;
    color: #333;
    font-size: 19px;
    line-height: 36px;
    font-family: 'latoregular';
}
.hrindex {
    width: 620px;
    height: 3px;
    background-color: #c2c3c8;
    margin: 0px auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
}
.padleft{
	padding-left: 95px;
}
.box-ventajas{
	padding: 0 3%;
	width: 100%;
	position: relative;
	height: auto;
}
.ventaja{
	width: 31.33%;
	height: 405px;
	margin: 0 1%;
	float: left;
	position: relative;
	background-color: #fff;
	border-radius: 50px 0px 50px 0px;
	box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.30);
	padding: 35px 40px 25px 40px;
}
	.ventaja img{
		width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    margin: 0px auto;
	    display: block;
	    margin-bottom: 20px;
	}
	.ventaja h3{
		font-family: 'montserratbold';
		font-size:21px;
		width: 100%;
		letter-spacing: 1px;
		text-align: center;
		color: #8eb235;
		margin-bottom: 25px;
	}
	.ventaja p{
		font-family: 'latoregular';
	    text-align: center;
	    font-size: 14px;
	    line-height: 24px;
	    color: #434142;
	}
.frasebutton{
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	padding: 0 0 45px 0;
}
.datosfrase{
	width: 1045px;
	height: auto;
	margin: 0px auto;
}
	.datosfrase h1{
		font-size: 40px;
		float: left;
		width: auto;
	}
	.datosfrase button{
		float: right;
	}
.boxnumber{
	background-color: #d7d8dc;
	padding: 30px 0;
	float: left;
	height: auto;
	width: 100%;
	position: relative;
}
.boxnumber img{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 20px;
}
.boxnumber h4, .boxnumber p, .boxnumber p a, .boxnumber p span{
	font-size: 21px;
	font-family: 'latobold_italic';
	width: auto;
	color: #000;
	padding-top: 2px;
	float: left;
}
.boxnumber p{
	padding-left: 10px;
}
.boxnumber p a{
	padding: 0 10px;
}
.boxnumber p a:hover{
	color: #8eb235;
}
.datosnumber{
	width: 740px;
	margin: 0px auto;
	height: 40px;
}
.psolicitar {
    font-family: 'latoregular';
    font-size: 16px;
    color: #8eb235;
    float: left;
    margin-top: 20px;
    max-width: 436px;
    line-height: 26px;
    margin-bottom: 20px;
}
.btnsolicitar {
    font-family: 'latobold';
    border: 2px solid #fff;
    background-color: #8eb235;
    color: #fff;
    border-radius: 15px;
    padding: 7px 25px;
    letter-spacing: 1px;
    margin-right: 20px;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    border: 0;
}
.fondosection{
	position: relative;
    background-image: url(../img/fondosection.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.minhr, .minhr2{
	width: 70px;
	height: 3px;
	background-color: #8eb235;
	border: 0;
}
.minhr{
	float: left;
}
.minhr2{
	margin-bottom: 40px;
}
.imgpanel{
	margin-top: 15px;
}

/* ========================================================================
 * SLIDER
 * ======================================================================== */
 .paddingslider{
 	padding: 0 5%;
 }
 .boxslider{
 	float: left;
    width: 100%;
    height: 610px;
    position: relative;
 }
.boxslider2{
	width: 100%;
	float: left;
}
.carousel{position:relative; width: 100%; height: 610px; max-width:1200px; margin:0px auto; display: block;}
.carousel-inner{position:relative;width:100%;overflow:hidden; height: 610px;}
.carousel-item{position:relative;display:none;-ms-flex-align:center;align-items:center;width:100%;transition:-webkit-transform .6s ease;transition:transform .6s ease;transition:transform .6s ease,-webkit-transform .6s ease;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;perspective:1000px}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center top scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 610px;
}

 @media screen and (prefers-reduced-motion:reduce){
 	.carousel-item{transition:none}
 }
.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}
.carousel-item-next,.carousel-item-prev{position:absolute;top:0}
.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{-webkit-transform:translateX(0);transform:translateX(0)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.active.carousel-item-right,.carousel-item-next{-webkit-transform:translateX(100%);transform:translateX(100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item-right,.carousel-item-next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.active.carousel-item-left,.carousel-item-prev{-webkit-transform:translateX(-100%);transform:translateX(-100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item-left,.carousel-item-prev{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}.carousel-fade .carousel-item{opacity:0;transition-duration:.6s;transition-property:opacity}.carousel-fade .carousel-item-next.carousel-item-left,.carousel-fade .carousel-item-prev.carousel-item-right,.carousel-fade .carousel-item.active{opacity:1}.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{opacity:0}.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-prev,.carousel-fade .carousel-item-next,.carousel-fade .carousel-item-prev,.carousel-fade .carousel-item.active{-webkit-transform:translateX(0);transform:translateX(0)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-prev,.carousel-fade .carousel-item-next,.carousel-fade .carousel-item-prev,.carousel-fade .carousel-item.active{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;width:15%;color:#fff;text-align:center;opacity:.5}.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}.carousel-control-prev{left:0}.carousel-control-next{right:0}.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}
.carousel-control-prev-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}
.carousel-control-next-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}
.carousel-indicators{position:absolute;right:0;bottom:10px;left:0;z-index:15;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}
.carousel-indicators li{position:relative;-ms-flex:0 1 auto;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;cursor:pointer;background-color:rgba(255,255,255,.5)}
.carousel-indicators li::before{position:absolute;top:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}
.carousel-indicators li::after{position:absolute;bottom:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}
.carousel-indicators .active{background-color:#fff}
.carousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center}
.align-baseline{vertical-align:baseline!important}.align-top{vertical-align:top!important}.align-middle{vertical-align:middle!important}
.align-bottom{vertical-align:bottom!important}.align-text-bottom{vertical-align:text-bottom!important}
.align-text-top{vertical-align:text-top!important}.bg-primary{background-color:#007bff!important}

/* ========================================================================
 * LOGIN AND REGISTER
 * ======================================================================== */

.boxinicio{
	margin: 0px auto;
	padding: 45px 50px 40px 50px;
}
/* Cambio nuevo */
.boxinicio, .boxregister{
	width: 375px;
	height: auto;
	background-color: #fff;
	border-radius: 40px 0px 40px 0px;
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.30);
}
.boxregister{
	padding: 35px 50px;
	float: right;
}
/* Fin Cambio nuevo */
.boxinicio h2, .boxregister h2{
	width: 100%;
	font-size: 25px;
	margin-bottom: 7px;
	font-family: 'montserratbold';
	color: #575756;
}
.boxinicio h2 span, .boxregister h2 span{
	color: #839b3a;
}
.boxinicio h4, .boxregister h4{
	width: 100%;
	font-size: 15px;
	margin-bottom: 26px;
	font-family: 'latoregular';
	font-style: italic;
	color: #575756;
	letter-spacing: 1px;
}
.boxinicio input, .boxregister input{
	width: 100%;
	height: 24px;
	position: relative;
	float: left;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #e8e8eb;
	font-family: 'latoregular';
	padding: 0px 3px;
	outline: none !important;
}
.boxinicio input::placeholder, .boxregister input::placeholder{
	color: #9b9b9a;
	border: 0;
}
.boxinicio p, .boxregister p{
	width: 100%;
	font-size: 12px;
	font-family: 'latoregular';
	font-style: italic;
	color: #3e3d3d;
}
.boxinicio h2, .boxinicio h4, .boxinicio p{
	text-align: center;
}
.enlace1 {
    font-family: 'latobold';
    color: #839b3a;
    letter-spacing: 1px;
    font-style: normal;
    padding: 0px 4px;
    margin-left: 3px;
}
.enlace2{
	font-family: 'latobold_italic';
	color: #839b3a;
	margin-left: 3px;
}
.enlace3{
	font-family: 'latobold';
	color: #839b3a;
}
.boxinicio button{
	margin: 0px auto;
	margin-top: 25px;
	margin-bottom: 25px;
	display: block;
}
.boxregister button{
	margin-top: 25px;
	margin-bottom: 25px;
}
.logoinicio{
	width: 100%;
	margin-bottom: 40px;
}
.logoinicio img{
	width: 230px;
	margin: 0px auto;
	display: block;
}
.olvidac{
	float: right;
	color: #839b3a;
	font-size: 13px;
	font-family: 'latobold_italic';
}
.enlace1:hover, .enlace2:hover, .enlace3:hover, .olvidac:hover{
	border-bottom: 1px solid #839b3a !important;
	opacity: 0.8;
	color: #839b3a;
}
.containerb {
  display: block;
  position: relative;
  margin-top: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.containerb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmarkb {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.containerb:hover input ~ .checkmarkb {
  background-color: #ccc;
}
.containerb input:checked ~ .checkmarkb {
  background-color: #839b3a;
}
.checkmarkb:after {
  content: "";
  position: absolute;
  display: none;
}
.containerb input:checked ~ .checkmarkb:after {
  display: block;
}
.containerb .checkmarkb:after {
	left: 5px;
	top: 1px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.checkregister p{
	padding-left: 30px;
	font-style: normal;
}
.boxinforegister{
	margin: 0px auto;
	width: 976px;
	height: auto;
	display: table;
}
.inforegisterfondo{
	width: 526px;
	height: auto;
	background-image: url(../img/logoliberiumblanco-02.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
}
.inforegister{
	width: 526px;
	height: auto;
	display: table-cell;
    vertical-align: middle;
}
.inforegister img{
	width: 324px;
	margin-left: -10px;
}
.inforegister p{
	border-left: 3px solid #fff;
	padding-left: 18px;
	font-family: 'montserratbold_italic';
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	margin-top: 30px;
}

/* ========================================================================
 * FOOTER
 * ======================================================================== */

footer{
	width: 100%;
	height: auto;    
    float: left;
    font-size: 14px;
}
footer hr{
	margin-bottom: 17px;
}
footer a{
	color: #fff;
	float: right;
}
footer p{
	color: #fff;
	float: left;
}
.footerindex{
	padding: 23px 50px 20px 50px;
	background-color: #434142;	
}
/* Cambio nuevo */
.footerlr{
	position: relative;
	padding: 0px 50px 10px 50px;
}
/* Fin Cambio nuevo */

/* ========================================================================
 * VENTANA MODAL
 * ======================================================================== */

.modal_mask {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(3, 4, 1, 0.8);
  opacity:0;
  pointer-events:none;
  -webkit-transition:all 200ms linear;
  transition:all 200ms linear;
  /*z-index:-1;*/
  display: table;
  height: 100%;
}
.boxmiddle{
  display: flex;
  vertical-align: middle;
}
.modal_mask:target {
  opacity:1;
  top:0;
  pointer-events:auto;
  z-index:9999;
}
.cerrar {
  position:relative;
  float:right;
}
.cerrar img{
  height: 20px;
  width: auto;
}
.modal1{
	width: 800px;
	height: 550px;
}
.modal2{
	width: 350px;
	height: auto;
}
.modal3{
	width: 600px;
	height: auto;
}
.modal4{
	width: 485px;
	height: 315px;
}
.modal5{
	width: 528px;
	height: auto;
}
.modal6{
	width: 615px;
	height: auto;
}
.modal7{
	width: 860px;
	height: 600px;
}
.modal2 button, .modal3 button, .modal4 button, .modal5 button, .modal6 button{
	margin: 0px auto;
	display: block;
	margin-bottom: 10px;
}
.box-modal{
  border-radius: 20px;
  margin: 0px auto;
  box-shadow: 0 0 1px 0 #818181;
  padding: 25px;
  background-color: #fff;
}
.cabecera{
	margin-bottom: 30px;
}
.cabecerab{
	margin-bottom: 13px;
}
.cabecera1{
	width: 37px;
	height: 37px;
	margin-right: 18px;
	float: left;
}
.cabecera2{
	width: auto;
	float: left;
}
	.cabecera2 span{
		font-size: 21px;
		font-family: 'latobold_italic';
		color: #575756;
	}
.contenidomodal1{
	padding: 0px 50px;
}
.contenidomodal2, .contenidomodal3, .contenidomodal6{
	padding: 0px 15px;
	margin-bottom: 10px;
}
.contenidomodal4, .contenidomodal5, .cuestionario{
	padding: 0px 25px;
}
.contenidomodal6{
	padding: 0px 22px;
	margin-bottom: 10px;
}
	.cabecera2	h2{
		font-family: 'montserratbold';
		font-size: 30px;
		color: #8fb23a;
	}
	.cabecera2	p, .contenidomodal2 p, .contenidomodal3 p, .contenidomodal5 p{
		font-family: 'latoregular';
		font-style: italic;
		font-size: 15px;
		color: #575756;
	}
	.contenidomodal2 p{
		margin-bottom: 14px;
	}
	.contenidomodal2 span{
		font-family: 'montserratbold';
		color: #899a69;
	}
	.contenidomodal3 p, .contenidomodal3 h3{
		text-align: center;
	}
	.contenidomodal3 h3, .contenidomodal5 h3{
		color: #8fb23a;
		font-size: 20px;
		font-family: 'latobold';
	}
	.contenidomodal3 span, .contenidomodal5 span{
		color: #899a69;
	}
	.contenidomodal4 p{
		font-family: 'latobold_italic';
		color: #575756;
		font-size: 15px;
		float: left;
	}
.span1{
	font-size: 17px;
}	
	
.opcionmodal h4{
	font-family: 'latobold_italic';
	font-size: 17px;
	float: left;
	margin-bottom: 10px;
}
.margininputopcion{
	margin: 0 27px 0 87px;
	float: left;
	height: 35px;
	border: 1px solid #899a69;
	border-radius: 10px;
	width: 63%;
	padding:0 10px; 
}
.marginselectopcion1{
	margin: 0 17px 0 87px;
	float: left;
	height: 35px;
	border: 1px solid #899a69;
	border-radius: 10px;
	width: 30%;
	padding:0 10px; 
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	background: url(../img/select.png) 93% / 15px no-repeat;
}
.marginselectopcion2{
	margin: 0 27px 0 0px;
	float: left;
	height: 35px;
	border: 1px solid #899a69;
	border-radius: 10px;
	width: 30%;
	padding:0 10px; 
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	background: url(../img/select.png) 93% / 15px no-repeat;
}
.margininputopcion::placeholder, .marginselectopcion1, .marginselectopcion2, .textareaopcion{
	font-family: 'latoregular';
	font-style: italic;
	font-size: 14px;
	color: #575756;
}
.textareaopcion{
	border: 1px solid #899a69;
	border-radius: 10px;
	width: 100%;
	padding: 16px 15px;
	height: 180px;
}
.buttonmiddle{
	width: 296px;
	height: auto;
	margin: 0px auto;
	display: block;
}
.buttonmiddle button{
	margin: 0 7px;
	float: left;
}
.containerc {
	display: block;
	position: relative;
	padding-left: 27px;
	cursor: pointer;
	font-family: 'latobold_italic';
	color: #575756;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 25px;
	width: auto;
	float: left;
}
.containerc input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.containerc:hover input ~ .checkmark {
  background-color: #ccc;
}
.containerc input:checked ~ .checkmark {
  background-color: #fff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.containerc input:checked ~ .checkmark:after {
  display: block;
}
.containerc .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #8fb23a;
}
.boxcheck{
	margin-bottom: 15px;
	margin-top: 17px;
}
.cuestionario{
	margin-bottom: 10px;
}
.cuestionario label{
	float: left;
	width: 100%;
	font-family: 'latoregular';
	font-style: italic;
	font-size: 14px;
	color: #575756;
	padding-left: 8px;
	margin-bottom: 3px;
}
.cuestionario input, .cuestionario select{
	margin: 0 0 12px 0;
	float: left;
	height: 35px;
	border: 1px solid #899a69;
	border-radius: 10px;
	padding:0 10px;
	width: 100%; 
}
.cuestionario textarea{
	height: 80px;
}
.cuestionario p{
	font-family: 'latoregular';
	float: right;
	font-size: 12px;
	color: #575756;
	padding-right: 10px;
}
.cuestionario input::placeholder{
	font-family: 'latoregular';
	font-style: italic;
	font-size: 14px;
	color: #575756;
}
.ancho20{
	width: 20%;
	float: left;
	padding: 0 6px;
}
.ancho40{
	width: 40%;
	float: left;
	padding: 0 6px;
}
.ancho50{
	width: 50%;
	float: left;
	padding: 0 6px;
}
.ancho60{
	width: 60%;
	float: left;
	padding: 0 6px;
}
.ancho100{
	width: 100%;
	float: left;
	padding: 0 6px;
}
.textosb{
	margin-bottom: 20px;
}
.textosb p{
	font-size: 12px !important;
	margin-bottom: 0;
}
.boxabogados{
	width: 100%;
	height: 114px;
	padding: 17px 23px;
}
.boxabogados .containerc{
	margin-left: 0;
}
.abogado{
	width: 100%;
	height: auto;
	float: left;
	margin-left: 9px;
}
.boxabogado{
	width: 78px;
	height: 78px;
	border-radius: 50%;
	border: 2px solid #8fb23a;
	margin-right: 25px;
	float: left;
}
.fondoabogado1{
	background-color: #f5f5f5;
}
.fondoabogado2{
	background-color: #ececeb;
}
.boxabogados .containerc .checkmark{
	margin-top: 29px;
}
	.boxabogado img{
		width: 62px;
		height: 62px;
		margin: 6px;
	}
.datosabogado{
	width: auto;
	float: left;
	padding-top: 6px;
}
	.datosabogado h4{
		font-family: 'latobold_italic';
		color: #8fb23a;
		font-size: 17px;
	}
	.datosabogado p{
		font-family: 'latobold_italic';
		color: #575756;
		font-size: 15px;
		margin-bottom: 0;
	}
	.datosabogado p span{
		font-family: 'latoregular';
		font-style: italic;
		color: #575756;
	}
.boxlista{
	padding: 0 55px;
}
.lista{
	width: 100%;
	height: 340px;
	overflow-y: auto;
	margin: 17px 0 30px 0;
}
.lista::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
  margin: 4px;
}
.lista::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.lista::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.lista::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
.lista::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.lista::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
.lista::-webkit-scrollbar-track:hover, 
.lista::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.calendariopersonal{

}
	.calendariopersonal h4{
		font-family: 'latobold';
		font-size:18px;
		color: #8fb23a;
		float: left;
	}
	.calendariopersonal h4 span{
		font-family: 'latobold_italic';
		color: #575756;
	}
.mescalendario{
	float: right;
}
	.mescalendario p{
		font-family: 'latoregular';
		font-size: 17px;
		color: #9b9b9a;
		float: left;
		margin: 0 10px;
	}
	.mescalendario img{
		height: 13px;
	    width: auto;
	    float: left;
	    margin: 5px 0;
	    cursor: pointer;
	}
.cursocalendario {float: left; width: 100%; margin: 21px 0px 20px 0px; height: auto; position: relative;}
.columnahoras {width: 4.8%; float: left; height: auto;}
.celda1hora{
	width: 100%; 
	height: 25px; 
	border: 1px solid #606060; 
	float: left;
	font-size: 11px;
	font-family: 'latoregular';
	text-align: center;
	padding-top: 2px;
	color: #fff;
}
.celdahoras2 {width: 100%; height: 25px; float: left;}
	.celdahoras2 p{
	    font-size: 10px;
	    text-align: left;
	    color: #b0b0b0;
	    font-family: 'latobold';
	    padding-top: 4px;
	}
.celdafecha {width: 100%; height: 69px; float: left}
	.celdafecha h3 {
	    text-align: center;
	    font-weight: 500;
	    font-family: 'latobold';
	    font-size: 16px;
	    height: 34px;
	    width: 34px;
	    border-radius: 50%;
	    margin: 0px auto;
	    padding-top: 5px;
	    color: #8fb23a;
	}
	.celdafecha h3:hover, .celdaactiva h3 {
	    color: #fff;
	    background-color: #8fb23a;
	}
	.celdafecha h4 {
	    text-align: left;
	    font-weight: 500;
	    margin-bottom: 5px;
	    text-align: center;
	    font-family: 'latobold';
	    color: #9b9b9a;
	}
.celdafinal {width: 100%; height: 33px; float: left}
.tablacalendario {width: 95.2%; height: auto; position: absolute; right: 0; z-index: 999;}
.columnadias {width: 14.28%; float: left; height: auto;}
.tdisponible{
	background-color: #4470b4;
	border-radius: 6px;
    border: 2px solid #fff;;
}
.tdisponible:hover{
	background-color: #8fb23a; 
	border-radius: 0px;
	cursor: pointer;
	border: 0;
	padding-top: 3px;
	font-size: 12px;
}
.tocupado{
	background-color: #c4c4c4;
	border-radius: 6px;
    border: 2px solid #fff;
}
.paddingl{
	padding-left:55px;
}
.fc-time-grid-event.fc-short .fc-title {
    line-height: 22px;
    text-align: center;
    width: 100%;
}
.alert-info {
    padding-top: 20px;
    float: left;
    width: 100%;
}
/* ========================================================================
 * MOBILE
 * ======================================================================== */

@media screen and (max-width: 1150px){

	.boxinforegister{
		width: 100%;
	}
	.inforegisterfondo, .inforegister{
		display: none;
	}
	.boxregister{
		float: none;
		margin: 0px auto;
	}
	.boxregister h2, .boxregister h4, .boxregister p{
		text-align: center;
	}
	.checkregister p{
		text-align: left;
	}
	.boxregister button{
		margin: 0px auto;
		margin-top: 25px;
		margin-bottom: 25px;
		display: block;
	}
	.padleft {
	    padding-left: 20px;
	}
	.box-ventajas{
		padding: 0;
	}
	.ventaja{
		height: 450px;
	}
	.imgpanel {
	    margin-top: 50px;
	}
}
@media screen and (max-width: 1050px){
	.registrate h1, .registrate2 h1 {
	    font-size: 40px;
	}
	.pinfo1 {
	    max-width: 100%;
	    font-size: 17px;
	    line-height: 33px;
	    padding-right: 30px;
	}
	.ventaja{
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.ventaja p {
	    text-align: left;
	    font-size: 17px;
	    line-height: 31px;
	}
	.ventaja1{
		width: 30%;
		float: left;
	}
	.ventaja2{
		width: 70%;
		float: right;
		padding-top: 20px;
	}
	.boxslider, .boxslider, .carousel-inner, .carousel-item, .carousel-control-next, .carousel-control-prev, .carousel{
		height: 450px;
	}
}

@media screen and (max-width: 950px){
	.registrate h1, .registrate2 h1 {
	    font-size: 32px;
	}
	.registrate h4, .registrate2 h4 {
	    font-size: 13px;
	}
	.padleft {
	    padding-left: 0;
	    padding-top: 0;
	}
	.ventaja2 {
	    padding-top: 0;
	}
	.ventaja h3{
		font-size: 17px;
	}
	.registrate2 {
	    padding: 50px 30px 70px 30px;
	}
	.imgpanel {
	    margin-top: 60px;
	}
	.psolicitar{
		padding-right: 30px;
	}
}

@media screen and (max-width: 890px){	
	.modal7 {
	    width: 100%;
	    height: 100%;
	    border-radius: 0;
	    position: absolute;
	    float: left;
	    top: 0;
	}
	.tablaresponsive{
		overflow-y: hidden;
	    overflow-x: scroll;
	    margin-bottom: 20px;
	}
	.cursocalendario {
	    width: 800px;
	    margin: 21px 0px 5px 0px;
	}
}

@media screen and (max-width: 870px){
	.boxslider, .boxslider, .carousel-inner, .carousel-item, .carousel-control-next, .carousel-control-prev, .carousel{
		height: 400px;
	}
	.pinfo1, .psolicitar {
	    font-size: 14px;
	    line-height: 25px;
	}
	.ventaja p {
	    font-size: 16px;
	    line-height: 28px;
	    padding-left: 10px;
	}
	.datosnumber {
	    width: 100%;
	    margin: 0;
	    height: auto;
	    float: left;
	    padding: 0 30px;
	    padding-left: 9%;
	}
	.boxnumber h4, .boxnumber p a {
	    font-size: 17px;
		text-align: center;
	}
	.boxnumber p span{
		display: none;
	}
	.boxnumber img {
	    width: 30px;
	    height: 30px;
	    margin-left: 10px;
	}
	.ventaja img {
	    margin-top: 17px;
	}
	.imgpanel {
	    margin-top: 70px;
	}
}

@media screen and (max-width: 850px){
	.modal1{
	    width: 90%;
	}
	.contenidomodal1 {
	    padding: 0px 10px;
	}	
	.margininputopcion, .marginselectopcion1 {
	    margin: 0 3% 0 13%;
	}
	.marginselectopcion2 {
	    margin: 0 3% 0 0;
	}
}

@media screen and (max-width: 750px){
	/* Cambio nuevo Eliminar
	header{
		height: auto;
	}
	Fin Cambio nuevo */
	nav {
	    padding: 15px 40px;
	}
	.boxlogoindex {
	    width: 130px;
	}
	.btnright button {
	    margin-top: 4px;
	}
	.btn1 {
	    height: 32px;
	    border-radius: 16px;
	    padding: 0px 25px;
	    font-size: 12px;
	}
	.boxslider, .boxslider, .carousel-inner, .carousel-item, .carousel-control-next, .carousel-control-prev, .carousel {
	    height: 300px;
	}
	.ventaja p {
	    padding-left: 20px;
	}
	.modal1 button{
		float: right;
	}
	.margininputopcion, .marginselectopcion1 {
	    margin: 0 3% 0 0;
	}
	.margininputopcion{
		width: 70%;
	}
	.marginselectopcion1, .marginselectopcion2{
		width: 33.5%;
	}
}
@media screen and (max-width: 720px){
	.boxnumber h4, .boxnumber h4 a {
	    width: auto;
	}
	.box50 {
	    width: 100%;
	}
	.imgpanel {
	    margin-top: 30px;
	}
	.psolicitar {
	    padding-right: 0;
	    width: 100%;
	    text-align: center;
	    max-width: 100%;
	    margin-top: 8px;
	}
	.h1info1, .h4info {
	    text-align: center;
	}
	.minhr {
	    float: none;
	}
	.pinfo1 {
	    text-align: center;
	    margin-bottom: 0px;
	    margin-top: 10px;
	    width: 100%;
	    float: left;
	    padding-right: 0px;
	}
	.footerindex {
	    padding: 15px 30px;
	}
	.boxnumber h4, .boxnumber p {
	    font-size: 15px;
	    padding-top: 4px;
	    width: 100%;
	    float: left;
	    text-align: center;
	    padding-left: 0;
	}
	.boxnumber p a{
		float: none;
	}
	.boxnumber img {
	    display: none;
	}
	.boxbutton{
		width: 280px;
		margin: 0px auto;
		height: auto;
	}
	.btnsolicitar{
		margin: 0 10px;
		width: 120px;
	}
}

@media screen and (max-width: 685px){
	.modal3 {
	    width: 90%;
	}
	.boxlista{
		padding: 0;
	}
	.modal6 {
	    width: 100%;
	    height: 100%;
	    border-radius: 0;
	}
}

@media screen and (max-width: 585px){
	.ventaja1, .ventaja2{
		width: 100%;
	}
	.boxnumber h4 span{
		width: 100%;
		float: left;
	}
	.cabecera2{
		width: 80%;
	}
	.modal1, .modal5 {
	    width: 100%;
	    height: 100%;
	    border-radius: 0;
	}
	.modal2 {
	    width: 90%;
	}
	.modal1 button{
		float: none;
		margin: 0px auto;
		display: block;
		margin-bottom: 10px;
	}
	.margininputopcion {
	    width: 100%;
	    margin-bottom: 15px;
	}
	.marginselectopcion1 {
	    width: 49%;
	    margin: 0 1% 15px 0;
	}
	.marginselectopcion2 {
	    width: 49%;
	    margin: 0 0 15px 1%;
	}
	.btnsolicitar{
		font-family: 11px;
	}
}

@media screen and (max-width: 540px){
	nav {
	    padding: 15px 20px;
	}
	.displayn2{display: block;}
	/* Cambio nuevo */
	.headerlr, .displayn, .footerlr{
		display: none;
	}
	.positioninicio{
		background-color: #fff;
		height: 100vh;
	}
	.boxinicio, .boxregister{
		width: 100%;
		height: 100vh;
		border-radius: 0;
		padding: 45px 30px 40px 30px;
		box-shadow: none;
	}
	.box1mobile, .box2mobile, .box3mobile{width: 100%; float: left;}
	.box1mobile{height:180px;}
	.box2mobile{height:calc(100% - 328px); display: flex; align-items: center;}
	.box3mobile{height:128px;}
	/* fin Cambio nuevo */
	.registrate {
	    margin-top: 70px;
	}
	.boxinicio p, .boxregister p{
		font-size: 12px;
	}
	footer{
		font-size: 12px;
	}
	footer hr {
	    margin-bottom: 10px;
	}
	footer a, footer p{
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}
	.footerlr a, .footerlr p{
		width: 100%;
		text-align: center;
		color: #3e3d3d;
		margin-bottom: 5px;
	}
	.boxinforegister {
    	width: 100%;
	}
	.middlebox {
	    vertical-align: inherit;
	}
	.container{
		margin-top: 20px;
	}
	.boxregister button{
		margin: 0px auto;
		margin-top: 20px;
		margin-bottom: 20px;
		display: block;
	}
	.paddingslider {
	    padding: 0;
	}
	.ventaja p {
	    font-size: 14px;
	    line-height: 24px;
	    padding-left: 0px;
	    text-align: center;
	}
	.ventaja img {
	    margin-top: 0px;
	}
	.registrate h4, .registrate2 h4 {
	    font-size: 12px;
	    letter-spacing: 4px;
	}
	.registrate h1, .registrate2 h1 {
	    font-size: 28px;
	}
	.infoindex {
	    margin-top: 40px;
	}
	.h1info1 {
	    font-size: 40px;
	}
	.h1info2 {
	    font-size: 35px;
	    margin-top: 40px;
	}
	.ventaja {
	    padding: 30px 15px;
	}
	.ventaja img {
	    width: 70px;
	    height: 70px;
	}
	.ventaja h3 {
	    margin-bottom: 15px;
	}
	.registrate2 {
	    padding: 20px 30px 45px 30px;
	}
	.boxnumber {
	    padding: 20px 0;
	}
	.calendariopersonal h4 {
	    width: 100%;
	    text-align: center;
	    margin-bottom: 10px;
	}
	.mescalendario {
	    float: none;
	    margin: 0px auto;
	    width: 180px;
	}
		.mescalendario p {
		    text-align: center;
		    width: 145px;
		}
	.modal4 {
	    width: 100%;
	    height: 100%;
	    border-radius: 0;
	}
}

@media screen and (max-width: 480px){
	.boxnumber p a{
		width: 100%;
		float: left;
	}
	.boxabogados {
	    height: auto;
	    float: left;
	    text-align: center;
	}
	.boxabogado {
	    float: none;
	    margin: 0px auto;
	}
	.boxabogados .containerc {
	    width: 90%;
	}
	.datosabogado {
	    float: none;
	    margin: 0px auto;
	    text-align: center;
	}
	.contenidomodal6{
		padding: 0;
	}
	.ancho20{
		width: 50%;
	}
	.ancho40, .ancho50, .ancho60{
		width: 100%;
	}
	.cuestionario {
	    overflow-y: scroll;
	    height: 46%;
	}
	.cuestionariob{
		overflow-y: inherit !important;
		height: auto !important;
	}
	.barraultima {
	    overflow-y: scroll;
	    height: 74%;
	    margin-bottom: 20px;
	    padding-right: 20px !important
	}
	.barraultima::-webkit-scrollbar-thumb {
	  background: #ccc;
	  border-radius: 4px;
	  margin: 4px;
	}
	.barraultima::-webkit-scrollbar {
	  width: 8px;
	  height: 8px;
	}
	.barraultima::-webkit-scrollbar-thumb {
	  background: #ccc;
	  border-radius: 4px;
	}
	.barraultima::-webkit-scrollbar-thumb:active {
	  background-color: #999999;
	}
	.barraultima::-webkit-scrollbar-thumb:hover {
	  background: #b3b3b3;
	  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	}
	.barraultima::-webkit-scrollbar-track {
	  background: #e1e1e1;
	  border-radius: 4px;
	}
	.barraultima::-webkit-scrollbar-track:hover, 
	.barraultima::-webkit-scrollbar-track:active {
	  background: #d4d4d4;
	}
}

@media screen and (max-width: 450px){
	.modal_mask{
		display: inherit;
	}
	.boxmiddle {
	    display: inherit;
	    vertical-align: inherit;
	    height: 100%;
	}
	.modal2, .modal3 {
	    width: 100%;
	    height: 100%;
	    border-radius: 0;
	}
	.modal2 .contenidomodal2 .cabecerab .cabecera2{
		width: 70% !important;
	}
	.cerrar img {
	    height: 17px;
	    padding-bottom: 3px;
	}
	.contenidomodal1 {
	    padding: 0 10px 0 0; 
	}
	.cabecera {
	    margin-bottom: 25px;
	}
	.cabecera2 h2{
		font-size: 22px;
	}
	.opcionmodal h4 {
	    font-size: 14px;
	}
	.lista {
	    height: 400px;
	}
	.cuestionario {
	    height: 65%;
	}
	.containerc {
	    padding-left: 25px;
	    font-size: 14px;
	    margin-left: 0;
	    margin-right: 20px;
	    margin-top: 10px;
	}
	.boxcheck {
	    margin-top: 0;
	}
	.contenidomodal4 p{
		width: 100%;
	}
	.barraultima {
	    height: 85%;
	}
}

@media screen and (max-width: 370px){
	.enlace1, .enlace2{
		width: 100%;
		float: left;
	    margin-bottom: 10px;
	}
	.contenidomodal4, .contenidomodal5, .cuestionario, .contenidomodal6 {
	    padding: 0;
	}
	.lista {
	    margin: 10px 0 10px
	}
	.btn1 {
	    height: 30px;
	    border-radius: 15px;
	    padding: 0px 23px;
	    font-size: 11px;
	}
	.buttonmiddle {
	    width: 231px;
	}
	.paddingl{
		padding: 0;
	}
	.cuestionario {
	    height: 64%;
	}
	/* Cambio nuevo */
	.box2mobile{height:calc(100% - 348px);}
	.box3mobile{height:168px;}
	/* Fin Cambio nuevo */
}


@media screen and (max-width: 340px){

	html, body, #pantalla, #contenedor{
		height: auto;
	}
	.fondoliberium{
		background: none;
		background-color: #fff;
	}
	.fondoliberium2{
		background-image: none;
	}
	.positioninicio, .boxinicio, .boxregister{
		height: auto;
		float: left;
		position: relative;
	}
	.boxinicio, .boxregister{
		padding: 45px 30px 20px 30px;
	}
	footer{
		position: relative;
		float: left;
	}
	.registrate h1, .registrate2 h1 {
	    font-size: 23px;
	}
	.ventaja p {
	    font-size: 12px;
	    line-height: 20px;
	}
	.contenidomodal1 {
	    height: 85%;
	    overflow-y: auto;
	}
	.contenidomodal1::-webkit-scrollbar-thumb {
	  background: #ccc;
	  border-radius: 4px;
	  margin: 4px;
	}
	.contenidomodal1::-webkit-scrollbar {
	  width: 8px;
	  height: 8px;
	}
	.contenidomodal1::-webkit-scrollbar-thumb {
	  background: #ccc;
	  border-radius: 4px;
	}
	.contenidomodal1::-webkit-scrollbar-thumb:active {
	  background-color: #999999;
	}
	.contenidomodal1::-webkit-scrollbar-thumb:hover {
	  background: #b3b3b3;
	  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	}
	.contenidomodal1::-webkit-scrollbar-track {
	  background: #e1e1e1;
	  border-radius: 4px;
	}
	.contenidomodal1::-webkit-scrollbar-track:hover, 
	.contenidomodal1::-webkit-scrollbar-track:active {
	  background: #d4d4d4;
	}
	.cabecera {
	    margin-bottom: 15px;
	}
	.cabecera1{
		margin-bottom: 10px;
	}
	.cabecera2 {
	    width: 100%;
	}
	.marginselectopcion1, .marginselectopcion2 {
	    width: 100%;
	    margin: 0 0 15px 0;
	    float: left;
	}
	.calendariopersonal h4 {
	    font-size: 15px;
	    margin-bottom: 7px;
	}
	.cursocalendario {
	    margin: 10px 0px 5px 0px;
	}
	.celdafecha {
	    height: 55px;
	}
	.celdafecha h3 {
	    font-size: 14px;
	    height: 30px;
	    width: 30px;
	}
	.celdafecha h4 {
	    margin-bottom: 1px;
	    font-size: 13px;
	}
	.cuestionario {
	    height: 55%;
	}
}