<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>
		
		<!-- Content Wrapper. Contains page content -->
	

		<div class="content-wrapper col-sm-11">
			<section class="content2">
			
			<div class="box1">

			</div>
	
				<div class="box1 sectionadmin">
					<h3>Abogados</h3>
					<a href="#agregar">
						<label for="btngreen" class="btngreen">+ Agregar</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn" class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span>
							<input type="text" name="q" class="form-control" placeholder="Busque el proceso solicitado">
						</div>
					</form>
					<hr>
				</div>
				
				<div id="alerta"></div>
				
				<div class="box-usuarios">
          <div class="tabla table-responsive" >
            <table class="table">
              <tbody>
                <tr>
                  <th class="columna1">Apellido y Nombre</th>
                  <th class="columna1">E-mail</th>
                  <th class="columna1">Provincia</th>
                  <th class="columna1">Telefono</th>
                  <th class="columna1">Materia</th>
                  <th class="columna2">Acciones</th>
                </tr>
                
                <tr th:each="abogado : ${page}">
                  <td><p th:text="${abogado.usuario.nombre == null ? '' : abogado.usuario.nombre}"></p></td>
                  <td><p th:text="${abogado.usuario.email == null ? '' : abogado.usuario.email}"></p></td>
                  <td><p th:text="${abogado.provincia.nombre == null ? '' : abogado.provincia.nombre}"></p></td>
                  <td><p th:text="${abogado.telefono == null ? '' : abogado.telefono}"></p></td>
                  <td><p th:text="${abogado.materias == null ? '' : abogado.materias}"></p></td>
                  <td>
                  	<a href="#editar" th:objeto="${abogado.id}" th:nombre="${abogado.usuario.nombre}" 
                  	th:mail="${abogado.usuario.email}" th:provincia="${abogado.provincia}" th:telefono="${abogado.telefono}"
                  	th:materias="${abogado.materias}" onclick="modificarUsuario(this)">
						<img src="/dist/img/tabla-02.png" alt="">
					</a>
					<a href="#eliminar" th:objeto="${abogado.id}" th:onclick="eliminarUsuario(this)">
						<img src="/dist/img/tabla-01.png" alt="">
					</a>
                    <img src="/dist/img/tabla-03.png" alt="">   
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

			<!-- nuevo  -->
		
		<div id="agregar" class="modal_mask">
		  <div class="boxmiddle">
		     <div class="box-modal box-modal4">
		     <div id="modalAlerta"></div>
		      <div class="contenidomodal4">
				<form id="modalFormulario">
		        <div class="box1">
		          <div class="cabeceramodal">
		            <div class="tituloplaca">
		              <img src="/dist/img/logoinverso.png" alt="">
		              <div class="textotituloplaca">
		                <h3>Nuevo Abogado</h3>
		                <p>Por favor, complete la siguiente información.</p>
		              </div>
		            </div>
		            <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		          </div>
		        </div>
		        <div class="box1 agregarinfo2">
		           <input type="hidden" class="form-control" name="id">
		
				  <label for="">Mail abogado</label>
					<select class="form-control" name="mailUsuario" data-placeholder="Seleccione el email" style="width: 100%">
						<option th:each="usuario : ${usuarios}" th:text="${usuario.email}" th:value="${usuario.email}">Mail</option>
					</select>
		
				  <label for="">Telefono</label>
				  <input type="text" class="form-control" name="telefono">
				    <label for="">Provincia</label>
					<select class="form-control" name="idProvincia" data-placeholder="Seleccione provincia" style="width: 100%">
						<option th:each="provincia : ${provincias}" th:text="${provincia.nombre}" th:value="${provincia.id}">Provincia</option>
					</select>
						   <label for="">Materia</label>
					<select class="form-control" name="materias" data-placeholder="Seleccione materia" style="width: 100%">
						<option th:each="materia : ${materias}" th:text="${materia.nombre}" th:value="${materia.id}">Materia</option>
					</select>
				
		        </div>
					<button type="button" class="btn btn-secondary" onclick="guardarAbogado()" id="modalBtnGuardar">Guardar</button>
		        </form>
		      </div>
		    </div><!-- box-modal==== -->
		  </div>
</div>

<div id="agregar" class="modal_mask">
		  <div class="boxmiddle">
		     <div class="box-modal box-modal4">
		     <div id="modalAlerta"></div>
		      <div class="contenidomodal4">
				<form id="modalFormulario">
		        <div class="box1">
		          <div class="cabeceramodal">
		            <div class="tituloplaca">
		              <img src="dist/img/logoinverso.png" alt="">
		              <div class="textotituloplaca">
		                <h3>Editar Abogado</h3>
		                <p>Por favor, complete la siguiente información.</p>
		              </div>
		            </div>
		            <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		          </div>
		        </div>
		        <div class="box1 agregarinfo2">
		           <input type="hidden" class="form-control" name="id">
		
				  <label for="">Mail abogado</label>
					<select class="form-control" name="idPais" data-placeholder="Seleccione país" style="width: 100%">
						<option th:each="usuario : ${usuarios}" th:text="${usuario.email}" th:value="${usuario.id}">Mail</option>
					</select>
		
				  <label for="">Telefono</label>
				  <input type="text" class="form-control" name="telefono">
				    <label for="">Provincia</label>
					<select class="form-control" name="idPais" data-placeholder="Seleccione país" style="width: 100%">
						<option th:each="provincia : ${provincias}" th:text="${provincia.nombre}" th:value="${provincia.id}">Provincia</option>
					</select>
						   <label for="">Materia</label>
					<select class="form-control" name="idPais" data-placeholder="Seleccione país" style="width: 100%">
						<option th:each="materia : ${materias}" th:text="${materia.nombre}" th:value="${materia.id}">Materia</option>
					</select>
				
		        </div>
					<button type="button" class="btn btn-secondary" onclick="guardarUsuario()" id="modalBtnGuardar">Guardar</button>
		        </form>
		      </div>
		    </div><!-- box-modal==== -->
		  </div>
</div>

		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId" name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar el abogado? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg">
									<img src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary" onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/abogado.js"></script>
</body>
</html>
