<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
	<input type="hidden" id="id1" th:value="${id1}"/>
	<input type="hidden" id="idUsuario" th:value="${idUsuario}">
			<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>
			<div class="content-wrapper">
				<section class="content">
					<div class="row">
						<div class="col-md-12" id="contenedor" style="display: none;">
							<div id="alerta"></div>
	
							<div class="box box-primary">
	
								<div class="box1 sectionadmin2" style="margin-bottom: 0;">
	
									<a onclick="openModalEventos()"
										sec:authorize="hasAuthority('EDITAR_AGENDA_PROPIA')"> <label
										for="btngreen" class="btngreen"
										style="margin-left: 10px; margin-top: 15px;">+ Evento</label>
									</a> <a href="#diasNoLaborables" sec:authorize="hasAuthority('VISUALIZAR_DIAS_NO_LABORABLES')" style="float: left;"> <label
										for="btngreen" class="btngreen"
										style="margin-left: 10px; margin-top: 15px;"
										onclick="traerDiasNoLaborables()">Dias no Laborables</label>
									</a>
									<div class="boxcausascheck">
	
										<div class="newfiltro1">
											<h3>Filtros</h3>
											<p class="pseleccionar" style="color: #9b9b9a; float: left;">
												<span>|</span> Seleccione la categor&iacute;a que desee
												mostrar
											</p>
										</div>
										<div class="newfiltro2">
											<select onchange="listasEventosPorTipoEvento(this.value)">
												<option selected disabled value="">Seleccione un
													tipo de evento</option>
												<option value="TODOS">Todos</option>
												<option value="Reunion">Reunión</option>
												<option value="Turno">Turnos</option>
												<option value="Plazo">Plazo</option>
												<option value="Dia Inhabil">Día Inhábil</option>
												<option value="Feriado">Feriado</option>
												<option value="Feria Judicial">Feria Judicial</option>
												<option value="Audiencia">Audiencia</option>
												<option value="Vencimiento Procesal">Vencimiento
													Procesal</option>
												<option value="Vencimiento Cobro">Vencimiento Cobro</option>
												<option th:each="otro : ${otros}" th:value="${otro}"
													th:text="${otro}">
											</select>
										</div>
									</div>
								</div>
	
								<div class="box-body">
									<!-- THE CALENDAR -->
									<div id="calendar"></div>
								</div>
							</div>
						</div>
						<div id="wrapper">
							<div class="profile-main-loader">
								<div class="loader">
									<svg class="circular-loader" viewBox="25 25 50 50">
					    			  <circle class="loader-path" cx="50" cy="50" r="20"
											fill="none" stroke="#70c542" stroke-width="2" />
					  			  </svg>
								</div>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</section>
			</div>


		<div th:replace="fragments/footer :: footer">...</div>
		<!-- Page specific script -->
	</div>

	<div id="listadoEventos" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<h3>Listado de eventos</h3>
									<p>Estos son los eventos de el dia!</p>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"><img
								src="/dist/img/cerrar.png" alt=""></a>
						</div>
					</div>
					<div class="box1 agregarinfo2">

						<hr>
						<div id="eventosDias"></div>

					</div>
					<a href="#"><button type="button" class="btn btn-secondary">Cerrar</button></a>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="ver" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<form id="modalEventoEditar">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Informacion del evento</h3>
										<p>Esta es la info de el evento!</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">

							<span id="errormodal4"></span>

							<div id="infoEvento"></div>

						</div>
						<div class="box1">
							<div class="boxbutton">
								<a style="float: left;" onclick="eliminarEventoTurno()">
									<button type="button" class="btnsolicitar">Eliminar</button>
								</a> <a style="float: right;" onclick="editarEvento()"
									id="editarBoton">
									<button type="button" class="btnsolicitar">Editar</button>
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="agregar" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<form id="modalEvento">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Agregar Evento</h3>
										<p>Por favor, complete la siguiente informaci&oacute;n.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">

							<span id="errorAgregarEvento"></span>

							<div class="label100">
								<label for="">Título</label> <input id="tituloEvento"
									name="titulo" placeholder="Escriba el título" type="text"
									onfocusout="hiddenMjes()">
							</div>

							<label for="">Tipo de Evento</label>
							<div id="inputEvento"></div>
							<input name="tipoEvento" type="hidden" id="tipoEvento"> <select
								onchange="convertirStringToEnumTE(this.value)" id="selectEvento">
								<option selected disabled value="">Seleccione un tipo
									de evento</option>
								<option value="Reunion">Reunion</option>
								<option value="Audiencia">Audiencia</option>
								<option value="Plazo">Plazo</option>
								<option value="Dia Inhabil">Dia Inhabil</option>
								<option value="Feriado">Feriado</option>
								<option value="Feria Judicial">Feria Judicial</option>
								<option value="Vencimiento Procesal">Vencimiento
									Procesal</option>
								<option value="Vencimiento Cobro">Vencimiento Cobro</option>
								<option value="Otro">Otro</option>
							</select>


							<div hidden="" id="tipoPlazoShow">
								<label for="">Tipo de Plazo</label> <input name="tipoPlazo"
									type="hidden" id="tipoPlazo"> <select
									onchange="convertirStringToEnumTE3(this.value)">
									<option selected disabled value="">Seleccione un tipo
										de plazo</option>
									<option
										th:each="tipoPlazo : ${T(com.quinto.liberium.enumeration.TipoPlazo).values()}"
										th:text="${tipoPlazo}"></option>
								</select>
							</div>

							<div hidden="" id="tipoDiaNoLaborableShow">
								<label for="">&#191;Federal o Provincial?</label> <input
									name="tipoDiaNoLaborable" type="hidden" id="tipoDiaNoLaborable">
								<select onchange="convertirStringToEnumTE4(this.value)">
									<option selected disabled value="">Seleccione</option>
									<option
										th:each="tipoDiaNoLaborable : ${T(com.quinto.liberium.enumeration.TipoDiaNoLaborable).values()}"
										th:text="${tipoDiaNoLaborable}"></option>
								</select>
							</div>

							<div class="label50 " id= "fechaInicio">
								<label for="">Fecha inicio</label> <input name="fechaInicio"
									type="datetime-local" id="fechaInicioAgregar" min="2017-04-01">
							</div>
							<div class="label50" id="fechaFinal">
								<label for="">Fecha final</label> <input name="fechaFin"
									type="datetime-local" id="fechaFinAgregar" min="2017-04-01">
							</div>

							<div class="label50" id="cantDias" hidden="">
								<label for="">Cantidad de Dias</label> <input name="cantDias"
									type="number" id="cantDiasAgregar" min="0">
							</div>


						</div>
						<a><button type="button" class="btn btn-secondary"
								onclick="guardarEvento()" style="text-align: center;">Guardar</button></a>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="diasNoLaborables" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<h3>Dias No Laborables</h3>
									<p>Informaci&oacute;n de los dias no laborables.</p>
								</div>
							</div>

						</div>
						<a href="#" class="cerrarmodalimg"><img
							src="/dist/img/cerrar.png" alt=""></a>
					</div>
					<div class="box1 agregarinfo2">

						<span id="errormodal4"></span>

						<div id="eventosNoLaborales"></div>
						<hr>

					</div>
					<a href="#"><button type="button" class="btn btn-secondary">Cerrar</button></a>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="editar" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<form id="modalEditarEvento">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Editar Evento</h3>
										<p>Por favor, complete la siguiente informaci&oacute;n.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">

							<span id="errormodal5"></span> <input type="hidden"
								id="idEventoEditar" name="idEvento">
							<div class="label100">
								<label for="">Título</label> <input name="titulo"
									placeholder="Escriba el titulo" type="text" id="tituloEditar">
							</div>

							<label for="">Tipo de Evento</label>
							<div id="inputEventoEditar"></div>
							<input name="tipoEvento" type="hidden" id="tipoEventoEditar">
							<select onchange="convertirStringToEnumTE2(this.value)"
								id="selectEventoEditar">
								<option selected disabled value="">Seleccione un
									tipo de evento</option>
								<option value="Reunion">Reunion</option>
								<option value="Audiencia">Audiencia</option>
								<option value="Plazo">Plazo</option>
								<option value="Dia Inhabil">Dia Inhabil</option>
								<option value="Feriado">Feriado</option>
								<option value="Feria Judicial">Feria Judicial</option>
								<option value="Vencimiento Procesal">Vencimiento
									Procesal</option>
								<option value="Vencimiento Cobro">Vencimiento Cobro</option>
								<option value="Otro">Otro</option>
							</select>

							<div hidden="" id="tipoPlazoShowEditar">
								<label for="">Tipo de Plazo</label> <input name="tipoPlazo"
									type="hidden" id="tipoPlazoEditar"> <select
									onchange="convertirStringToEnumTE3(this.value)"
									id="editarTipoPlazo">
									<option selected disabled value="">Seleccione un tipo
										de plazo</option>
									<option
										th:each="tipoPlazo : ${T(com.quinto.liberium.enumeration.TipoPlazo).values()}"
										th:value="${tipoPlazo}" th:text="${tipoPlazo}"></option>
								</select>
							</div>

							<div hidden="" id="tipoDiaNoLaborableShoweEditar">
								<label for="">&#191;Federal o Provincial?</label> <input
									name="tipoDiaNoLaborable" type="hidden"
									id="tipoDiaNoLaborableEditar"> <select
									onchange="convertirStringToEnumTE4(this.value)"
									id="editarTipoDia">
									<option selected disabled value="">Seleccione</option>
									<option
										th:each="tipoDiaNoLaborable : ${T(com.quinto.liberium.enumeration.TipoDiaNoLaborable).values()}"
										th:text="${tipoDiaNoLaborable}"></option>
								</select>
							</div>


							<div class="label50 mlright">
								<label for="">Fecha inicio</label> <input name="fechaInicio"
									type="datetime-local" id="fechaInicioEditar">
							</div>
							<div class="label50" id="fechaFinalDiv">
								<label for="">Fecha final</label> <input name="fechaFin"
									type="datetime-local" id="fechaFinalEditar">
							</div>

							<div class="label50" id="cantDiasEditar" hidden="">
								<label for="">Cantidad de Dias</label> <input name="cantDias"
									type="number" id="editarCantDias">
							</div>

						</div>
						<a><button type="button" class="btn btn-secondary"
								onclick="guardarEditarEvento()">Editar</button></a>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="eliminar" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>¿Está seguro que desea eliminar el evento? </label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>
				<button onclick="eliminarEvento()" type="button"
					class="btn btn-secondary">Eliminar</button>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="eliminarTurno" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>¿Está seguro que desea cancelar el Turno? </label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>
				<a href="" id="eliminarEvento" target="_blank">
					<button type="button" class="btn btn-secondary">Eliminar</button>
				</a>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="modal1" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>No hay eventos registrados en este dia!</label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>
				<a href="#">
					<button type="button" class="btn btn-secondary">Volver</button>
				</a>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<script src="/bower_components/moment/moment.js"></script>
	<script src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
	<script
		src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script
		src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script
		src="/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
	<script src="/plugins/iCheck/icheck.min.js"></script>
	<script src="/plugins/timepicker/bootstrap-timepicker.min.js"></script>
	<script src="/app/js/calendario.js"></script>
</body>

</html>
