<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" class="fondoliberium">

<head>
<meta charset="UTF-8">
<meta http-equiv="U-UX-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
<title>LIBERIUM</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>

	<div id="pantalla">
		<div id="contenedor">

			<header style="z-index:999999999999999999999999">
				<nav>
					<div class="boxlogo"><a href="/"><img src="/img/logoliberium.png" alt="Volver al Inicio"></a></div>
				</nav>
			</header>

			<section class="positioninicio">

				<div class="middlebox">
					<div class="boxinicio">
						<form th:action="@{/cambiar-clave}" method="POST">
							<div class="logoinicio">
								<a href="/">
									<img src="/img/logoliberium1.png" alt="">
								</a>
							</div>
							<div class="box1">
								<h2>
									<span>C</span>AMBIAR CLAVE
								</h2>
								<h4>Ingrese su nueva clave!</h4>
							</div>
							<div class="box1" style="height: 30px;">
								<input type="password" placeholder="Ingrese su clave" required="required" style="margin-bottom: 25px;" name="password">
								<input type="hidden" name="token" th:value=${token}>
							</div>

							<div th:text="${error}" class="alert alert-danger" role="alert"></div>

							<div th:text="${exito}" class="alert alert-success" role="alert"></div>

							<div class="box1">
								<button type="submit" class="btn1">Enviar</button>
							</div>
							<div class="box0">
								<p style="margin-bottom: 10px;">
									¿Ya tenés una cuenta registrada?
									<a href="/login" class="enlace1">LOGIN</a>
								</p>
								<p>
									¿Problemas para ingresar?
									<a href="mailto:hola@liberium.la" class="enlace2">Comunicate con nosotros.</a>
								</p>
							</div>
						</form>
					</div>
				</div>

			</section>

			<footer>
				<hr>
				<p>Copyright 2020 © All Rights Reserved</p>
				<a href="mailto:hola@liberium.la">hola@liberium.la</a>
			</footer>

		</div>
		<!-- #contenedor ==== -->
	</div>
	<!-- #pantalla ==== -->

</body>

</html>