<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>LIBERIUM</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
<!-- Morris chart -->
<link rel="stylesheet" href="/bower_components/morris.js/morris.css">
<!-- jvectormap -->
<link rel="stylesheet"
	href="/bower_components/jvectormap/jquery-jvectormap.css">
<!-- Date Picker -->
<link rel="stylesheet"
	href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- Daterange picker -->
<link rel="stylesheet"
	href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet"
	href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<link rel="stylesheet" href="/dist/css/AdminLTE.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Left side column. contains the logo and sidebar -->
		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="box1 sectionadmin">
					<h3>Causas Archivadas</h3>
					<a href="/administracion/causa/listado">
						<label for="btngreen" class="btngreen">
							<span>volver </span>
							<img src="/dist/img/arrow-05.png" class="btnvolver" alt="">
						</label>
					</a>
					<hr>
				</div>


				<div class="box1">
					<div class="causastarjeta" th:each="causa : ${page}">
						<div class="cabeceract">
							<div class="cabeceract1">
								<img src="" alt="">
							</div>
							<div class="cabeceract2" th:attr="onclick='javascript:cambiarPag( \'' + ${causa.id} + '\')'">
								<h3>
									<span style="word-break: break-all" th:text="${causa.nombre}"></span>
								</h3>
							</div>
							<ul class="trespuntos">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
											<img src="/dist/img/3puntos.png" alt="">
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a
											th:href="@{'/administracion/causa/editar/' + ${causa.id}}"><img
												src="/dist/img/imgmodal-04.png">
												Editar</a></li>
										<li><a href="#activarCausa" th:objeto="${causa.id}" th:onclick="causaActivar(this)"><img src="/dist/img/archivar.png"
												alt="">
												Activar</a></li>
										<li><a href="#eliminarCausa" th:idCausa="${causa.id}"
											th:onclick="eliminarCausa(this)"><img
												src="/dist/img/iconomenu-01.png" alt="">
												Elminar</a></li>
									</ul></li>
							</ul>
						</div>
						<div class="box1">
							<div class="datosbarracausa">
								<p class="datosbarracausa1">Estado de la Causa</p>
								<p class="datosbarracausa2" th:if="${causa.estado != null}" th:text="${causa.estado} + '%'">40%</p>
								<p class="datosbarracausa2" th:if="${causa.estado == null}">0%</p>
							</div>
							<div class="barracausa">
								<div th:if="${causa.color eq 'rojo'}"
									class="porcentajecausa barrared"
									th:style="|width: ${causa.estado}%|"></div>
								<div th:if="${causa.color eq 'amarillo'}"
									class="porcentajecausa barrayellow"
									th:style="|width: ${causa.estado}%|"></div>
								<div th:if="${causa.color eq 'verde'}"
									class="porcentajecausa barragreen"
									th:style="|width: ${causa.estado}%|"></div>
							</div>
<!-- 							<a th:href="@{'/administracion/causa/editar/' + ${causa.id}}" class="datosbarracausa3">Ver más</a> -->
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<strong>Copyright 2019 © All Rights Reserved</strong>
		</footer>
		<!-- Agregar Causa -->
		<div id="crearCausa" class="modal_mask">
			<div class="boxmiddle">
				<form id="guardarCausa">
					<div class="elementocausa">
						<div class="cabeceraec">
							<div class="cabeceraec1">
								<img src="/dist/img/logoinverso.png" alt="">
							</div>
							<a href="#" class="cerrarmodalimg"><img
								src="/dist/img/cerrar.png" alt=""></a>
								<div id="modalAlerta"></div>
							<div class="cabeceraec2">
								<input class="inputCausa" style="width: 241px;"
									placeholder="APELLIDO, Nombre Actor" id="actor" name="actor">
								<p class="inputCausa"
									style="width: 2%; height: 20px; margin-left: 2%;">c/</p>
								<input class="inputCausa" style="margin-left: 2%; width: 306px;"
									placeholder="APELLIDO, Nombre Demandado" id="demandado"
									name="demandado">

								<hr>
							</div>
						</div>

						<div>
							<div class="anchomedio">
								<div class="datocausa">
									<input placeholder="Nombre y Apellido" id="nombre"
										name="nombre">
								</div>
							</div>
						</div>
						<div>
							<div class="anchomedio">
								<div class="datocausa">
									<select class="form-control" name="idInstancia" id="instancia" onchange="buscarJuzgados()"
										data-placeholder="Seleccione instancia" style="width: 100%">
										<option selected disabled value="">Seleccione la
											Instancia</option>
										<option th:each="instancia : ${instancias}"
											th:text="${instancia.nombre}" th:value="${instancia.id}">Pais</option>
									</select>
								</div>
							</div>
						</div>
						<div>
							<div class="anchomedio">
								<div class="datocausa">
									<select class="form-control" name="tipoCausa" id="tipoCausa" onchange="buscarJuzgados()"
										data-placeholder="Seleccione tipo de Causa"
										style="width: 100%">
										<option selected value="defecto">Seleccione tipo de
											causa</option>
										<option th:each="tipo : ${tipoCausas}"
											th:text="${tipo.nombre}" th:value="${tipo.id}">Pais</option>
									</select>
								</div>
							</div>
						</div>
						<div>
							<div class="anchomedio">
								<div class="datocausa">
									<select class="form-control" name="tipoFuero" id="tipoFuero" th:onchange="fueroNacional(this)"
										data-placeholder="Seleccione fuero"
										style="width: 100%">
										<option selected  value="defecto">Seleccione fuero</option>
										<option th:each="fuero : ${T(com.quinto.liberium.enumeration.TipoFuero).values()}"
											th:text="${fuero}" th:value="${fuero}"></option>
									</select>
								</div>
							</div>
						</div>
						<div>
							<div class="anchomedio">
								<div class="datocausa">
									<select class="form-control" name="idProvincia" id="idProvincia" onchange="buscarJuzgados()"
										data-placeholder="Seleccione provincia"
										style="width: 100%">
										<option selected disabled value="">Seleccione provincia</option>
										<option th:each="provincia : ${provincias}"
											th:text="${provincia.nombre}" th:value="${provincia.id}">Provincia</option>
									</select>
								</div>
							</div>
						</div>
						<div>
							<div class="anchomedio">
								<div class="datocausa">
									<select class="form-control" data-placeholder="Juzgado"
										id="juzgado" name="juzgadoOficina">
										</select>
								</div>
							</div>
						</div>
						<div>
							<div class="box1 box collapsed-box">
								<div class="datocausa">
									<p>Causas Vinculadas</p>
									<div class="box-tools">
										<img src="/dist/img/arrow.jpg" alt="" class="btn-box-tool"
											data-widget="collapse">
									</div>
								</div>
								<div class="box-body">
									<p>Causa Vinculada</p>
								</div>
								
								
									 
							</div>
							<div class="anchomedio">
								<select class="form-control" name="tipoChecklist"
									id="tipoChecklist" data-placeholder="Seleccione Tipo de Rol"
									style="width: 100%">
									<option selected disabled value="">Seleccione Tipo de
										Rol</option>
									<option value="ACTOR">ACTOR</option>
									<option value="DENUNCIANTE">DENUNCIANTE</option>
									<option value="QUERELLANTE">QUERELLANTE</option>
									<option value="DEMANDADO">DEMANDADO</option>
								</select>
							</div>
						</div>
						<button type="button" class="btngreen" onclick="guardarCausa()">Guardar</button>

					</div>
				</form>
			</div>
		</div>

		<!-- Eliminar Causa -->
		<div id="eliminarCausa" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="eliminarCausaForm">
						<input type="hidden" class="form-control" id="causaId" name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar esta causa? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="causaEliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		
		<!-- Archivar Causa -->
		<div id="activarCausa" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="activarCausaForm">
						<input type="hidden" class="form-control" id="causaIdActivar" name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea activar esta causa? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="activarCausa()" id="modalBtnArchivar">Activar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button);
	</script>
	<!-- Bootstrap 3.3.7 -->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Morris.js charts -->
	<script src="/bower_components/raphael/raphael.min.js"></script>
	<script src="/bower_components/morris.js/morris.min.js"></script>
	<!-- Sparkline -->
	<script
		src="/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
	<!-- jvectormap -->
	<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="/bower_components/moment/min/moment.min.js"></script>
	<script
		src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<!-- datepicker -->
	<script
		src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<!-- Bootstrap WYSIHTML5 -->
	<script
		src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
	<!-- Slimscroll -->
	<script
		src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="/bower_components/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="/dist/js/adminlte.min.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="/dist/js/pages/dashboard.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/dist/js/demo.js"></script>
	<script src="/app/js/causa.js"></script>
</body>
</html>
