<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head"></head>
<!--Estilo Mensaje Modificar Causa-->
<style>
	.mensaje-modificado {
    font-size: 24px;
    color: #119200;
	float: left;
   display: none;
}

.mensaje-modificado-activo {
    display: block;
}
</style>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">
				<!-- Alerta -->
				<div id="modalAlerta"></div>
				<div class="box1">
					<div></div>
					<div class="elementocausa">
						<form class="guardarCausa" id="guardarCausa">
							<input type="hidden" id="idCausa" name="id"
								th:value="${causa.id}">
							<div class="cabeceraec">
								<div class="cabeceraec1">
									<img src="/dist/img/logoinverso.png" alt="">
								</div>
								<div class="cabeceraec2">
									<input class="inputCausa" placeholder="Caratula" id="caratula"
										name="caratula" th:value="${causa.nombre}"> 
									<hr>
								</div>
							</div>

							<!-- Actor -->
							<div>
								<div class="anchomedio">
									<div class="datocausa formulario_grupo" id="grupo_Apellido-Actor">
										<label for="actorApellido" class="formulario_label">Apellido Actor</label>
										<div class="formulario_grupo-input">
										<input type="text" class="formulario_input" name="actorApellido" id="actorApellido" 
										placeholder="Apellido Actor" th:value="${actorApellido}">
										</div> 
									</div>
								</div>
							</div>
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>Nombre Actor</label> <input placeholder="Nombre Actor"
											th:value="${actorNombre}" name="actorNombre" id="actorNombre">
									</div>
								</div>
							</div>

							<!-- Demandado -->
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>Apellido Demandado</label> <input
											placeholder="Apellido Demandado"
											th:value="${demandadoApellido}" name="demandadoApellido"
											id="demandadoApellido">
									</div>
								</div>
							</div>
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>Nombre Demandado</label> <input
											placeholder="Nombre Demandado" th:value="${demandadoNombre}"
											name="demandadoNombre" id="demandadoNombre">
									</div>
								</div>
							</div>
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>Nro Expediente</label> <input
											placeholder="Nro Expediente"
											th:value="${causa.numeroExpediente}" name="nroExpediente"
											id="nroExpediente">
									</div>
								</div>
							</div>

							<!-- Instancia -->
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>Instancia</label>
										<div th:if="${causa.instancia != null}">
											<select class="form-control" id="instancia" 
												name="idInstancia" data-placeholder="Seleccione instancia"
												style="width: 100%">
												<option selected th:text="${causa.instancia.nombre}"
													th:value="${causa.instancia.id}"></option>
												<option th:each="instancia : ${instancias}"
													th:if="${causa.instancia.nombre} != ${instancia.nombre}"
													th:text="${instancia.nombre}" th:value="${instancia.id}"></option>
											</select>
										</div>
										<div th:if="${causa.instancia == null}">
											<select class="form-control" name="idInstancia" onchange="mensajeModificarCausa()"
												id="idInstancia" data-placeholder="Seleccione instancia"
												style="width: 100%">
												<option selected disabled value="defecto">Seleccione
													una instancia</option>
												<option th:each="instancia : ${instancias}"
													th:text="${instancia.nombre}" th:value="${instancia.id}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<!-- Pais -->
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>País</label>
										<div th:if="${causa.pais != null}">
											<select class="form-control" name="paisCausa" id="paisCausa"
												data-placeholder="Seleccione país" style="width: 100%"
												onchange="getProvincia(this.value)" disabled>
												<option selected th:text="${causa.pais.nombre}"
													th:value="${causa.pais.id}"></option>
												<option th:each="pais : ${paises}"
													th:if="${pais.nombre} != ${causa.pais.nombre}"
													th:text="${pais.nombre}" th:value="${pais.id}"></option>
											</select>
										</div>
										<div th:if="${causa.pais == null}">
											<select class="form-control" name="paisCausa" id="paisCausa" 
												data-placeholder="Seleccione país" style="width: 100%"
												onchange="getProvincia(this.value), mensajeModificarCausa()">
												<option selected disabled value="defecto">Seleccione
													un país</option>
												<option th:each="pais : ${paises}" th:text="${pais.nombre}"
													th:value="${pais.id}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<!-- Provincia -->
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>Provincia</label>
										<div th:if="${causa.provincia != null}">
											<select class="form-control" name="provinciaCausa"
												id="provinciaCausa" data-placeholder="Seleccione provincia"
												style="width: 100%">
												<option selected th:text="${causa.provincia.nombre}"
													th:value="${causa.provincia.id}"></option>
												<option th:each="provincia : ${provincias}"
													th:text="${provincia.nombre}" th:value="${provincia.id}"></option>
											</select>
										</div>
										<div th:if="${causa.provincia == null}">
											<select class="form-control" name="provinciaCausa" onchange="mensajeModificarCausa()"
												id="provinciaCausa" data-placeholder="Seleccione provincia"
												style="width: 100%">
												<option selected disabled value="defecto">Seleccione
													una provincia</option>
												<option th:each="provincia : ${provincias}"
													th:text="${provincia.nombre}" th:value="${provincia.id}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<!-- Fuero -->
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>Fuero</label>
										<div th:if="${causa.fuero != null}">
											<select class="form-control" name="tipoFuero" id="tipoFuero"
												th:onchange="fueroNacional(this)"
												data-placeholder="Seleccione fuero" style="width: 100%">
												<option selected th:value="${causa.fuero}"
													th:text="${causa.fuero}"></option>
												<option
													th:each="fuero : ${T(com.quinto.liberium.enumeration.TipoFuero).values()}"
													th:if="${causa.fuero} != ${fuero}" th:text="${fuero}"
													th:value="${fuero}"></option>
											</select>
										</div>
										<div th:if="${causa.fuero == null}">
											<select class="form-control" name="tipoFuero" id="tipoFuero"
												th:onchange="fueroNacional(this), mensajeModificarCausa()"
												data-placeholder="Seleccione fuero" style="width: 100%">
												<option selected disabled value="defecto">Seleccione
													un fuero</option>
												<option
													th:each="fuero : ${T(com.quinto.liberium.enumeration.TipoFuero).values()}"
													th:text="${fuero}" th:value="${fuero}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<!-- Tipo Causa -->
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>Tipo de Causa</label>
										<div th:if="${causa.tipoCausa != null}">
											<select class="form-control" id="tipoCausa" name="tipoCausa"
												data-placeholder="Seleccione tipo de Causa"
												style="width: 100%" disabled>
												<option selected th:text="${causa.tipoCausa.nombre}"
													th:value="${causa.tipoCausa.id}"></option>
												<option th:each="tipo : ${tipoCausas}"
													th:if="${causa.tipoCausa.nombre} != ${tipo.nombre}"
													th:text="${tipo.nombre}" th:value="${tipo.id}"></option>
											</select>
										</div>
										<div th:if="${causa.tipoCausa == null}">
											<select class="form-control" id="tipoCausa" name="tipoCausa" onchange="mensajeModificarCausa()"
												data-placeholder="Seleccione tipo de Causa"
												style="width: 100%">
												<option th:each="tipo : ${tipoCausas}"
													th:text="${tipo.nombre}" th:value="${tipo.id}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<!-- Dependencia -->
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<label>Dependencia</label>
										<div th:if="${causa.juzgadoOficina != null}">
											<select class="form-control" id="juzgado"
												name="juzgadoOficina">
												<option selected th:text="${causa.juzgadoOficina.nombre}"
													th:value="${causa.juzgadoOficina.id}"></option>
												<option th:each="juzgadoOficina : ${juzgadosOficinas}"
													th:if="${causa.juzgadoOficina.nombre} != ${juzgadoOficina.nombre}"
													th:text="${juzgadoOficina.nombre}"
													th:value="${juzgadoOficina.id}"></option>
											</select>
										</div>
										<div th:if="${causa.juzgadoOficina == null}">
											<select class="form-control" id="juzgado" onchange="mensajeModificarCausa()" 
												name="juzgadoOficina">
												<option selected disabled value="defecto">Seleccione
													una dependencia</option>
												<option th:each="juzgadoOficina : ${juzgadosOficinas}"
													th:text="${juzgadoOficina.nombre}"
													th:value="${juzgadoOficina.id}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div>
								<div class="box1 box collapsed-box">
									<div th:if="${consulta != null}">
										<input type="hidden" id="idCausaConsulta"
											th:value="${causa.id}">
										<div class="anchomedio">
											<div class="datocausa">
												<p style="float: right; margin-right: 25px;">
													Consulta Causa <a onclick="eliminarConsulta()"
														style="float: right;"> <img
														src="/dist/img/basurero.png" alt="">
													</a>
												</p>
											</div>
										</div>
									</div>
									<div></div>

									<div th:if="${consulta != null}" style="margin-left: 275px;">
										<div class="anchomedio">
											<div class="datocausa">
												<select class="form-control" name="idConsulta"
													data-placeholder="Seleccione una consulta"
													style="width: 100%">
													<option selected="selected" disabled="disabled">Consulta</option>
													<option th:each="consulta : ${consultas}"
														th:text="${consulta.mail}" th:value="${consulta.id}"></option>
												</select>
											</div>
										</div>
									</div>

									<!-- Rol Causa-->
									<div class="anchomedio">
										<div class="datocausa">
											<label>Rol de Causa</label>
											<div th:if="${causa.rol != null}">
												<select class="form-control" name="rolCausa" id="rolCausa"
													data-placeholder="Seleccione Tipo de Rol"
													style="width: 100%">
													<option selected th:value="${causa.rol}"
														th:text="${causa.rol}"></option>
													<option
														th:each="tipoRol : ${T(com.quinto.liberium.enumeration.TipoRolCausa).values()}"
														th:if="${causa.rol} != ${tipoRol}" th:text="${tipoRol}"
														th:value="${tipoRol}"></option>
												</select>
											</div>
											<div th:if="${causa.rol == null}">
												<select class="form-control" name="rolCausa" id="rolCausa" onchange="mensajeModificarCausa()"
													data-placeholder="Seleccione Tipo de Rol"
													style="width: 100%">
													<option selected disabled value="defecto">Seleccione
														un rol</option>
													<option
														th:each="tipoRol : ${T(com.quinto.liberium.enumeration.TipoRolCausa).values()}"
														th:text="${tipoRol}" th:value="${tipoRol}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="box1">
								<div id="datosbarra" class="datosbarracausa">
<!-- 									<p class="datosbarracausa1">Estado de la Causa</p> -->
<!-- 									<p class="datosbarracausa2" th:if="${causa.estado != null}" -->
<!-- 										th:text="${causa.estado} + '%'">40%</p> -->
<!-- 									<p class="datosbarracausa2" th:if="${causa.estado == null}">0%</p> -->
								</div>
								<div id="colorbarra" class="barracausa">
<!-- 									<div th:if="${causa.color eq 'rojo'}" -->
<!-- 										class="porcentajecausa barrared" -->
<!-- 										th:style="|width: ${causa.estado}%|"></div> -->
<!-- 									<div th:if="${causa.color eq 'amarillo'}" -->
<!-- 										class="porcentajecausa barrayellow" -->
<!-- 										th:style="|width: ${causa.estado}%|"></div> -->
<!-- 									<div th:if="${causa.color eq 'verde'}" -->
<!-- 										class="porcentajecausa barragreen" -->
<!-- 										th:style="|width: ${causa.estado}%|"></div> -->
								</div>
							</div>
							<div class="formulario_btn-modificar">
							    <button sec:authorize="hasAuthority('EDITAR_CAUSA')"
								class="btngreen btn_modificar" type="button" onclick=" guardarCausa()">Confirmar</button>
								<p class="mensaje-modificado" id="mensaje-modificado">Formulario modificado..!</p>
							</div>
							<div>
                                <a href="/administracion/causa/listado">
								<button class="btngreen" type="button">Volver a Causas</button></a>
							</div>
							<div>
								<a href="/consultas/ver"> 
								<button sec:authorize="hasAuthority('VISUALIZAR_CONSULTA')"  class="btngreen" type="button">Consulta Online</button></a>
							</div>
						</form>
					</div>

					<!-- Checklist -->
					<div class="elementocausa" id="camposNuevoChecklist" sec:authorize="hasAuthority('VISUALIZAR_CAUSA')">
						<div class="box1">
							<div id="alertaChecklist"></div>
							<div class="anchomedio">
								<div class="datocausa">
									<input type="hidden" id="checklistNombre"
										th:if="${checklist != null}" th:value="${checklist.nombre}">
									<input type="hidden" id="checklistId"
										th:if="${checklist != null}" th:value="${checklist.id}">
									<select class="form-control" sec:authorize="hasAuthority('EDITAR_CAUSA')"
										data-placeholder="Seleccione Checklist" id="checklist"
										name="checklist">
										<option value="nuevochecklist"></option>
									</select>
								</div>
							</div>
							<button class="btngreen" id="guardarChecklist" sec:authorize="hasAuthority('EDITAR_CAUSA')">Guardar</button>
							<button class="btngreen" id="cancelarChecklist" sec:authorize="hasAuthority('EDITAR_CAUSA')">Cancelar</button>
							<button class="btngreen" id="cambiarChecklist" sec:authorize="hasAuthority('EDITAR_CAUSA')">Cambiar</button>
						</div>
						<hr>
						<div th:include="fragments/nuevoChecklist"></div>
						
<!-- 						<div id="encabezadoChecklist" class="anchomedio"> -->
<!-- 							<div> -->
<!-- 								<input class="inputCausa" id="nombreChecklist" -->
<!-- 									name="nombreChecklist" placeholder="Nombre Checklist"> -->
<!-- 							</div> -->
<!-- 							<div class="anchomedio"> -->
<!-- 								<select class="form-control" name="rolProcesal" id="rolProcesal" -->
<!-- 									data-placeholder="Seleccione rol" style="width: 100%"> -->
<!-- 									<option selected hidden="" value="">Seleccione Rol</option> -->
<!-- 									<option th:each="t : ${tipoRolCausasChecklist}" -->
<!-- 										th:text="${t.tipoRolCausa}" th:value="${t}">tipo rol</option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 							<div class="anchomedio"> -->
<!-- 								<select class="form-control" name="paisChecklist" -->
<!-- 									id="paisChecklist" data-placeholder="Seleccione pais" -->
<!-- 									style="width: 100%"> -->
<!-- 									<option selected hidden="" value="">Seleccione Pais</option> -->
<!-- 									<option th:each="pais : ${paisesChecklist}" -->
<!-- 										th:text="${pais.nombre}" th:value="${pais.id}">Pais</option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 							<div class="anchomedio"> -->
<!-- 								<select class="form-control" name="fueroChecklist" -->
<!-- 									id="fueroChecklist" data-placeholder="Seleccione fuero" -->
<!-- 									style="width: 100%"> -->
<!-- 									<option selected hidden="" value="">Seleccione Fuero</option> -->
<!-- 									<option th:each="fuero : ${tiposFueroChecklist}" -->
<!-- 										th:text="${fuero.tipoFuero}" th:value="${fuero}">Fuero</option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 							<div class="anchomedio"> -->
<!-- 								<select class="form-control" name="materiaChecklist" -->
<!-- 									id="materiaChecklist" data-placeholder="Seleccione materia" -->
<!-- 									style="width: 100%"> -->
<!-- 									<option selected hidden="" value="">Seleccione Materia</option> -->
<!-- 									<option th:each="materia : ${materiasChecklist}" -->
<!-- 										th:text="${materia.nombre}" th:value="${materia.id}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 							<div class="anchomedio"> -->
<!-- 								<select class="form-control" name="provinciaChecklist" -->
<!-- 									id="provinciaChecklist" data-placeholder="Seleccione provincia" -->
<!-- 									style="width: 100%"> -->
<!-- 									<option selected value="Provincia">Provincia</option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 							<div class="anchomedio"> -->
<!-- 								<select class="form-control" name="circunscripcionChecklist" -->
<!-- 									id="circunscripcionChecklist" -->
<!-- 									data-placeholder="Seleccione circunscripcion" -->
<!-- 									style="width: 100%"> -->
<!-- 									<option selected value="Circunscripcion">Circunscripcion</option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 							<div class="anchomedio"> -->
<!-- 								<select class="form-control" name="instanciaChecklist" -->
<!-- 									id="instanciaChecklist" data-placeholder="Seleccione instancia" -->
<!-- 									style="width: 100%"> -->
<!-- 									<option selected hidden="" value="">Seleccione -->
<!-- 										Instancia</option> -->
<!-- 									<option th:each="instancia : ${instanciasChecklist}" -->
<!-- 										th:text="${instancia.nombre}" th:value="${instancia.id}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 							<div class="anchomedio"> -->
<!-- 								<select class="form-control" name="formularioChecklist" -->
<!-- 									id="formularioChecklist" -->
<!-- 									data-placeholder="Seleccione formulario" style="width: 100%"> -->
<!-- 									<option selected hidden="" value="">Seleccione -->
<!-- 										Formulario</option> -->
<!-- 									<option th:each="formulario : ${formulariosChecklist}" -->
<!-- 										th:text="${formulario.titulo}" th:value="${formulario.id}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 						</div> -->

						<section style="z-index: 1000; position: relative;">
							<div class="opccausas" id="opcionesCausa"></div>
						</section>
						<h4 id="mensajeSeleccionChecklist"
							class="cabeceradatosapartes btn-box-tool"></h4>

						<div id="pasos" style="padding-top: 30px;">
							<section class="container" id="containerCard">
								<div id="items" class="card-carousel"></div>
							</section>
						</div>
<!--						 						<div id="subPasos">-->
<!--						 							<section class="container" id="containerSubCard">-->
<!--						 								<div id="subItems" class="subCard-carousel"></div>-->
<!--						 							</section>-->
<!--						 						</div>-->
						<div class="blank-space" style="background-color: transparent; margin-bottom: 10px;">
							&nbsp;
						</div>
					</div>
					<!-- End Checklist -->
				</div>

				<div class="boxdatospartes" sec:authorize="hasAuthority('EDITAR_CAUSA')">
					<div class="datosapartes datosapartesm" style="overflow-y: scroll">
						<div class="box1 box collapsed-box" style="max-height: 200px">
							<div class="box-tools">
								<button type="button" class="cabeceradatosapartes btn-box-tool"
									data-widget="collapse">
									<img src="/dist/img/datos-01.png" alt="">
									<div class="hrvertical"></div>
									<h4>Grupo de Miembros</h4>
								</button>
							</div>
							<div class="box-body">
								<div class="contactodatospartes fondogrey"
									th:each="miembro : ${miembros}">
									<div class="itemdatospartes">
										<img src="/dist/img/datos-02.png" alt="">
										<p class="nombregrupo"
											th:text="${miembro.usuario.nombre == null ? '' : miembro.usuario.nombre}"></p>
									</div>
									<div class="itemdatospartes">
										<img src="/dist/img/datos-05.png" alt="">
										<p class="itemdatospartesp" th:text="${miembro.usuario.email}"></p>
									</div>
									<ul class="trespuntos"
										sec:authorize="hasAuthority('EDITAR_CAUSA')">
										<li class="dropdown user user-menu trespuntosli"><a
											href="#" class="dropdown-toggle" data-toggle="dropdown"
											aria-expanded="true"> <img src="/dist/img/3puntos.png"
												alt="">
										</a>
											<ul class="dropdown-menu trespuntosmenu">
												<li><a href="#eliminarMiembro"
													th:idMiembro="${miembro.id}"
													th:onclick="modalEliminarMiembro(this)"><img
														src="/dist/img/iconomenu-01.png" alt=""> Eliminar</a></li>
											</ul></li>
									</ul>
								</div>
								<div class="box1" sec:authorize="hasAuthority('EDITAR_CAUSA')">
									<a href="#eleccionMiembro"><button type="button"
											class="btngreen">Agregar</button></a>
								</div>

							</div>
						</div>
					</div>
					<div class="datosapartes datosapartesm2" style="overflow-y: scroll">
						<div class="box1 box collapsed-box" style="max-height: 200px">
							<div class="box-tools">
								<button type="button" class="cabeceradatosapartes btn-box-tool"
									data-widget="collapse">
									<img src="/dist/img/datos-02.png" alt="">
									<div class="hrvertical"></div>
									<h4>Contactos</h4>
								</button>
							</div>
							<div class="box-body">
								<div class="contactodatospartes fondogrey"
									th:each="contacto : ${contactos}">
									<div class="itemdatospartes">
										<img src="/dist/img/datos-02.png" alt="">
										<p class="nombregrupo"
											th:text="${contacto.apellido} + ' ' + ${contacto.nombre}">Nombre
											y Apellido</p>
									</div>
									<div class="itemdatospartes">
										<img src="/dist/img/datos-05.png" alt="">
										<p class="itemdatospartesp" th:text="${contacto.email}">correoelectronico@empresa.com</p>
									</div>
									<div class="itemdatospartes">
										<img src="/dist/img/datos-06.png" alt="">
										<p class="itemdatospartesp"
											th:text="${contacto.telefonoCelular}">000-000000</p>
									</div>
									<ul class="trespuntos">
										<li class="dropdown user user-menu trespuntosli"><a
											href="#" class="dropdown-toggle" data-toggle="dropdown"
											aria-expanded="true"> <img src="/dist/img/3puntos.png"
												alt="">
										</a>
											<ul class="dropdown-menu trespuntosmenu">
												<li><a href="#contactoModal"
													th:idContacto="${contacto.id}"
													th:onclick="verContacto(this)"><img
														src="/dist/img/ojo.png" alt=""> Ver</a></li>
												<li><a href="#eliminarContacto"
													th:idContacto="${contacto.id}"
													th:onclick="eliminarContacto(this)"><img
														src="/dist/img/iconomenu-01.png" alt=""> Eliminar</a></li>
											</ul></li>
									</ul>
								</div>
								<div class="box1">
									<!-- 									<a href="#eleccion"><button type="button" class="btngreen">Agregar</button></a> -->
									<a href="#contactoExistente" onclick="cambiarValue(false)"><button
											type="button" class="btngreen">Agregar</button></a>

								</div>
							</div>
						</div>
					</div>
					<div class="datosapartes datosapartesm">
						<div class="box1 box collapsed-box">
							<div class="box-tools">
								<button type="button" class="cabeceradatosapartes btn-box-tool"
									data-widget="collapse">
									<img src="/dist/img/datos-03.png" alt="">
									<div class="hrvertical"></div>
									<h4>Finanzas</h4>
								</button>
							</div>
							<div class="box-body">
								<!--								<div class="contactodatospartes2 datosfinanzas">-->

								<div class="box1">
									<a onclick="finanzasCausa()"><button type="button"
											class="btngreen">Ver Detalles</button></a>
								</div>
								<!--								</div>-->
							</div>
						</div>
					</div>
					<div class="datosapartes" style="overflow-y: scroll">
						<div class="box1 box collapsed-box" style="max-height: 200px">
							<div class="box-tools">
								<button type="button" class="cabeceradatosapartes btn-box-tool"
									data-widget="collapse">
									<img src="/dist/img/datos-04.png" alt="">
									<div class="hrvertical"></div>
									<h4>Modificaciones</h4>
								</button>
							</div>
							<div class="box-body">
								<div class="contactodatospartes"
									th:each="modificacion : ${modificaciones}">
									<div class="itemdatospartes">
										<p class="itemdatospartesp"
											th:text=" '&#8226; ' + ${modificacion.tipoModificacion} + ' por'"></p>
										<br>
										<p class="nombregrupo"
											th:text="${modificacion.creador == null ? '' : modificacion.creador.nombre}">Nombre
											Apellido</p>
										<p class="nombregrupo"
											th:text="'el ' + ${modificacion.creado}">00/00/0000</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
		</div>

		<!-- /.content -->
		<div th:replace="fragments/footer :: footer">...</div>
	</div>

	<div id="eleccion" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal2 box-contacto"
				style="overflow-y: hidden;">
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<h3>Agregar Contacto</h3>
								<p>Por favor, elija una de las opciones.</p>
							</div>
							<a href="#" class="cerrarmodalimg"><img
								src="/dist/img/cerrar.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="box1" style="padding-right: 5px;">
					<div id="modalAlerta"></div>
					<div class="agregarinfo box-contacto">
						<a href="/contactos/ver/personales/0"><button type="button"
								style="float: left;" class="btn btn-secondary">Nuevo</button></a> <a
							href="#contactoExistente" onclick="cambiarValue(false)"><button
								type="button" style="float: right;" class="btn btn-secondary">Existente</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Elegir Contacto Existentte -->
	<div id="contactoExistente" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlertaContacto"></div>
				<form id="modalFormularioContactoExistente">
					<input type="hidden" id="opcionContactoExistente" value="existente">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>Elegir Contacto</label> <select
										name="selectContactoExistente" id="selectContactoExistente">
										<!-- 										onchange="buscarContacto(this.value)"> -->
										<option selected disabled value="0">Contacto</option>
										<option th:each="contacto : ${contactosDelUsuario}"
											th:text="${contacto.apellido} + ' ' + ${contacto.nombre}"
											th:value="${contacto.id}"></option>
									</select> <input type="hidden" id="causaIdContacto"
										name="causaIdContacto" th:value="${causa.id}"> <input
										type="hidden" id="tipoPersonaExistente" name="tipoPersona"
										value=""> <input type="hidden"
										id="tipoVinculoExistente" name="tipoVinculo" value="">
									<input type="hidden" id="nombreExistente" name="nombre"
										value=""> <input type="hidden"
										id="nacionalidadExistente" name="idPais" value=""> <input
										type="hidden" id="sexoExistente" name="tipoGenero" value="">
									<input type="hidden" id="dniExistente" name="dni" value="">
									<input type="hidden" id="cuilExistente" name="cuitcuil"
										value=""> <input type="hidden" id="domicilioExistente"
										name="domicilio" value=""> <input type="hidden"
										id="alturaExistente" name="numero" value=""> <input
										type="hidden" id="provinciaExistente"
										name="idProvinciaExistente" value=""> <input
										type="hidden" id="localidadExistente" name="idLocalidad"
										value=""> <input type="hidden" id="mailExistente"
										name="email" value=""> <input type="hidden"
										id="telefonoFijoExistente" name="telefonoFijo" value="">
									<input type="hidden" id="telefonoCelularExistente"
										name="telefonoCelular" value=""> <input type="hidden"
										id="nombreAdicionalExistente" name="nombreAdicional" value="">
									<input type="hidden" id="telefonoAdicionalExistente"
										name="telefonoAdicional" value=""> <input
										type="hidden" id="observacionExistente" name="observacion"
										value="">
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
						<!-- 						<div class="tabla-notas"> -->
						<!-- 							<table class="table" id="tablaContactos"> -->
						<!-- 								<thead> -->
						<!-- 									<tr> -->
						<!-- 										<th class="columna3">Apellido</th> -->
						<!-- 										<th class="columna3">Nombre</th> -->
						<!-- 										<th class="columna3">Celular</th> -->
						<!-- 										<th class="columna3">Fijo</th> -->
						<!-- 										<th class="columna3">Mail</th> -->
						<!-- 									</tr> -->
						<!-- 								</thead> -->
						<!-- 								<tbody id="bodyTablaContacto"> -->
						<!-- 								</tbody> -->
						<!-- 							</table> -->
						<!-- 						</div> -->
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="agregarContactoExistente()">Agregar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>



	<!-- agregar, editar, ver contacto -->
	<div id="contactoModal" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<form id="modalFormularioContacto">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3 id="tituloModal"></h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg" onclick="resetForm()"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<input type="hidden" class="form-control" name="id"
							id="modalEditarId"> <input type="hidden" name="idEstudio"
							id="idEstudio"> <input type="hidden" id="idCausaEstudio"
							name="causaIdEstudio" th:value="${causa.id}">
						<div class="box1 agregarinfo2">
							<div id="modalAlertaContacto"></div>
							<!-- 							<label for="">Tipo de Persona</label> <select -->
							<!-- 								class="form-control select2" name="tipoPersona" -->
							<!-- 								id="modalEditarTipoPersona"> -->
							<!-- 								<option selected disabled value="">Seleccione un tipo -->
							<!-- 									de persona</option> -->
							<!-- 								<option -->
							<!-- 									th:each="tipoPersona : ${T(com.quinto.liberium.enumeration.TipoPersona).values()}" -->
							<!-- 									th:value="${tipoPersona}" th:text="${tipoPersona.tipoPersona}"></option> -->
							<!-- 							</select> <label for="">Tipo de V&iacute;nculo</label> <select -->
							<!-- 								class="form-control select2" name="tipoVinculo" -->
							<!-- 								id="modalEditarTipoVinculo"> -->
							<!-- 								<option selected disabled value="">Seleccione un tipo -->
							<!-- 									de vinculo</option> -->
							<!-- 								<option -->
							<!-- 									th:each="tipoVinculo : ${T(com.quinto.liberium.enumeration.TipoVinculo).values()}" -->
							<!-- 									th:value="${tipoVinculo}" th:text="${tipoVinculo.tipoVinculo}"></option> -->
							<!-- 							</select> -->
							<div class="label100 mlright">
								<label for="">Apellido</label> <input name="apellido"
									placeholder="Escriba el apellido" type="text"
									id="modalEditarApellido">
							</div>
							<div class="label100 mlright">
								<label for="">Nombre</label> <input name="nombre"
									placeholder="Escriba el nombre" type="text"
									id="modalEditarNombre">
							</div>
							<div class="label50 mlright">
								<label for="">Tel&eacute;fono Fijo</label> <input
									name="telefonoFijo" type="number" id="modalEditarTelefonoFijo"
									placeholder="Telefono fijo">
							</div>
							<div class="label50">
								<label for="">Tel&eacute;fono Celular</label> <input
									name="telefonoCelular" type="number"
									id="modalEditarTelefonoCelular" placeholder="Telefono Celular">
							</div>
							<div class="label100 mlright">
								<label for="">Mail</label> <input name="email"
									placeholder="Ingrese un email" type="email"
									id="modalEditarEmail">
							</div>
							<!-- 							<div class="label60 mlright"> -->
							<!-- 								<label for="">Nacionalidad</label> <select -->
							<!-- 									class="form-control select2" name="idPais" id="modalEditarPais" -->
							<!-- 									onchange="traerProvincias(this.value)"> -->
							<!-- 									<option selected disabled value="">Seleccionar -->
							<!-- 										nacionalidad</option> -->
							<!-- 									<option th:each="pais : ${paises}" th:text="${pais.nombre}" -->
							<!-- 										th:value="${pais.id}"></option> -->
							<!-- 								</select> -->
							<!-- 							</div> -->
							<!-- 							<div class="label40"> -->
							<!-- 								<label for="">Sexo</label> <select class="form-control select2" -->
							<!-- 									name="tipoGenero" id="modalEditarTipoGenero"> -->
							<!-- 									<option selected disabled value="">Sexo</option> -->
							<!-- 									<option -->
							<!-- 										th:each="generos : ${T(com.quinto.liberium.enumeration.TipoGenero).values()}" -->
							<!-- 										th:value="${generos}" th:text="${generos.tipoGenero}"></option> -->
							<!-- 								</select> -->
							<!-- 							</div> -->
							<div class="label50 mlright">
								<label for="">DNI</label> <input name="dni" type="number"
									id="modalEditarDni" placeholder="Dni">
							</div>
							<div class="label50">
								<label for="">CUIT o CUIL</label> <input name="cuitcuil"
									type="number" id="modalEditarCuilCuit"
									placeholder="Cuil o Cuit">
							</div>
							<div class="box1">
								<label for="">Domicilio</label>
								<div class="label70 mlright">
									<input name="domicilio" type="text" placeholder="Calle"
										id="modalEditarDomicilio">
								</div>
								<div class="label30">
									<input name="numero" type="number" placeholder="N&uacute;mero"
										id="modalEditarAltura">
								</div>
								<!-- 								<div class="label50 mlright"> -->
								<!-- 									<select class="form-control select2" name="idProvinciaEditar" -->
								<!-- 										id="modalEditarProvincia" -->
								<!-- 										onchange="traerLocalidad(this.value)"> -->
								<!-- 										<option value="" disabled selected>Seleccione una -->
								<!-- 											provincia</option> -->
								<!-- 									</select> -->
								<!-- 								</div> -->
								<!-- 								<div class="label50"> -->
								<!-- 									<select class="form-control select2" name="idLocalidad" -->
								<!-- 										id="modalEditarLocalidad"> -->
								<!-- 										<option value="" disabled selected>Seleccione una -->
								<!-- 											localidad</option> -->
								<!-- 									</select> -->
								<!-- 								</div> -->
							</div>


							<!-- 							<div class="preguntaelementos"> -->
							<!-- 								<label for="">Persona de contacto adicional</label> -->
							<!-- 								<div class="label50 mlright"> -->
							<!-- 									<input name="nombreAdicional" type="text" -->
							<!-- 										placeholder="Nombre y Apellido" -->
							<!-- 										id="modalEditarNombreAdicional"> -->
							<!-- 								</div> -->
							<!-- 								<div class="label50"> -->
							<!-- 									<input name="telefonoAdicional" type="number" -->
							<!-- 										placeholder="Tel&eacute;fono" -->
							<!-- 										id="modalEditarTelefonoAdicional"> -->
							<!-- 								</div> -->
							<!-- 							</div> -->
							<!-- 							<label for="">Observaci&oacute;n</label> -->
							<!-- 							<textarea name="observacion" cols="30" rows="10" -->
							<!-- 								class="textomodal" id="modalEditarObservacion" -->
							<!-- 								placeholder="Escriba la observacion aqui"></textarea> -->
						</div>
						<!-- 						<a><button type="button" class="btn btn-secondary" -->
						<!-- 								onclick="guardarContacto()" id="modalBtnGuardarContacto">Guardar</button></a> -->
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	<!-- agregar, editar, ver miembro -->

	<!-- Eliminar Contacto-->
	<div id="eliminarContacto" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="eliminarContactoForm">
					<input type="hidden" class="form-control" id="contactoId"
						name="contactoId"> <input type="hidden"
						class="form-control" id="causaIdContactoEliminar"
						th:value="${causa.id}" name="causaIdContactoEliminar">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar este contacto? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="quitarContacto()" id="modalBtnEliminar">Eliminar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- Eliminar Item-->
	<div id="eliminarItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlertaEliminarItem"></div>
				<form id="eliminarItemForm">
					<input class="form-control" type="hidden" id="idItemEliminar"
						name="idItemEliminar"> <input class="form-control"
						type="hidden" id="causaIdItemEliminar" th:value="${causa.id}"
						name="causaIdItemEliminar">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar este item? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="eliminarItemE()" id="modalBtnEliminarItemE">Eliminar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- Eliminar Sub Item-->
	<div id="eliminarSubItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlertaEliminarSubItem"></div>
				<form id="eliminarSubItemForm">
					<input type="hidden" class="form-control"
						id="subItemIdSubItemEliminar" name="subItemIdSubItemEliminar">
					<input type="hidden" class="form-control"
						id="itemIdSubItemEliminar" name="itemIdSubItemEliminar"> <input
						type="hidden" class="form-control" id="causaIdSubItemEliminar"
						th:value="${causa.id}" name="causaIdSubItemEliminar">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar este sub paso? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="eliminarSubItemE()" id="modalBtnEliminarSubItemE">Eliminar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- Check Sub Item-->
	<div id="checkSubItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlertaCheckSubItem"></div>
				<form id="cambiarSubItemForm">
					<input type="hidden" class="form-control"
						id="idSubPasoCheckSubItem" name="idSubPasoCheckSubItem"> <input
						type="hidden" class="form-control" id="idItemCheckSubItem"
						name="idItemCheckSubItem"> <input type="hidden"
						class="form-control" id="ordenCheckSubItem"
						name="ordenCheckSubItem">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>Este sub paso se encuentra en estado finalizado,
										¿Desea cambiar su estado a pendiente? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="checkearSubItemCambiar()" id="modalBtnCheckSubItem">Cambiar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- elegir opcion sobre agregar un nuevo paso o un sub paso -->
	<div id="eleccionPaso" class="modal_mask" data-toggle="modal">
		<div class="boxmiddle">
			<div class="box-modal-item box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>¿Quiere añadir un paso o un sub paso nuevo?</label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>

				<div class="botones">
				<a href="#agregarItem">
					<button type="button" id="ordenPasoActual"
						th:onclick="nuevoItem(this)" class="btn btn-secondary">Paso</button>
				</a>
				<a href="#agregarSubItem">
					<button type="button" style="margin-left: 35px;" class="btn btn-secondary" id="idPasoActual"
						th:onclick="nuevoSubItemAlFinal(this)">Sub Paso</button>
				</a>
				</div>

			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- agregar item -->
	<div id="agregarItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4" id="agregarItemModal">
				<div id="modalAlertaItem"></div>
				<form id="agregarItemForm">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>Nombre del paso</label> <input type="hidden"
										id="idCausaAgregarItem" name="idCausaAgregarItem"
										th:value="${causa.id}"> <input type="hidden"
										id="ordenItemAnterior" name="ordenAnterior"> <input
										type="hidden" id="idItemEditar" name="id"> <input
										id="tituloItemNuevo" name="titulo">
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="agregarItem()">Guardar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- agregar sub item -->
	<div id="agregarSubItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlertaSubItem"></div>
				<form id="agregarSubItemForm">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<input type="hidden" name="idCausa" id="idCausaAgregarSubItem"
										th:value="${causa.id}"> <input type="hidden"
										id="idItemAgregarSubItem" name="idItem"> <input
										type="hidden" id="ordenAnteriorSubItem" name="ordenAnterior">
									<input type="hidden" id="idSubItemEditar" name="id"> <label>Nombre
										del paso</label> <input id="tituloSubItemNuevo" name="titulo">
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="agregarSubItem()">Guardar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- agregar nota -->
	<div id="agregarNota" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4 modal-fixed modal-notas">
				<div id="modalAlertaNotas"></div>
				<form id="agregarNotaForm">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>Notas</label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
						<br> <br> <input type="hidden" id="idAsignarNota"
							name="idAsignarNota"> <input type="hidden" id="idNota"
							name="idNota"><br> <label>Titulo Nota</label> <input
							id="tituloNota" name="tituloNota"> <a
							onclick="javascript:limpiarCamposNota()">Limpiar Campos</a> <br>
						<label>Texto Nota</label>
						<textarea name="textoNota" cols="30" rows="10" class="textomodal"
							id="textoNota" placeholder="Escriba la nota aqui"></textarea>
						<div class="tabla-notas">
							<table class="table" id="tablaNotas">
								<thead>
									<tr>
										<th class="tnmin">Fecha</th>
										<th class="">Titulo</th>
										<th class="">Texto</th>
										<th class="tnmin">Acciones</th>
									</tr>
								</thead>
								<tbody id="bodyTablaNotas">

								</tbody>
							</table>
						</div>

					</div>

					<button type="button" class="btn btn-secondary"
						onclick="guardarNota()">Guardar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- agregar nota sub item -->
	<div id="agregarNotaSubItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="agregarNotaSubItemForm">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>Nombre de la nota</label> <input type="hidden"
										name="idCausa" id="idCausaAgregarNotaSubItem"
										th:value="${causa.id}"> <input type="hidden"
										id="idItemAgregarSubItemNota" name="idItem"> <label
										for=""></label>
									<textarea name="observacion" cols="30" rows="10"
										class="textomodal" id="modalEditarObservacionNota"
										placeholder="Escriba la nota aqui"></textarea>
								</div>
							</div>
							<button type="button" class="btn btn-secondary"
								onclick="agregarNotaSubItem()">Guardar</button>
						</div>
					</div>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- Eliminar Nota-->
	<div id="eliminarNota" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlertaEliminarNota"></div>
				<form id="eliminarNota">
					<input type="hidden" class="form-control" id="idNotaEliminar"
						name="idNotaEliminar">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar la nota? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="eliminarNota()" id="modalBtnEliminarNota">Eliminar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- menu subitem -->
	<div id="menuSubItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4 modal-subitem">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<input type="hidden" id="idSubPasoMenu"> <input
								type="hidden" id="idPasoMenu"> <input type="hidden"
								id="nombreSubPasoMenu"> <input type="hidden"
								id="ordenMenu"> <img src="/dist/img/logoinverso.png"
								alt="">
							<div class="textotituloplaca">
								<label>Opciones del sub item</label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>
				<ul class="subMenuModal">
					<li><a href="#agregarSubItem" onclick="editarSubItemMenu()">
							<i class="fas fa-pencil-alt"></i> Editar SubItem
					</a></li>
					<hr>
					<li><a href="#agregarSubItem" onclick="nuevoSubItemMenu()">
							<i class="fas fa-plus"></i> Agregar SubItem
					</a></li>
					<hr>
					<li><a href="#agregarNota" onclick="agregarNotaMenu()"> <i
							class="fas fa-sticky-note"></i> Notas
					</a></li>
					<hr>
					<li><a href="#agregarArchivo"
						onclick="modalAgregarArchivoSubPaso()"> <i
							class="fas fa-paperclip"></i> Adjuntar Archivo
					</a></li>
					<hr>
					<li><a href="#verArchivos" onclick="verArchivosSub()"> <i
							class="fas fa-file"></i> Ver Archivo
					</a></li>
					<hr>
					<li><a href="#eliminarSubItem" onclick="eliminarSubItemMenu()">
							<i class="fas fa-trash-alt"></i> Eliminar SubItem
					</a></li>
				</ul>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	<!-- agregar archivo -->
	<div id="agregarArchivo" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4 modal-fixed">
				<div id="modalAlerta"></div>
				<a href="#" class="cerrarmodalimg"> <img
					src="/dist/img/cerrar.png" alt="">
				</a>
				<form id="guardarArchivoForm">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>Adjuntar un archivo</label> <input type="hidden"
										name="idCausa" id="idCausaAgregarArchivo"
										th:value="${causa.id}"> <input type="hidden"
										id="tipoDePaso" name="tipo"> <input type="hidden"
										id="idPasoSubPaso" name="idItem"> <input type="hidden"
										id="orden" name="orden"> <input type="file" id="file"
										name="file">
								</div>
								<label style="margin-top: 15px">O Seleccionar escritos </label>
								<select class="form-control select2" multiple="multiple"
									name="escritos" id="escritos"
									data-placeholder="Seleccione los escritos a adjuntar"
									style="width: 100%">
									<option th:each="e : ${escritos}" th:text="${e.titulo}"
										th:value="${e.id}">escrito</option>
								</select> <br>
							</div>

						</div>
					</div>
								<button class="btn btn-secondary" type="button"
										id="botonGuardar" onclick="guardarArchivo()">Guardar</button>
								<a href="javascript: limpiarFormArchivo()"></a>
								
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- elegir opcion sobre agregar un nuevo paso o un sub paso -->
	<div id="eleccionAdjunto" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>¿Quiere adjuntar un archivo a un paso o a un sub
									paso? </label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>
				<a href="#agregarArchivo"><button type="button"
						style="margin-left: 15%;" id="archivoItem"
						th:onclick="modalAgregarArchivo(this)" class="btn btn-secondary">Paso</button></a>
				<a href="#agregarArchivo"><button type="button"
						style="margin-right: 17%; margin-top: -7%;"
						class="btn btn-secondary" id="archivoSubItem"
						th:onclick="modalAgregarArchivo(this)">Sub Paso</button></a>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- ver archivos -->
	<div id="verArchivos" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>Estos son los archivos del item</label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>
				<label>Escritos</label>
				<div id="escrit"></div>
				<label>Archivos</label>
				<div id="archivos"></div>
<!--				<label>Dias para finalizar el plazo</label>-->
<!--				<div id="diasLimit"></div>-->
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- ver notas -->
	<div id="verNotas" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>Estos son las notas del item</label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>
				<label>Notas</label>
				<table id="tablaNotas"></table>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="eleccionMiembro" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal2 box-miembro modal-fixed"
				style="overflow-y: hidden;">
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<h3>Agregar Miembro</h3>
								<p>Por favor, elija una de las opciones.</p>
							</div>
							<a href="#" class="cerrarmodalimg"><img
								src="/dist/img/cerrar.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="box1" style="padding-right: 5px;">
					<div id="modalAlerta"></div>
					<div class="agregarinfo box-miembro">
						<a href="#miembroNuevo"><button type="button"
								style="float: left;" class="btn btn-secondary">Nuevo</button></a> <a
							href="#miembroExistente" onclick="traerMiembrosEstudio()"><button
								type="button" style="float: right;" class="btn btn-secondary">Existente</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="miembroNuevo" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlertaNuevoMiembro"></div>
				<div class="contenidomodal4">
					<form id="modalFormulario">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Nuevo Miembro</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<input type="hidden" class="form-control" name="id" id="id">
							<label for="">Email</label> <input type="mail"
								class="form-control" name="idEmailBuscar" id="idEmailBuscar"> <label
								for="">Rol</label> <select name="idRolSelect" id="idRolSelect">
								<option style="display: none" disabled="disabled"
									selected="selected" value="-1">Seleccione un rol para
									el miembro</option>
								<option th:each="rol : ${roles}" th:value="${rol.id}"
									th:text="${rol.nombre}"></option>
							</select>
						</div>
						<a href="javascript: history.go(-2)">
						<button type="button" class="btn btn-secondary"
							onclick="crearMiembroNuevo()" id="modalBtnGuardar">Guardar</button></a>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="miembroExistente" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<form id="modalEvento">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Agregar Miembro</h3>
										<p>Por favor, complete la siguiente informaci&oacute;n.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<input hidden="hidden" name="idCausa" id="idCausaMiembro"
							th:value="${causa.id}">
						<div class="box1" style="padding-right: 5px;">
							<div id="alertaGuardarMiembroExistente"></div>
							<div class="agregarinfo" style="height: auto;">
								<label>Elegir Miembros:</label> <select
									class="form-control select2" id="selectMiembroEstudio"
									name="idMiembros" multiple="multiple"></select>
							</div>
						</div>
						<a href="#eleccionMiembro"><button type="button"
								class="btn btn-secondary" style="float: left;">Volver</button></a> <a
							onclick="guardarMiembroCausa()"><button type="button"
								class="btn btn-secondary" style="float: right;">Guardar</button></a>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<!-- Eliminar Miembro-->
	<div id="eliminarMiembro" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="eliminarMiembroForm">
					<input type="hidden" class="form-control" id="miembroId" name="id">
					<input type="hidden" class="form-control"
						id="causaIdMiembroEliminar" th:value="${causa.id}" name="causaId">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar este miembro? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="miembroEliminar()" id="modalBtnEliminarMiembro">Eliminar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	<script src="/dist/js/demo.js"></script>
	<script src="/app/js/causa.js"></script>
	<script src="/app/js/contacto.js"></script>
	<script src="/app/js/item.js"></script>
	<script src="/app/js/archivo.js"></script>
	<script src="/app/js/escrito.js"></script>
	<script type="text/javascript">
	  $(function () {
		    //Initialize Select2 Elements
		    $('.select2').select2();
	  });
	</script>
</body>
</html>