<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Left side column. contains the logo and sidebar -->
		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="box1 sectionadmin">
					<h3>Causas</h3>
					<a href="#agregar" sec:authorize="hasAuthority('EDITAR_CAUSA')" onclick="modalAgregar()"><label for="btngreen" class="btngreen"><span>+
								Agregar </span><img src="/dist/img/sumab.png" alt=""></label></a>
								
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque la causa solicitada">
						</div>
					</form>
					<hr>
				</div>

				<div class="box1 sectionadmin2" style="margin-bottom: 0;">
					<div class="boxcausascheck">
						<div class="newfiltro1">
							<h3>Filtros</h3>
							<p class="pseleccionar" style="color: #9b9b9a; float: left;">
								<span>|</span> Seleccione la categor&iacute;a que desee mostrar
							</p>
						</div>

						<div class="newfiltro2">

							<select name="" id="primerFiltro" onchange="filtrar(this.value)">
								<option value="">Filtros</option>
								<option value="alfabetico az">Alfab&eacute;tico AZ</option>
								<option value="alfabetico za">Alfab&eacute;tico ZA</option>
								<option value="mas atrazado">Atrasado</option>
								<option value="mas avanzado">Avanzado</option>
								<option value="mas antiguo">Más antiguo</option>
								<option value="mas reciente">Más reciente</option>
								<option value="movimiento mas antiguo">Movimiento
									m&aacute;s antiguo</option>
								<option value="movimiento mas reciente">Movimiento
									m&aacute;s reciente</option>
								<option value="tipo de causa">Tipo de causa</option>
								<option value="usuarios">Usuarios</option>
								<option value="zona">Zona</option>
							</select> <select id="segundoFiltro"
								style="display: none; margin-left: -97%; margin-top: -7%;"
								onchange="segundoFiltro(this.value)"></select>
						</div>
					</div>
				</div>

				<a href="/administracion/causa/archivadas" class="a-causaarchivada" sec:authorize="hasAuthority('EDITAR_CAUSA')">
					Mostrar causas archivadas</a>

				<div class="box1">
					<div class="causastarjeta" th:each="causa : ${page}">
						<div class="cabeceract">
							<div class="cabeceract1">
								<img src="" alt="">
							</div>

							<div class="cabeceract2"
								th:attr="onclick='javascript:cambiarPag( \'' + ${causa.id} + '\')'">
								<h3>
									<span style="word-break: break-all" th:text="${causa.nombre}"></span>
								</h3>
							</div>
							
							<ul class="trespuntos" sec:authorize="hasAuthority('EDITAR_CAUSA')">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true"> <img src="/dist/img/3puntos.png"
										alt="">
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a
											th:href="@{'/administracion/causa/editar/' + ${causa.id}}"><img
												src="/dist/img/imgmodal-04.png"> Editar</a></li>
										<li><a href="#archivarCausa" th:objeto="${causa.id}"
											th:onclick="causaArchivar(this)"><img
												src="/dist/img/archivar.png" alt=""> Archivar</a></li>
										<li><a href="#eliminarCausa" th:idCausa="${causa.id}"
											th:onclick="eliminarCausa(this)"><img
												src="/dist/img/iconomenu-01.png" alt=""> Eliminar</a></li>
									</ul></li>
							</ul>
						</div>
						<div class="box1">
							<div class="datosbarracausa">
								<p class="datosbarracausa1">Estado de la Causa</p>
								<p class="datosbarracausa2" th:if="${causa.estado != null}"
									th:text="${causa.estado} + '%'">40%</p>
								<p class="datosbarracausa2" th:if="${causa.estado == null}">0%</p>
							</div>
							<div class="barracausa">
								<div th:if="${causa.color eq 'rojo'}"
									class="porcentajecausa barrared"
									th:style="|width: ${causa.estado}%|"></div>
								<div th:if="${causa.color eq 'amarillo'}"
									class="porcentajecausa barrayellow"
									th:style="|width: ${causa.estado}%|"></div>
								<div th:if="${causa.color eq 'verde'}"
									class="porcentajecausa barragreen"
									th:style="|width: ${causa.estado}%|"></div>
							</div>
						</div>
					</div>
				</div>
				<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>

		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4 modal-fixed">
					<div id="contenidoModalAgregarCausa" class="contenidomodalcausa">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3 id="tituloModal"></h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" id="cerrar" class="cerrarmodalimg" onclick="resetForm()"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<form id="guardarCausa">
								<div id="modalAlerta"></div>
								<div class="box1">
									<div class="ancho50">
										<label for="">Apellido Actor:</label> <input type="text"
																					 placeholder="APELLIDO Actor" id="actorApellido"
																					 name="actorApellido">
									</div>
									<div class="ancho50">
										<label for="">Nombre Actor:</label> <input type="text"
																				   placeholder="Nombre Actor" id="actorNombre"
																				   name="actorNombre" style="float: right;">
									</div>
								</div>
								<div class="box1">
									<div class="ancho50">
										<label for="">Apellido Demandado:</label> <input type="text"
																						 placeholder="APELLIDO Demandado" id="demandadoApellido"
																						 name="demandadoApellido">
									</div>
									<div class="ancho50">
										<label for="">Nombre Demandado:</label> <input type="text"
																					   placeholder="Nombre Demandado" id="demandadoNombre"
																					   name="demandadoNombre" style="float: right;">
									</div>
								</div>

								<!-- 1ro Pais -->
								<div class="box1 ancho100">
									<label for="">País:</label> <select
										class="form-control select2" name="paisCausa" id="paisCausa"
										onchange="getProvincia(this.value)"
										data-placeholder="Seleccione pais" style="width: 100%">
									<option selected disabled hidden="hidden" value="defecto">Seleccione
										país</option>
									<option th:each="pais : ${pais}" th:text="${pais.nombre}"
											th:value="${pais.id}"></option>
								</select>
								</div>

								<div class="box1 ancho100"></div>
								<!-- 2do Fuero -->
								<div class="box1 ancho100">
									<label for="">Fuero:</label> <select
										class="form-control select2" name="tipoFuero" id="tipoFuero"
										th:onchange="fueroNacional(this)" style="width: 100%">
									<option selected disabled hidden="hidden" value="defecto">Seleccione
										Fuero</option>
									<option
											th:each="fuero : ${T(com.quinto.liberium.enumeration.TipoFuero).values()}"
											th:text="${fuero.tipoFuero}" th:value="${fuero}"></option>
								</select>
								</div>

								<!-- 3ro Circunscripcion o Zona -->
								<div class="box1 ancho100">
									<label for="">Provincia:</label>
									<select
											class="form-control select2" name="provinciaCausa"
											id="provinciaCausa" onchange="buscarJuzgados()"
											data-placeholder="Seleccione provincia" style="width: 100%">
										<option selected disabled hidden="hidden" value="defecto">Seleccione
											provincia</option>
										<option th:each="provincia : ${provincias}"
												th:text="${provincia.nombre}" th:value="${provincia.id}">Provincia</option>
									</select>
								</div>

								<!-- 4to Materia -->

								<!-- 5to Instancia -->
								<div class="ancho100">
									<label for="">Instancia:</label> <select
										class="form-control select2" name="idInstancia" id="idInstancia"
										data-placeholder="Seleccione instancia" style="width: 100%">
									<option selected disabled hidden="hidden" value="defecto">Seleccione la
										instancia</option>
									<option th:each="instancia : ${instancias}"
											th:text="${instancia.nombre}" th:value="${instancia.id}"></option>
								</select>
								</div>

								<!-- 6to Dependencia -->
								<div class="box1 ancho100">
									<label for="">Dependencia:</label> <select
										class="form-control select2" id="juzgadoOficina" name="juzgadoOficina"
										data-placeholder="Seleccione dependencia" style="width: 100%">
									<option selected disabled hidden="hidden" value="defecto">Seleccione la dependencia</option>
								</select>
								</div>

								<!-- 7mo Tipo de Causa -->
								<div class="box1 ancho100">
									<label for="">Tipo de Causa:</label> <select
										class="form-control select2" name="tipoCausa" id="tipoCausa"
										data-placeholder="Seleccione tipo de Causa"
										style="width: 100%">
									<option selected disabled hidden="hidden" value="defecto">Seleccione
										tipo de causa</option>
									<option th:each="tipo : ${tipoCausas}"
											th:text="${tipo.nombre}" th:value="${tipo.id}"></option>
								</select>
								</div>

								<!-- 8vo Rol -->
								<div class="box1 ancho100">
									<label for="">Rol de Causa:</label> <select
										class="form-control select2" name="rolCausa" id="rolCausa"
										data-placeholder="Seleccione Tipo de Rol" style="width: 100%">
									<option selected hidden="" value="defecto">Seleccione
										Tipo de Rol</option>
									<option
											th:each="tipoRol : ${T(com.quinto.liberium.enumeration.TipoRolCausa).values()}"
											th:text="${tipoRol.tipoRolCausa}" th:value="${tipoRol}"></option>
								</select>
								</div>

								<div class="ancho100">
									<label for="">Expediente:</label> <input type="text"
																			 placeholder="Expediente numero" id="nroExpediente"
																			 name="nroExpediente">
								</div>


								<div class="box1 ancho100">
									<label for="">Checklist:</label> <select
										class="form-control select2"
										data-placeholder="Seleccione Checklist" id="checklistSelect"
										name="checklistSelect" style="width: 100%">
									<option value="0">Nuevo Checklist</option>
								</select>
								</div>
								
								<button class="btn btn-secondary" type="button"
										id="botonGuardar" onclick="guardarCausa()">Guardar</button>		
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Eliminar Causa -->
		<div id="eliminarCausa" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="eliminarCausaForm">
						<input type="hidden" class="form-control" id="causaId" name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>&iquest;Est&aacute; seguro que desea eliminar
											esta causa? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="causaEliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<!-- Archivar Causa -->
		<div id="archivarCausa" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="archivarCausaForm">
						<input type="hidden" class="form-control" id="causaIdArchivar"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea archivar esta causa? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="archivarCausa()" id="modalBtnArchivar">Archivar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/dist/js/demo.js"></script>
	<script src="/app/js/causa.js"></script>
</body>
</html>
