<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<input type="hidden" id="id1" th:value="${id1}"/>
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content2">
				<div class="box1 sectionadmin">
					<h3>Modelos de Checklist</h3>
					<a href="#agregar" onclick="resetFormulario();"
						sec:authorize="hasAuthority('EDITAR_CHECKLIST')"> <label
						for="btngreen" class="btngreen"> <span>+ Agregar </span><img
							src="/dist/img/sumab.png" alt="">
					</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque el checklist solicitado">
						</div>
					</form>
					<hr>
				</div>

				<div class="box1">
					<div id="alerta"></div>
					<input th:if="${resultado} != null" type="hidden"
						th:value="${resultado}" id="resultado">
					<div class="checklist" th:each="check : ${page}">
						<div class="box1">
							<h4 th:text="${check.nombre}" href="#agregar"
								th:objeto="${check.id}" th:nombre="${check.nombre}"
								th:visibilidad="${check.visibilidad}"
								th:idPais="${check.pais == null ? '' : check.pais.id}"
								th:idProvincia="${check.provincia == null ? '' : check.provincia.id}"
								th:idCircunscripcion="${check.circunscripcion == null ? '' : check.circunscripcion.id}"
								th:idInstancia="${check.instancia == null ? '' : check.instancia.id}"
								th:idMateria="${check.materia == null ? '' : check.materia.id}"
								th:idTipoCausa="${check.tipoCausa == null ? '' : check.tipoCausa.id}"
								th:tipoFuero="${check.tipoFuero == null ? '-1' : check.tipoFuero}"
								th:idFormulario="${check.formulario == null ? '-1' : check.formulario.id}"
								th:rol="${check.rol == null ? '-1' : check.rol}"
								onclick="modificarChecklist(this, false); verItems(this);"></h4>
							<ul class="trespuntos"
								sec:authorize="hasAuthority('EDITAR_CHECKLIST')">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
										<div class="">
											<img src="/dist/img/3puntos.png" alt="">
										</div>
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a href="#cambiarVisibilidadModal"
											th:objeto="${check.id}" th:onclick="cambiarVisibilidadChecklist(this)">
												<img src="/dist/img/tabla-03.png" alt="">
												<p>Visibilidad</p>
										</a></li>
										<hr>
										<li><a href="#agregar" th:objeto="${check.id}"
											th:nombre="${check.nombre}"
											th:visibilidad="${check.visibilidad}"
											th:idPais="${check.pais == null ? '' : check.pais.id}"
											th:idProvincia="${check.provincia == null ? '' : check.provincia.id}"
											th:idCircunscripcion="${check.circunscripcion == null ? '' : check.circunscripcion.id}"
											th:idInstancia="${check.instancia == null ? '' : check.instancia.id}"
											th:idMateria="${check.materia == null ? '' : check.materia.id}"
											th:idTipoCausa="${check.tipoCausa == null ? '' : check.tipoCausa.id}"
											th:tipoFuero="${check.tipoFuero == null ? '-1' : check.tipoFuero}"
											th:idFormulario="${check.formulario == null ? '-1' : check.formulario.id}"
											th:rol="${check.rol == null ? '-1' : check.rol}"
											onclick="modificarChecklist(this, false); verItems(this);"> <img
												src="/dist/img/imgmodal-04.png" alt="">
												<p>Editar</p></a></li>
										<hr>
										<li><a href="#agregar" th:objeto="${check.id}"
											th:nombre="${check.nombre}"
											th:idPais="${check.pais == null ? '' : check.pais.id}"
											th:idProvincia="${check.provincia == null ? '' : check.provincia.id}"
											th:idCircunscripcion="${check.circunscripcion == null ? '' : check.circunscripcion.id}"
											th:idInstancia="${check.instancia == null ? '' : check.instancia.id}"
											th:idMateria="${check.materia == null ? '' : check.materia.id}"
											th:idTipoCausa="${check.tipoCausa == null ? '' : check.tipoCausa.id}"
											th:tipoFuero="${check.tipoFuero == null ? '-1' : check.tipoFuero}"
											th:idFormulario="${check.formulario == null ? '-1' : check.formulario.id}"
											th:rol="${check.rol == null ? '-1' : check.rol}"
											onclick="clonarChecklist(this);"> <img
												src="/dist/img/iconomenu-02.png" alt="">
												<p>Clonar</p></a></li>
										<hr>
										<li><a href="#eliminar" th:objeto="${check.id}"
											th:onclick="eliminarChecklist(this)"> <img
												src="/dist/img/iconomenu-01.png" alt="">
												<p>Eliminar</p>
										</a></li>
									</ul></li>
							</ul>
						</div>
						<hr>
						<div class="box1">
							<div class="datosparametros">
								<p class="dpp1">Visibilidad</p>
								<p class="dpp2" th:text="${check.visibilidad}"></p>
								<div
									th:if="${check.provincia != null && check.provincia.pais != null}">
									<p class="dpp1">País</p>
									<p class="dpp2"
										th:text="${check.provincia.pais.nombre == null ? '' : check.provincia.pais.nombre}"></p>
									<p class="dpp1">Provincia</p>
									<p class="dpp2"
										th:text="${check.provincia.nombre == null ? '' : check.provincia.nombre}"></p>
								</div>
								<p class="dpp1">Tipo de causa</p>
								<p class="dpp2"
									th:text="${check.tipoCausa.nombre == null ? '' : check.tipoCausa.nombre}"></p>
								<p class="dpp1">Rol</p>
								<p class="dpp2" th:text="${check.rol == null ? '' : check.rol}"></p>
								<p class="dpp3">Pasos a Seguir</p>
								<div th:each="item : ${items}">
									<div th:if="${item.mChecklists.id == check.id}">

										<p class="dpp2" id="itemO" th:text="${item.nombre}"></p>

										<div th:each="sub : ${item.mSubItem}">
											<ul>
												<li><p class="dpp2" th:text="${sub.subNombre}"></p></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div th:replace="fragments/paginador :: paginador">...</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<div th:replace="fragments/footer :: footer">...</div>
		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4" style="overflow-y: auto;">
					<form id="modalFormulario">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3 id="tituloChecklist"></h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="box1" style="padding-right: 5px;">
							<div id="modalAlerta"></div>
							<div class="agregarinfo">
								<input type="hidden" class="form-control" name="id"
									id="idChecklist"> <label for="">Nombre</label> <input
									type="text" class="form-control" name="nombre" id="nombre">
								<label>Rol procesal</label> <select class="form-control select2"
									name="tipoChecklist" id="tipoChecklist"
									data-placeholder="Seleccione un Rol" style="width: 100%">
									<option></option>
									<option th:each="t : ${tipoRolCausas}"
										th:text="${t.tipoRolCausa}" th:value="${t}">tipo rol</option>
								</select> <label for="">País</label> <select
									class="form-control select2" name="idPais" id="idPais"
									data-placeholder="Seleccione un País" style="width: 100%"
									onchange="getProvincia(this.value)">
									<option></option>
									<option th:each="pais : ${paises}" th:text="${pais.nombre}"
										th:value="${pais.id}">Pais</option>
								</select> <label for="">Fuero</label> <select
									class="form-control select2" name="tipoFuero" id="tipoFuero"
									data-placeholder="Seleccione el Fuero" style="width: 100%"
									onchange="selectFuero();">
									<option></option>
									<option th:each="fuero : ${tiposFuero}"
										th:text="${fuero.tipoFuero}" th:value="${fuero}">Fuero</option>
								</select> <label for="">Materia</label> <select
									class="form-control select2" name="idMateria" id="idMateria"
									data-placeholder="Seleccione una Materia" style="width: 100%"
									onchange="getTipoCausa(this.value)">
									<option></option>
									<option th:each="materia : ${materias}"
										th:text="${materia.nombre}" th:value="${materia.id}"></option>
								</select> <label for="">Tipo de causa</label> <select
									class="form-control select2" name="idTipoCausa"
									id="idTipoCausa" data-placeholder="Seleccione un Tipo de Causa"
									style="width: 100%">
								</select>

								<div id="ocultable">
									<label for="">Provincia</label> <select
										class="form-control select2" name="idProvincia"
										id="idProvincia" data-placeholder="Seleccione una Provincia"
										style="width: 100%" disabled="disabled"
										onchange="getCircunscripcion(this.value)">
										<option></option>
									</select> <label for="">Circunscripción</label> <select
										class="form-control select2" name="idCircunscripcion"
										id="idCircunscripcion"
										data-placeholder="Seleccione una Circunscripción"
										style="width: 100%" disabled="disabled">
										<option></option>
									</select> <label for="">Instancia</label> <select
										class="form-control select2" name="idInstancia"
										id="idInstancia" data-placeholder="Seleccione una Instancia"
										style="width: 100%">
										<option disabled seleted>Seleccione instalcia</option>
										<option th:each="instancia : ${instancias}"
											th:text="${instancia.nombre}" th:value="${instancia.id}"></option>
									</select>
								</div>

								<label for="">Formulario</label> <select
									class="form-control select2" name="idFormulario"
									id="idFormulario" data-placeholder="Seleccione un Formulario"
									style="width: 100%">
									<option></option>
									<option th:each="formulario : ${formularios}"
										th:text="${formulario.titulo}" th:value="${formulario.id}"></option>
								</select>
								<h4 style="margin-top: 7px;">Checks a seguir</h4>
								<div id="bloqueItem" class="items2"></div>

								<button type="button" sec:authorize="hasAuthority('EDITAR_CHECKLIST')" onclick="botonAgregarItem()" 
									class="btnmodal"
									style="width: 100% !important; border-radius: 5px !important; margin: 20px 0 10px 0 !important; float: left;">Agregar
									check</button>
							</div>
						</div>
						<div class="buttonmiddle">
							<button type="button" sec:authorize="hasAuthority('EDITAR_CHECKLIST')" class="btn btn-secondary"
								onclick="guardarCheck(true);" id="modalBtnGuardar">Guardar</button>
						</div>
					</form>
				</div>

			</div>
			<!-- box-modal==== -->
		</div>
		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar este
											checklist? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div id="cambiarVisibilidadModal" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormularioVisibilidad">
						<input type="hidden" class="form-control" id="modalVisibilidadId"
							name="modalVisibilidadId">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea cambiar la visibilidad
											de este checklist?</label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="cambiarVisibilidad()" id="modalBtnEliminar">Cambiar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div id="adjuntar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4" style="overflow-y: auto;">
					<form id="modalAdjuntos">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Agregar adjuntos</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
									<a href="#agregar" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="box1">
							<div id="modalAlerta"></div>
							<input type="hidden" class="form-control" id="adjuntarOrden">
							<input type="hidden" class="form-control" id="adjuntarSubOrden">
							<input type="hidden" class="form-control" id="adjuntarId">
							<div class="agregarinfo" style="height: auto;">
								<h4 style="margin-top: 7px; margin-bottom: 20px;">Seleccionar
									archivos</h4>
								<input type="file" id="files" name="files" class="form-control"
									style="border: none;" multiple="multiple">
								<div style="display: none;" id="listadoSeleccionados">
									<h4 style="margin-top: 7px; margin-bottom: 20px;">Listado
										de archivos</h4>
									<div id="listadoNombre"></div>
								</div>
								<h4 style="margin-top: 7px; margin-bottom: 20px;">Seleccionar
									escritos</h4>
								<select class="form-control select2" multiple="multiple"
									name="escritos" id="escritos"
									data-placeholder="Seleccione los escritos a adjuntar"
									style="width: 100%">
									<option th:each="e : ${escritos}" th:text="${e.titulo}"
										th:value="${e.id}">escrito</option>
								</select> <br>
								<div style="margin-top: 20px;">
									<h4 style="margin-top: 7px; margin-bottom: 20px;">Vencimiento
										de plazos</h4>
									<input type="text" class="form-control" name="limite"
										id="limite">
								</div>
								<div style="margin-top: 20px;">
									<div class="box1 checkregister">
										<label class="containerb"> <input type="checkbox"
											id="habiles"> <span class="checkmarkb"></span>
										</label>
										<p>
											<label for="">Hábiles </label>
										</p>
									</div>
								</div>

							</div>
						</div>
						<div class="buttonmiddle">
							<button style="margin-bottom: 25px;" type="button"
								class="btn btn-secondary" onclick="agregarAdjuntos(true);"
								id="modalBtnGuardar">Guardar</button>
						</div>
					</form>
				</div>

			</div>
			<!-- box-modal==== -->
		</div>
		<div id="verAdjuntos" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div class="contenidomodal4">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3 style="padding-top: 8px;">Adjuntos</h3>
									</div>
								</div>
								<a href="#agregar" class="cerrarmodalimg"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div id="contenidoVerAdjuntos"></div>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
	</div>
	<script src="/app/js/comboAnidado.js"></script>
	<script src="/app/js/checklist.js"></script>
</body>
</html>