<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<div class="content-wrapper col-sm-11">
			<section class="content2">

				<div class="box1 sectionadmin">
					<h3>Circunscripciones y zonas</h3>
					<a href="#agregar"> <label for="btngreen" class="btngreen"
						sec:authorize="hasAuthority('EDITAR_CIRCUNSCRIPCIONES')">
							<span>+ Agregar </span> <img src="/dist/img/sumab.png" alt="">
					</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque la circunscripción solicitada">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<div id="alerta"></div>
					<input th:if="${resultado} != null" type="hidden"
						th:value="${resultado}" id="resultado">
					<div class="dependencia" th:each="circunscripcion : ${page}">
						<div class="box1">
							<h4 th:text="${circunscripcion.nombre}"
								th:objeto="${circunscripcion.id}"
								th:nombre="${circunscripcion.nombre}"
								th:provincia="${circunscripcion.provincia.id}"
								onclick="modificarCircunscripcion(this)"></h4>
							<ul class="trespuntos"
								sec:authorize="hasAuthority('EDITAR_CIRCUNSCRIPCIONES')">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
											<img src="/dist/img/3puntos.png" alt="">
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a href="#editar" th:objeto="${circunscripcion.id}"
											th:nombre="${circunscripcion.nombre}"
											th:provinciaID="${circunscripcion.provincia.id}"
											th:provincia="${circunscripcion.provincia.nombre}"
											th:localidades="${circunscripcion.localidades}"
											onclick="modificarCircunscripcion(this)"> <img
												src="/dist/img/imgmodal-04.png" alt="">
												<p>Editar</p>
										</a></li>
										<hr>
										<li><a href="#eliminar" th:objeto="${circunscripcion.id}"
											th:onclick="eliminarCircunscripcion(this)"> <img
												src="/dist/img/iconomenu-01.png" alt="">
												<p>Eliminar</p>
										</a></li>
									</ul></li>
							</ul>
						</div>
						<hr>
						<div class="box1">
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Circunscripción o zona</p>
									<p class="dpp2"
										th:text="${circunscripcion.nombre == null ? '' : circunscripcion.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Provincia</p>
									<p class="dpp2"
										th:text="${circunscripcion.provincia == null ? '' : circunscripcion.provincia.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Localidades</p>
									<div th:if="${circunscripcion.localidades}">
										<div th:each="localidad : ${circunscripcion.localidades}">
											<p class="dpp2" th:text="${localidad.nombre}"></p>
										</div>
									</div>
									<div th:if="${#lists.size(circunscripcion.localidades) == 0}">
										<p class="dpp2">No tiene localidades cargadas</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- nuevo  -->
		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<div class="contenidomodal4">
						<form id="modalFormulario">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Nueva Circunscripción o zona</h3>
											<p>Por favor, complete la siguiente información.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" name="id"> <label
									for="">Nombre</label> <input type="text" class="form-control"
									name="nombre"> <label for="">Provincia</label> <select
									class="form-control select2" name="idProvincia" id="provincia"
									data-placeholder="Seleccione provincia" style="width: 100%"
									onchange="buscarLocalidad(this.value)">
									<option selected disabled value="">--Seleccione una
										provincia--</option>
									<option th:each="provincia : ${provincias}"
										th:text="${provincia.nombre}" th:value="${provincia.id}"
										onchange="buscarLocalidad(this.value)"></option>
								</select> <label for="">Localidades</label> <select
									class="form-control select2" name="idLocalidades"
									id="localidad" multiple="multiple" style="width: 100%">
								</select>
							</div>
							<button type="button" class="btn btn-secondary"
								onclick="guardarCircunscripcion()" id="modalBtnGuardar">Guardar</button>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<!-- editar  -->
		<div id="editar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<div class="contenidomodal4">
						<form id="modalFormularioEditar">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Editar Circunscripción o zona</h3>
											<p>Por favor, complete la siguiente información.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" id="modalEditarId"
									name="id"> <label for="">Nombre</label> <input
									type="text" class="form-control" id="modalEditarNombre"
									name="nombre"> <label for="">Provincia</label> <select
									class="form-control select2" name="idProvincia"
									id="modalProvinciaEditar"
									data-placeholder="Seleccione provincia" style="width: 100%">
									<option th:each="provincia : ${provincias}"
										th:text="${provincia.nombre}" th:value="${provincia.id}"></option>
								</select> <label for="">Localidades</label> <select
									class="form-control select2" name="idLocalidades"
									id="modalLocalidadesEditar" multiple="multiple"
									style="width: 100%">
								</select>
							</div>
							<button type="button" class="btn btn-secondary"
								onclick="editarCircunscripcion()" id="modalBtnEditar">Editar</button>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormularioEliminar">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar la
											circunscripción? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/circunscripcion.js"></script>
</body>
</html>
