<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" class="fondoliberium">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="U-UX-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<title>LIBERIUM</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	
<div id="pantalla">
	<div id="contenedor">

			<header style="z-index:999999999999999999999999">
				<nav>
					<div class="boxlogo"><a href="/"><img src="/img/logoliberium.png" alt="Volver al Inicio"></a></div>
				</nav>
			</header>


			<section class="positioninicio">

	<div class="middlebox">
		<div class="boxinicio">
			<form th:action="@{/olvide-mi-clave}" method="POST">
				<div class="logoinicio"><a href="/"><img src="/img/logoliberium1.png" alt="Volver al Inicio"></a></div>
				<div class="box1">
					<h2><span>C</span>onfirmacion de turno</h2>
					<h4 th:text="${error}"></h4>
					<h4 th:text="${exito}"></h4>
				</div>
		
		
				<div class="box0">
					<p>¿Estas teniendo algun problema? <a href="mailto:hola@liberium.la" target="_blank"  class="enlace2">Comunicate con nosotros.</a></p>
				</div>
			</form>
		</div>
	</div>

</section>
				
			<footer>
				<hr>
				<p>Copyright 2020 © All Rights Reserved</p>
				<a href="mailto:hola@liberium.la" target="_blank">hola@liberium.la</a>
			</footer>		

</div> <!-- #contenedor ==== -->
</div> <!-- #pantalla ==== -->

</body>
</html>