<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
			<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>

		<div class="content-wrapper col-sm-11">
			<section class="content2">
	
					<div class="box1 sectionadmin">
						<h3>Consultas</h3>
	
						<form action="#" method="get" class="sidebar-form2">
							<div class="input-group">
								<span class="input-group-btn">
									<button type="submit" name="search" id="search-btn" class="btn btn-flat">
										<i class="fa fa-search"></i>
									</button>
								</span>
								<input type="text" name="q" class="form-control" placeholder="Buscar por nombre">
							</div>
						</form>
						<hr>
					</div>
					
					<div id="alerta"></div>
					<div class="box1">
				
					<div class="box-usuarios">
			          <div class="tabla table-responsive">
			            <table class="table">
			              <tbody>
			                <tr>
			                  <th class="columna1" style="background-color: #92b233;">Apellido y Nombre</th>
			                  <th class="columna1" style="background-color: #92b233;">E-mail</th>
			                  <th class="columna1" style="background-color: #92b233;">Teléfono</th>
			                  <th class="columna1" style="background-color: #92b233;">DNI</th>
			                  <th class="columna1" style="background-color: #92b233;">Tipo de Causa</th>
			                  <th class="columna2" style="background-color: #92b233;">Localidad</th>
			                  <th class="columna2" style="background-color: #92b233;">Ver Info</th>
			                </tr>
			                
			
			                <tr th:each="consulta : ${page}">
			                  <td><p th:text="${consulta.nombre + ' ' + consulta.apellido}"></p></td>
			                  <td><p th:text="${consulta.mail}"></p></td>
			                  <td><p th:text="${consulta.telefono}"></p></td>
			                  <td><p th:text="${consulta.dni}"></p></td>
			                  <td><p th:text="${consulta.tipoCausa.nombre}"></p></td>
						      <td><p th:text="${consulta.localidad.nombre}"></p></td>
			                  
			                  <td>
			                  	<a href="#ver" th:idConsulta="${consulta.id}" onclick="verConsulta(this)">
									<img src="/dist/img/ojo.png" alt="">
								</a>				
			                  </td>
			                </tr>
			              </tbody>
			            </table>
			          </div>
        			</div>
		
					</div>
				</section>
			
				<div th:replace="fragments/paginador :: paginador">...</div>
			
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		
		<div id="ver" class="modal_mask">
	      <div class="boxmiddle">
		      <div class="box-modal box-modal4">
		        <div class="contenidomodal4">
    			 <form id="modalFormulario">
		          <div class="box1">
		            <div class="cabeceramodal">
		              <div class="tituloplaca">
		                <img src="/dist/img/logoinverso.png" alt="">
		                <div class="textotituloplaca">
		                  <h3>Ver Consulta</h3>
		                  <p>Aqui puede ver la informacion de la consulta.</p>
		                </div>
		              </div>
		              <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		            </div>
		          </div>
		          <div class="box1 agregarinfo2">
   							<div class="box1 cuestionario">
								<div class="box1">
									<div class="ancho50">
										<label for="">Nombre</label>
										<h4 id="nombre"></h4>
									</div>
									<div class="ancho50" style="float: right;">
										<label for="">Apellido</label>
										<h4 id="apellido"></h4>
									</div>
								</div>

								<div class="box1">
									<div class="ancho50">
										<label for="">DNI</label>
										<h4 id="dni"></h4>
									</div>
									<div class="ancho50" style="float: right;">
										<label for="">Fecha de Nacimiento</label>
										<h4 id="fechaNacimiento"></h4>
									</div>
									<div class="ancho50" style="float: right;">
										<label for="">Genero:</label>
										<h4 id="genero"></h4>
									</div>
									<div class="ancho50">
										<label for="">Edad</label>
									<h4 id="edad"></h4>
									</div>
								</div>
								
								<div class="box1">
									<div class="ancho50">
										<label for="">Tel&eacute;fono</label>
										<h4 id="telefono"></h4>
									</div>
									<div class="ancho50" style="float: right;">
										<label for="">Localidad</label>
										<h4 id="localidad"></h4>
									</div>
								</div>
								
								<div class="box1">
									<div class="ancho100">
										<label for="">Direcci&oacute;n</label>
										<h4 id="direccion"></h4>
									</div>
								</div>
								<div class="box1">
									<div class="ancho100">
										<label for="">E-mail</label>
										<h4 id="email"></h4>
									</div>		
								</div>
							</div>
							
							<div id="divPreguntasRespuestas" hidden="">
				              <div class="tituloplaca">
				                <img src="/dist/img/form-icon.png" style="color: green; margin-top: 20px;" alt>
				                    <div class="textotituloplaca">
					                  <h3 style="margin-top: 20px;">Formulario</h3>
					                  <p style="margin-bottom: 30px;">Aqui puede ver las respuestas de el formulario.</p>
					                </div>
					              </div>
								<div id="preguntasRespuestas"></div>
							</div>
							
		         		 </div>
		         		 <input type="hidden" id="idFormulario">
		         		 <input type="hidden" id="idConsulta">
		         		 
		         		 <div id="ocultarFormulario" hidden="">	
		          			<a><button type="button" class="btn btn-secondary" onclick="ocultarFormulario()" style="float: left;">Ocultar</button></a>		         		 
		         		 </div>
		         		 
		          	<a id="divForm"><button type="button" class="btn btn-secondary" onclick="verFormulario()" style="float: left;">Formulario</button></a>
		          	<a><button type="button" class="btn btn-secondary" onclick="crearCausa()" style="float: right;">Crear causa</button></a>
        		  </form>
		        </div>
		      </div><!-- box-modal==== -->
		    </div>
		  </div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/consulta.js"></script>
</body>
</html>
