<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<div th:replace="fragments/header :: header">...</div>
	<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>
  <div class="content-wrapper">
  <!-- Main content -->
    <section class="content">
      <div class="box1 sectionadmin">
        <h3>Contabilidad del Estudio</h3>
 		<h3><select class="form-control selectEstudio" name="idEstudi" data-placeholder="Seleccionar" id="selectEstudio" onchange="asignarEstudio(this.value, null, null)" style="width: 100%">
			    <option selected disabled value="">Seleccionar Estudio</option>
				<option th:each="estu : ${estudio}" th:text="${estu.nombre}" th:value="${estu.id}"></option>
		</select></h3>       
<!-- 		 <form action="#" method="get" class="sidebar-form2"> -->
<!--           <div class="input-group">   -->
<!--             <span class="input-group-btn"> -->
<!--               <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> -->
<!--               </button> -->
<!--             </span> -->
<!--             <input type="text" name="q" class="form-control" placeholder="Ingrese el dato solicitado"> -->
<!--           </div> -->
<!--         </form> -->
        <hr>
      </div>

      <div class="box1 sectionadmin2" style="margin-bottom: 0;">
        <div class="boxcausascheck" style="border-radius: 10px;">
          <div class="newfiltro1" style="margin-top: 7px;">
            <h3 style="margin-left: 10px;">Filtros</h3> <p class="pseleccionar" style="color: #9b9b9a; float:left;"><span>|</span> Seleccione el Mes y A&ntilde;o que desea mostrar</p>
          </div>
	          <div class="newfiltro2">
		           <label>Desde:</label>
	               <input type="date" placeholder="Desde" id="startDate" style="border-radius: 5px; margin-right: 15px;">
	          	   <label>Hasta:</label>
		           <input type="date" placeholder="Hasta" id="endDate" style="border-radius: 5px; margin-right: 15px;">
   	               <button type="button" class="btn btn-outline-secondary" style="margin-right: 15px;" onclick="asignarEstudioConFechas()">Buscar</button>
	          </div>
        </div>
      </div>

      <div class="box1" id="boxContabilidad" hidden="">
        <div class="elementocausa">
          <div class="box1 overblock">
            <div class="tablacontabilidad">
              <div class="tablaingresos">
                <div class="nombretabla"><div class="ctc1"><h4>Ingresos</h4></div><div class="ctc2"></div></div>
                <div class="celdati">
                  <div class="ctc8"><p>Caso</p></div>
                  <div class="ctc8"><p>Forma de Pago</p></div>
                  <div class="ctc9"><p>Fecha</p></div>
                  <div class="ctc9"><p class="textr">Monto</p></div>
                  <div class="ctc6"><a onclick="mostrarModal('INGRESO')"><img src="/dist/img/suma2.png" alt=""></a></div>
                </div>
               <div id="tablaIngresos"></div>
                <div class="celdati2"><div class="ctc10"><p>TOTAL HONORARIOS</p></div><div class="ctc9 textr"><p id="totalIngresos"></p></div></div>

                <div class="nombretabla"><h4>Otros Activos</h4></div>
                <div class="box1">
                  <div class="celdati">
                    <div class="ctc8"><p>Detalle</p></div>
                    <div class="ctc8"><p>Forma de Pago</p></div>
                    <div class="ctc9"><p>Fecha</p></div>
                    <div class="ctc9"><p class="textr">Monto</p></div>
                    <div class="ctc6"><a onclick="mostrarModal('ACTIVO')"><img src="/dist/img/suma2.png" alt=""></a></div>
                  </div>
                  <div id="tablaActivos"></div>
                  <div class="celdati2"><div class="ctc10"><p>TOTAL</p></div><div class="ctc9 textr"><p id="totalActivos"></p></div></div>
                </div>
              </div>

              <div class="tablaegresos">
                <div class="nombretabla"><h4>Gastos Fijos</h4></div>
                <div class="box1">
                  <div class="celdati">
                    <div class="ctc8"><p>Detalle</p></div>
                    <div class="ctc8"><p>Forma de Pago</p></div>
                    <div class="ctc9"><p>Fecha</p></div>
                    <div class="ctc9"><p class="textr">Monto</p></div>
                    <div class="ctc6"><a onclick="mostrarModal('GASTO')"><img src="/dist/img/suma2.png" alt=""></a></div>
                  </div>
                 <div id="tablaGastos"></div>
                  <div class="celdati2"><div class="ctc10"><p>TOTAL</p></div><div class="ctc9 textr"><p id="totalGastos"></p></div></div>
                </div>
                <div class="nombretabla"><h4>Otros Gastos</h4></div>
                <div class="box1">
                  <div class="celdati">
                    <div class="ctc8"><p>Detalle</p></div>
                    <div class="ctc8"><p>Forma de Pago</p></div>
                    <div class="ctc9"><p>Fecha</p></div>
                    <div class="ctc9"><p class="textr">Monto</p></div>
                    <div class="ctc6"><a onclick="mostrarModal('OTROGASTO')"><img src="/dist/img/suma2.png" alt=""></a></div>
                  </div>
                  <div id="tablaOtrosGastos"></div>
                  <div class="celdati2"><div class="ctc10"><p>TOTAL</p></div><div class="ctc9 textr"><p id="totalOtrosGastos"></p></div></div>
                </div>
              </div> 

              <div class="box1">
                <div class="tablaingresos">
                  <div class="celdati">
                    <div class="ctc1"><p>TOTAL INGRESOS</p></div><div class="ctc2"></div><div class="ctc2"><p id="totalDeTotalesIngresos"></p></div>
                  </div>
                </div>
                <div class="tablaegresos">
                  <div class="celdati">
                    <div class="ctc1"><p>TOTAL GASTOS</p></div><div class="ctc2"></div><div class="ctc2"><p id="totalDeTotalesGastos"></p></div>
                  </div>
                </div>
                <div class="celdati backgrey"><div class="ctc1"><p>SALDO TOTAL</p></div><div class="ctc2"></div><div class="ctc2"><p id="totalDeTotales"></p></div></div>
              </div>
            </div>
          </div>
        </div> 

        <div class="elementocausa">  
           <div class="box1 overblock">
              <div class="nombretabla" style="border-bottom: 2px solid #f5f5f5;"><h4>Movimientos Bancarios</h4><div class="ctc6"><a onclick="mostrarModal('BANCO')"><img src="/dist/img/suma2.png" alt=""></a></div></div>
              <div class="tablacontabilidad" id="bancos">
                <div class="celdati backgrey"><div class="ctc1"><p>SALDO MOVIMIENTOS BANCARIOS</p></div><div class="ctc2"></div><div class="ctc2"><p>-$1.640,00</p></div></div>
              </div>
            </div> 
        </div>

        <div class="elementocausa">  
           <div class="box1 overblock">
            <div class="nombretabla" style="border-bottom: 2px solid #f5f5f5;"><h4>Distribuciones</h4><div class="ctc6"><a onclick="mostrarModal('DISTRIBUCION')"><img src="/dist/img/suma2.png" alt=""></a></div></div>
            <div class="tablacontabilidad" id="distribuciones">
          

              <div class="celdati">
                <div class="ctc1"><p>TOTAL DISTRIBUCIÓN NOMBRE</p></div><div class="ctc2"></div><div class="ctc2"><p>$1.800,00</p></div>
              </div>
              <div class="celdati backgrey"><div class="ctc1"><p>SALDO DISTRIBUCIÓN</p></div><div class="ctc2"></div><div class="ctc2"><p>-$1.640,00</p></div></div>
              <div class="celdati"><div class="ctc1"><p>PATRIMONIO NETO</p></div><div class="ctc2"></div><div class="ctc2"><p>-$640,00</p></div></div>
            </div>
          </div> 
        </div>
        <div class="elementocausa">  
           <div class="box1 overblock">
            <div class="nombretabla" style="border-bottom: 2px solid #f5f5f5;"><h4>Saldos Totales</h4></div>
            <div class="tablacontabilidad saldogeneral">
              <div class="celdati2"><div class="ctc10"><p>SALDO CAJA</p></div><div class="ctc11 textr"><p id="saldoCaja"></p></div></div>
              <div class="celdati2"><div class="ctc10"><p>SALDO MOVIMIENTOS BANCARIOS</p></div><div class="ctc11 textr"><p id="saldoCajaBanco"></p></div></div>
              <div class="celdati2"><div class="ctc10"><p>DISTRIBUCIONES GENERALES</p></div><div class="ctc11 textr"><p id="saldoDistribuciones"></p></div></div>
            </div>
          </div> 
        </div> 
      </div>
    </section>
    <!-- /.content -->
  </div>
  <div th:replace="fragments/footer :: footer">...</div>
  <script src="/app/js/contable-estudio.js"></script>
  </div>
</body>

 	<div id="crear" class="modal_mask">
	      <div class="boxmiddle">
		      <div class="box-modal box-modal4">
		        <div class="contenidomodal4">
    			 <form id="formularioContabilidad">
		          <div class="box1">
		            <div class="cabeceramodal">
		              <div class="tituloplaca">
		                <img src="/dist/img/logoinverso.png" alt="">
		                <div class="textotituloplaca">
		                  <h3>Creacion Contable</h3>
		                  <p>Por favor, complete la siguiente informaci&oacute;n.</p>
		                </div>
		              </div>
		              <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		            </div>
		          </div>
		          <div class="box1 agregarinfo2">
		          	<div id="error"></div>
		          	<div id="detalle">
			          	<label>Detalle</label>
			          	<input name="detalle" type="text" placeholder="Ingrese el detalle">
		          	</div>
		          	
		          	<div id="selectMiembros"></div>
		          	
	          	 	<label>Forma de pago</label>
	          	 	<select name="formaPago">
	          	 		<option disabled="disabled" selected="selected" hidden="">Seleccione una forma de pago</option>
	          	 		<option value="Contado">Contado</option>
	          	 		<option value="Cuotas">Cuotas</option>
	          	 	</select>
	          	 	<label>Fecha</label>
		          	<input name="fecha" type="date">
	          	 	<label>Monto</label>
		          	<input name="monto" min="0" type="number" placeholder="Ingrese el monto">
		          	<input name="idEstudio" type="hidden" id="idEstudio">
		          	<input name="tipoContabilidad" type="hidden" id="tipoContabilidad">
		          	<input name="idHonorario" type="hidden" id="idHonorario">
		          </div>
		          <a><button type="button" class="btn btn-secondary" onclick="crear()">Guardar</button></a>
        		  </form>
		        </div>
		      </div><!-- box-modal==== -->
		    </div>
		  </div>
		  
		  <div id="crearHonorario" class="modal_mask">
	      <div class="boxmiddle">
		      <div class="box-modal box-modal4">
		        <div class="contenidomodal4">
    			 <form id="formularioHonorario">
		          <div class="box1">
		            <div class="cabeceramodal">
		              <div class="tituloplaca">
		                <img src="/dist/img/logoinverso.png" alt="">
		                <div class="textotituloplaca">
		                  <h3 id="creacionText"></h3>
		                  <p>Por favor, complete la siguiente informaci&oacute;n.</p>
		                </div>
		              </div>
		              <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		            </div>
		          </div>
		          <div class="box1 agregarinfo2">
		          	<div id="errorHonorario"></div>
		          	<label id="honorarioLabel"></label>
		          	<input name="nombre" type="text" placeholder="" id="inputText">
		          	<input name="idEstudio" type="hidden" id="idEstudioHonorario">
		          	<input name="tipoHonorario" type="hidden" id="tipoHonorario">
		          </div>
		          <a><button type="button" class="btn btn-secondary" onclick="crearHonorario()">Guardar</button></a>
        		  </form>
		        </div>
		      </div><!-- box-modal==== -->
		    </div>
		  </div>

</html>
