<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="box1 sectionadmin">
					<h3>Contactos</h3>
					<a href="#contactoModal" sec:authorize="hasAuthority('EDITAR_CONTACTOS')" onclick="modalAgregar()"> <label
						for="btngreen" class="btngreen text-center"
						style="margin-left: 40px;"><span>+ Agregar </span><img
							src="/dist/img/sumab.png" alt=""></label></a>
					<form action="#" method="get" class="sidebar-form2"
						style="margin-right: 0 !important;">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Ingrese el nombre de un contacto">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1 sectionadmin2" style="margin-bottom: 0;"
					id="filtros">
					<div class="boxcausascheck">
						<div class="newfiltro1">
							<h3>Filtros</h3>
							<p class="pseleccionar" style="color: #9b9b9a; float: left;">
								<span>|</span> Seleccione la categor&iacute;a que desee mostrar
							</p>
						</div>

						<div class="newfiltro2">
							<select id="selectEscrito" onchange="mostrarBloque(this.value)">
								<option selected disabled="disabled">Seleccione una
									Opción</option>
								<option value="personales">Contactos Personales</option>
								<option value="estudio">Contactos del Estudio</option>
							</select>
						</div>
					</div>
				</div>
				<div id="alerta"></div>
				<div class="datosapartes datosapartesm2"
					th:each="contacto : ${page}">
					<div class="box1 box collapsed-box">
						<div class="box-tools">
							<button class="cabeceradatosapartes btn-box-tool"
								data-widget="collapse">
								<img src="/dist/img/datos-02.png" alt="">
								<div class="hrvertical"></div>
								<h4 th:text="${contacto.apellido} + ', ' + ${contacto.nombre}"></h4>
							</button>
						</div>
						<div class="box-body">
							<div class="contactodatospartes fondogrey">
								<div class="itemdatospartes">
									<img src="/dist/img/datos-02.png" alt="">
									<p class="nombregrupo"
										th:text="${contacto.apellido} + ', ' + ${contacto.nombre}"></p>
								</div>
								<div class="itemdatospartes">
									<img src="/dist/img/datos-05.png" alt="">
									<p class="itemdatospartesp" th:text="${contacto.email}"></p>
								</div>
								<div class="itemdatospartes">
									<img src="/dist/img/datos-06.png" alt="">
									<p class="itemdatospartesp"
										th:text="${contacto.telefonoCelular}"></p>
								</div>
								<ul class="trespuntos">
									<li class="dropdown user user-menu trespuntosli"><a
										href="#" class="dropdown-toggle" data-toggle="dropdown"
										aria-expanded="true">
												<img src="/dist/img/3puntos.png" alt="">
									</a>
										<ul class="dropdown-menu trespuntosmenu">
											<li><a href="#eliminarContacto" sec:authorize="hasAuthority('EDITAR_CONTACTOS')"
												th:idContacto="${contacto.id}"
												th:onclick="eliminarContacto(this)"> <img
													src="/dist/img/iconomenu-01.png" alt="">
												Eliminar
											</a></li>
										</ul></li>
								</ul>
							</div>
							<div class="box1">
								<a href="#contactoModal" sec:authorize="hasAuthority('EDITAR_CONTACTOS')" th:idContacto="${contacto.id}"
									th:onclick="modificarContacto(this)"><button
										class="btngreen">Editar</button></a>
							</div>
						</div>
					</div>
				</div>
				<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div id="contactoModal" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div class="contenidomodal4">
						<form id="modalFormularioContacto">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3 id="tituloModal"></h3>
											<p>Por favor, complete la siguiente informaci&oacute;n.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg" onclick="resetForm()"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<input type="hidden" class="form-control" name="id"
								id="modalEditarId"> <input type="hidden"
								name="idEstudio" id="idEstudio">
							<div class="box1 agregarinfo2">
								<div id="modalAlertaContacto"></div>
								<div class="label100 mlright">
									<label for="">Apellido</label> <input name="apellido"
										placeholder="Escriba el apellido" type="text"
										id="modalEditarApellido"> 
									<label for="">Nombre</label>
									<input name="nombre" placeholder="Escriba el nombre"
										type="text" id="modalEditarNombre">
								</div>
								<div class="label50 mlright">
									<label for="">Tel&eacute;fono Fijo</label> <input
										name="telefonoFijo" type="number" id="modalEditarTelefonoFijo"
										placeholder="Telefono fijo">
								</div>
								<div class="label50">
									<label for="">Tel&eacute;fono Celular</label> <input
										name="telefonoCelular" type="number"
										id="modalEditarTelefonoCelular" placeholder="Telefono Celular">
								</div>
								<label for="">Mail</label> <input name="email"
									placeholder="Ingrese un email" type="email"
									id="modalEditarEmail"> <a><button type="button"
										class="btn btn-secondary" onclick="guardarContacto()"
										id="modalBtnGuardar1">Guardar</button></a>
								<div class="textotituloplaca">
									<h3 id="tituloModal"></h3>
									<p>Datos adicionales.</p>
								</div>
								<label for="">Tipo de Persona</label> <select
									class="form-control select2" name="tipoPersona"
									id="modalEditarTipoPersona">
									<option selected disabled value="">Seleccione un tipo
										de persona</option>
									<option
										th:each="tipoPersona : ${T(com.quinto.liberium.enumeration.TipoPersona).values()}"
										th:value="${tipoPersona}" th:text="${tipoPersona.tipoPersona}"></option>
								</select> <label for="">Tipo de V&iacute;nculo</label> <select
									class="form-control select2" name="tipoVinculo"
									id="modalEditarTipoVinculo">
									<option selected disabled value="">Seleccione un tipo
										de vinculo</option>
									<option
										th:each="tipoVinculo : ${T(com.quinto.liberium.enumeration.TipoVinculo).values()}"
										th:value="${tipoVinculo}" th:text="${tipoVinculo.tipoVinculo}"></option>
								</select>
								<div class="label60 mlright">
									<label for="">Nacionalidad</label> <select
										class="form-control select2" name="idPais"
										id="modalEditarPais" onchange="traerProvincias(this.value)">
										<option selected disabled value="">Seleccionar
											nacionalidad</option>
										<option th:each="pais : ${paises}" th:text="${pais.nombre}"
											th:value="${pais.id}"></option>
									</select>
								</div>
								<div class="label40">
									<label for="">Sexo</label> <select class="form-control select2"
										name="tipoGenero" id="modalEditarTipoGenero">
										<option selected disabled value="">Sexo</option>
										<option
											th:each="generos : ${T(com.quinto.liberium.enumeration.TipoGenero).values()}"
											th:value="${generos}" th:text="${generos.tipoGenero}"></option>
									</select>
								</div>
								<div class="label50 mlright">
									<label for="">DNI</label> <input name="dni" type="number"
										id="modalEditarDni" placeholder="Dni">
								</div>
								<div class="label50">
									<label for="">CUIT o CUIL</label> <input name="cuitcuil"
										type="number" id="modalEditarCuilCuit"
										placeholder="Cuil o Cuit">
								</div>
								<div class="box1">
									<label for="">Domicilio</label>
									<div class="label70 mlright">
										<input name="domicilio" type="text" placeholder="Calle"
											id="modalEditarDomicilio">
									</div>
									<div class="label30">
										<input name="numero" type="number" placeholder="N&uacute;mero"
											id="modalEditarAltura">
									</div>
									<div class="label50 mlright">
										<select class="form-control select2" name="idProvincia"
											id="modalEditarProvincia"
											onchange="traerLocalidad(this.value)">
											<option value="" disabled selected>Seleccione una
												provincia</option>
										</select>
									</div>
									<div class="label50">
										<select class="form-control select2" name="idLocalidad"
											id="modalEditarLocalidad">
											<option value="" disabled selected>Seleccione una
												localidad</option>
										</select>
									</div>
								</div>
								<div class="preguntaelementos">
									<label for="">Persona de contacto adicional</label>
									<div class="label50 mlright">
										<input name="nombreAdicional" type="text"
											placeholder="Nombre y Apellido"
											id="modalEditarNombreAdicional">
									</div>
									<div class="label50">
										<input name="telefonoAdicional" type="number"
											placeholder="Tel&eacute;fono"
											id="modalEditarTelefonoAdicional">
									</div>
								</div>
								<label for="">Observaci&oacute;n</label>
								<textarea name="observacion" cols="30" rows="10"
									class="textomodal" id="modalEditarObservacion"
									placeholder="Escriba la observacion aqui"></textarea>
							</div>
							<a><button type="button" class="btn btn-secondary"
									onclick="guardarContacto()" id="modalBtnGuardar2">Guardar</button></a>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<div id="eliminarContacto" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="eliminarContactoForm">
						<input type="hidden" class="form-control" id="contactoId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>&iquest;Esta seguro que desea eliminar este
											contacto? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="contactoEliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

	</div>


	<div th:replace="fragments/footer :: footer">...</div>

	<script src="/app/js/contacto.js"></script>

</body>
</html>
