<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini" onload="buscarIntereses()">

	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <input id="idCausaOG" th:value="${idCausaString}" type="hidden">
  <!-- Main content -->
    <section class="content">
      <div class="elementocausa">
      <div class="box1 overblock">

          <div class="cabeceraec">
            <div class="cabeceraec1">
              <img src="/dist/img/logoinverso.png" alt="">
            </div>
            <div class="cabeceraec2">
              <h3>Contabilidad de la Causa</h3>
			<a th:href="@{/administracion/causa/editar/} + ${idCausaString}">
				<label for="btngreen" class="btngreen2">
					<span>Volver a la Causa</span>
					<img src="/dist/img/arrow-05.png" class="btnvolver" alt="">
				</label>
			</a>
              <hr>
            </div>
          </div>

          <div class="gastosyhonorarios">
            <div class="box1 bloque overblock">
              <div class="nombretabla2"><h4>Contabilidad del Expediente</h4></div>
              <div class="box1 box collapsed-box overblock">
                <div class="celdatotal2">
                  <div class="box-tools">
                    <p class="ct1">Monto de Demanda</p>
                    <a href="#" class="btn-box-tool verdetalle" data-widget="collapse">Ver detalle</a>
                    <p class="ct2" id="total1"></p>
                  </div>
                </div>
                <div class="box-body detallevisible">
                  <div class="celdaconcepto">
                    <div class="cd9"><p>Detalle</p></div>
                    <div class="cd5"><p>Tipo de Interés</p></div>
                    <div class="cd8"><p>Desde</p></div>
                    <div class="cd8"><p>Hasta</p></div>
                    <div class="cd8"><p>Monto C/I</p></div>
                    <div class="cd8"><p>Monto S/I</p></div>
                    <div class="cd6"><a href="#calcularJucio"><img src="/dist/img/suma2.png" alt="" onclick="modalInteres(null, 'TABLA1')"></a></div>
                  </div>
					<div id="tabla1"></div>
                </div>
              </div>
               <div class="celdatotal2"></div>
               <div class="nombretabla2"><h4>Monto de Sentencia</h4></div>  
              <div class="bloque2">
                <div class="celdaconcepto">
                  <div class="cd5"><p>Tipo de Pago</p></div>
                  <div class="cd5"><p>Detalle</p></div>
                  <div class="cd5"><p>Tasas</p></div>
                  <div class="cd5"><p>Monto</p></div>
                  <div class="cd5"><p>Vencimiento</p></div>
                  <div class="cd6"><a href="#calcularJucio"><img src="/dist/img/suma2.png" alt="" onclick="modalInteres()"></a></div>
                </div>
                <div id="tabla2"></div>
              </div>
              <div class="celdatotal2"><p class="ct1">Liquidaci&oacute;n</p><p class="ct2" id="total2"></p></div> 
            </div>


            <div class="box1 bloque">
              <div class="nombretabla2"><h4>Gastos</h4></div>  
              <div class="box1 bloque2">
                 <div class="celdaconcepto">
                   <div class="cd2"><p>Detalle</p></div>
                   <div class="cd7"><p>Pagado por</p></div>
                   <div class="cd5"><p>Tasas</p></div>
                   <div class="cd5"><p>Monto</p></div>
                   <div class="cd5"><p>Fecha</p></div>
                   <div class="cd6"><a href="#crearGasto"><img src="/dist/img/suma2.png" alt="" onclick="modalGasto()"></a></div>
                 </div>
  				<div id="tabla3"></div>
              </div>
              <div class="box1">
                <div class="celdatotal2"><p class="ct1">Total</p><p class="ct2" id="total3"></p></div>
<!--                 <div class="celdatotal2"><p class="ct1">Debe cliente</p><p class="ct2">$000.00</p></div> -->
              </div>
            </div>

            <div class="box1 bloque">
              <div class="nombretabla2"><h4>Honorarios</h4></div>
              <div class="box1 box collapsed-box">
                <div id="instancias"></div>
              </div>
            </div>
           <div class="box1 bloque">
			   <a onclick="modalEditarInstancia()" class="btngreen2">
				   <span>Agregar Instancia</span>
				   <img src="/dist/img/sumab.png" class="btnvolver" alt="">
			   </a></div>
          </div>
        </div>       
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  		<div id="calcularJucio" class="modal_mask">
	      <div class="boxmiddle">
		      <div class="box-modal box-modal4">
		        <div class="contenidomodal4">
    			 <form id="formularioInteresJuicio">
		          <div class="box1">
		            <div class="cabeceramodal">
		              <div class="tituloplaca">
		                <img src="/dist/img/logoinverso.png" alt="">
		                <div class="textotituloplaca">
		                  <h3>Calcular Jucio</h3>
		                  <p>Por favor, complete la siguiente informaci&oacute;n.</p>
		                </div>
		              </div>
		              <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		            </div>
		          </div>
		          <div class="box1 agregarinfo2" id="modalInteres"></div>
		          <a><button type="button" class="btn btn-secondary" onclick="calcularJucio()" id="modalBtnGuardar">Guardar</button></a>
        		  </form>
		        </div>
		      </div><!-- box-modal==== -->
		    </div>
		  </div>
		  
		 <div id="crearGasto" class="modal_mask">
	      <div class="boxmiddle">
		      <div class="box-modal box-modal4">
		        <div class="contenidomodal4">
    			 <form id="formularioGasto">
		          <div class="box1">
		            <div class="cabeceramodal">
		              <div class="tituloplaca">
		                <img src="/dist/img/logoinverso.png" alt="">
		                <div class="textotituloplaca">
		                  <h3>Creacion de gasto</h3>
		                  <p>Por favor, complete la siguiente informaci&oacute;n.</p>
		                </div>
		              </div>
		              <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		            </div>
		          </div>
		          <div class="box1 agregarinfo2" id="modalGasto">
		          </div>
		          <a><button type="button" class="btn btn-secondary" onclick="crearGasto()">Guardar</button></a>
        		  </form>
		        </div>
		      </div><!-- box-modal==== -->
		    </div>
		  </div>
		  
		  <div id="crearGastoHonorario" class="modal_mask">
	      <div class="boxmiddle">
		      <div class="box-modal box-modal4">
		        <div class="contenidomodal4">
    			 <form id="formularioGastoHonorario">
		          <div class="box1">
		            <div class="cabeceramodal">
		              <div class="tituloplaca">
		                <img src="/dist/img/logoinverso.png" alt="">
		                <div class="textotituloplaca">
		                  <h3>Creacion de cobro</h3>
		                  <p>Por favor, complete la siguiente informaci&oacute;n.</p>
		                </div>
		              </div>
		              <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		            </div>
		          </div>
		          <div class="box1 agregarinfo2" id="modalGastoHonorario"></div>
		          <a><button type="button" class="btn btn-secondary" onclick="crearGastoHonorario()">Guardar</button></a>
        		  </form>
		        </div>
		      </div><!-- box-modal==== -->
		    </div>
		  </div>
		  
		  <div id="modalVencimiento" class="modal_mask">
	      <div class="boxmiddle">
		      <div class="box-modal box-modal4">
		        <div class="contenidomodal4">
    			 <form id="formularioVencimiento">
		          <div class="box1">
		            <div class="cabeceramodal">
		              <div class="tituloplaca">
		                <img src="/dist/img/logoinverso.png" alt="">
		                <div class="textotituloplaca">
		                  <h3>Editar Vencimiento</h3>
		                  <p>Desde aqui puede editar el vencimiento del pago.</p>
		                </div>
		              </div>
		              <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		            </div>
		          </div>
		          <div class="box1 agregarinfo2" id="modalVencimientoVer"></div>
		          
		          <a><button type="button" class="btn btn-secondary" onclick="editarVencimiento()">Guardar</button></a>
        		  </form>
		        </div>
		      </div><!-- box-modal==== -->
		    </div>
		  </div>
		  
		  
  		 <div id="crearHonorarios" class="modal_mask">
	      <div class="boxmiddle">
		      <div class="box-modal box-modal4">
		        <div class="contenidomodal4">
    			 <form id="formularioInstancia">
		          <div class="box1">
		            <div class="cabeceramodal">
		              <div class="tituloplaca">
		                <img src="/dist/img/logoinverso.png" alt="">
		                <div class="textotituloplaca">
		                  <h3>Instacia de honorarios</h3>
		                  <p>Por favor, complete la siguiente informaci&oacute;n.</p>
		                </div>
		              </div>
		              <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		            </div>
		          </div>
		          <div class="box1 agregarinfo2">
		          
		          	<div id="modalAlertaHonorario"></div>
		          	<input type="hidden" name="idCausa" th:value="${idCausaString}">
	             	<input type="hidden" id="idInstancia" name="id">
           	    	<div class="label100">
		             	<label for="">Nombre:</label>
		             	<input name="nombre" type="text" id="nombreInstancia" placeholder="Ej: Instancia N&#176;1">
	             	</div>
	             	
		          </div>
		          <a><button type="button" class="btn btn-secondary" onclick="crearInstancia()">Crear</button></a>
        		  </form>
		        </div>
		      </div><!-- box-modal==== -->
		    </div>
		  </div>
		  
 		<div th:replace="fragments/footer :: footer">...</div>
		<script src="/app/js/contable-causa.js"></script>
		<script src="/app/js/modales.js"></script>

</div>

	
</body>
</html>
