<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" class="fondoliberium">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="U-UX-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<title>LIBERIUM</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	
<div id="pantalla">
<div id="contenedor">

<header>
	<nav>
		<div class="boxlogo"><a href="index.html"><img src="/img/logoliberium.png" alt=""></a></div>
	</nav>
</header>

<section class="positioninicio">

	<div class="middlebox">
		<div class="boxinicio">
				<div class="logoinicio"><a href="/"><img src="/img/logoliberium1.png" alt=""></a></div>
				<div class="box1">
					<h2><span>C</span>uenta verificada!</h2>
					<h4> Ya podes comenzar a usar tu cuenta en <span>Liberium</span></h4>
				</div>
				
				<div class="box0">
					<a th:href="login"><button class="btn1">Volver a la pagina de login</button></a>	
				</div>
		</div>
	</div>

</section>
	
<footer>
	<hr>
	<p>Copyright 2020 © All Rights Reserved</p>
	<a href="">hola@liberium.com</a>
</footer>		

</div> <!-- #contenedor ==== -->
</div> <!-- #pantalla ==== -->

</body>
</html>