
<!DOCTYPE html>
<!-- cambiar a fuera de los fragments -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<div class="content-wrapper col-sm-11">
			<section class="content2">

				<div class="box1 sectionadmin">
					<h3>Dependencias</h3>
					<a href="#agregar">
						<label for="btngreen" class="btngreen">
							<span>+ Agregar </span>
							<img src="/dist/img/sumab.png" alt="Agregar">
						</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque la dependencia solicitada">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<div id="alerta"></div>
					<div class="dependencia" th:each="dependencia : ${page}">
						<div class="box1">
							<h4 th:text="${dependencia.nombre}" th:objeto="${dependencia.id}"
											th:nombre="${dependencia.nombre}"
											th:tipoDependencia="${dependencia.tipoDependencia.id}"
											th:instancia="${dependencia.instancia.id}"
											onclick="modificarDependencia(this)"></h4>
							<ul class="trespuntos">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
										<div class="">
											<img src="/dist/img/3puntos.png" alt="">
										</div>
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a href="#editar" th:objeto="${dependencia.id}"
											th:nombre="${dependencia.nombre}"
											th:tipoDependencia="${dependencia.tipoDependencia.id}"
											th:instancia="${dependencia.instancia.id}"
											onclick="modificarDependencia(this)"> <img
												src="/dist/img/imgmodal-04.png" alt="">
												<p>Editar</p>
										</a></li>
										<hr>
<!--										<li><a href="#agregar" objeto=""-->
<!--											th:nombre="${dependencia.nombre}"-->
<!--											th:tipoDependencia="${dependencia.tipoDependencia.id}"-->
<!--											th:instancia="${dependencia.instancia.id}"-->
<!--											onclick="modificarDependencia(this)"> <img-->
<!--												src="/dist/img/iconomenu-02.png" alt="">-->
<!--												<p>Clonar</p>-->
<!--										</a></li>-->
										<li><a href="#eliminar" th:objeto="${dependencia.id}"
											th:onclick="eliminarDependencia(this)"> <img
												src="/dist/img/iconomenu-01.png" alt="">
												<p>Eliminar</p>
										</a></li>
									</ul></li>
							</ul>
						</div>
						<hr>
						<div class="box1">
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Dependencia</p>
									<p class="dpp2"
										th:text="${dependencia.nombre == null ? '' : dependencia.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">TipoDependencia</p>
									<p class="dpp2"
										th:text="${dependencia.tipoDependencia.id == null ? '' : dependencia.tipoDependencia.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Instancia</p>
									<p class="dpp2"
										th:text="${dependencia.instancia.id == null ? '' : dependencia.instancia.nombre}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
		<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->


		<!-- nuevo  -->

		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4" style="overflow: scroll;">
					<div class="contenidomodal4">
					<div id="modalAlerta"></div>
						<form id="modalFormulario">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Nueva Dependencia</h3>
											<p>Por favor, complete la siguiente información.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" name="id"> <label
									for="">Nombre</label> <input type="text" class="form-control"
									name="nombre"> <label for="">Tipo de
									Dependencia</label> <select class="form-control"
									name="idTipoDependencia"
									data-placeholder="Seleccione Tipo de Dependencia"
									style="width: 100%">
									<option selected disabled value="">--Seleccione un tipo de dependencia--</option>
									<option th:each="tipo : ${tipos}" th:text="${tipo.nombre}"
										th:value="${tipo.id}"></option>
								</select> <label for="">Instancia</label> <select class="form-control"
									name="idInstancia"
									data-placeholder="Seleccione en Que Instancia se encuentra"
									style="width: 100%">
									<option selected disabled value="">--Seleccione una instancia--</option>
									<option th:each="tipo : ${instancia}" th:text="${tipo.nombre}"
										th:value="${tipo.id}"></option>
								</select>

							</div>
							<button type="button" class="btn btn-secondary"
								onclick="guardarDependencia()" id="modalBtnGuardar">Guardar</button>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<!-- editar     -->
		<div id="editar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<div class="contenidomodal4">
						<form id="modalFormularioEditar">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Editar Dependencia</h3>
											<p>Por favor, complete la siguiente información.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" id="modalEditarId"
									name="id">
									 <label for="">Nombre</label> <input
									type="text" class="form-control" id="modalEditarNombre"
									name="nombre"> 
									<label for="">Tipo de Dependencia</label> 
									<select class="form-control"
									name="idTipoDependencia" id="modalTipoDependencia"
									data-placeholder="Seleccione Tipo de Dependencia"
									style="width: 100%">
									<option selected disabled value="">--Seleccione un tipo de dependencia--</option>
									<option th:each="tipo : ${tipos}" th:text="${tipo.nombre}"
										th:value="${tipo.id}"></option>
									</select> 
									<label for="">Instancia</label> 
									<select class="form-control"
									name="idInstancia" id="modalInstancia"
									data-placeholder="Seleccione en Que Instancia se encuentra"
									style="width: 100%">
									<option selected disabled value="">--Seleccione una instancia--</option>
									<option th:each="tipo : ${instancia}" th:text="${tipo.nombre}"
										th:value="${tipo.id}"></option>
									</select>

							</div>
							<button type="button" class="btn btn-secondary"
								onclick="editarDependencia()" id="modalBtnGuardar">Editar</button>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<!-- eliminar  -->

		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar esta
											Dependencia? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/dependencia.js"></script>
</body>
</html>
