<!DOCTYPE html>
<!-- cambiar a fuera de los fragments -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<div class="content-wrapper col-sm-11">
			<section class="content2">

				<div class="box1 sectionadmin">
					<h3>Días No Laborables</h3>
					<a href="#agregar" onclick="resetFormulario()">
						<label for="btngreen" class="btngreen" sec:authorize="hasAuthority('EDITAR_DIAS_NO_LABORABLES')">
							<span>+ Agregar </span>
							<img src="/dist/img/sumab.png" alt="Agregar">
						</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque un día no laboral">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<div id="alerta"></div>
					<div class="dependencia" th:each="dia : ${diasNoLaborales}">
						<div class="box1">
							<h4 th:text="${dia.titulo}" th:objeto="${dia.id}"
										th:titululo="${dia.titulo}" th:fechaInicio="${dia.fechaInicio}"
										th:fechaFin="${dia.fechaFin}" th:pais="${dia.pais.id}"
										th:tipoEvento="${dia.tipoEvento}" th:tipoDiaNoLaborable="${dia.tipoDiaNoLaborable}"
										onclick="modificarDia(this)"></h4>
							<ul class="trespuntos" sec:authorize="hasAuthority('EDITAR_DIAS_NO_LABORABLES')">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
										<div class="">
											<img src="/dist/img/3puntos.png" alt="">
										</div>
									</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li th:if="${dia.provincia != null}"><a href="#editar" th:objeto="${dia.id}"
										th:titululo="${dia.titulo}" th:fechaInicio="${dia.fechaInicio}"
										th:fechaFin="${dia.fechaFin}" th:pais="${dia.pais.id}"
										th:provincia="${dia.provincia.id}" th:tipoEvento="${dia.tipoEvento}" th:tipoDiaNoLaborable="${dia.tipoDiaNoLaborable}"
										onclick="modificarDia(this)"> <img src="/dist/img/imgmodal-04.png" alt="">
										<p>Editar</p>
										</a></li>
										<li th:if="${dia.provincia == null}"><a href="#editar" th:objeto="${dia.id}"
										th:titululo="${dia.titulo}" th:fechaInicio="${dia.fechaInicio}"
										th:fechaFin="${dia.fechaFin}" th:pais="${dia.pais.id}"
										th:tipoEvento="${dia.tipoEvento}" th:tipoDiaNoLaborable="${dia.tipoDiaNoLaborable}"
										onclick="modificarDia(this)"> <img src="/dist/img/imgmodal-04.png" alt="">
										<p>Editar</p>
										</a></li>
										<hr>
										<li><a href="#eliminar" th:objeto="${dia.id}"
											th:onclick="eliminarDia(this)"> <img
												src="/dist/img/iconomenu-01.png" alt="">
												<p>Eliminar</p>
										</a></li>
									</ul></li>
							</ul>
						</div>
						<hr>
						<div class="box1">
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Título</p>
									<p class="dpp2"
										th:text="${dia.titulo == null ? '' : dia.titulo}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Tipo Día No Laborable</p>
									<p class="dpp2"
										th:text="${dia.tipoEvento == null ? '' : dia.tipoEvento}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Pais</p>
									<p class="dpp2"
										th:text="${dia.pais.nombre == null ? '' : dia.pais.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Provincia</p>
									<p class="dpp2"
										th:text="${dia.provincia == null ? 'No pertenece a una' : dia.provincia.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Fecha Inicio</p>
									<p class="dpp2"
										th:text="${dia.fechaInicio == null ? '' : dia.fechaInicio}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Fecha Fin</p>
									<p class="dpp2"
										th:text="${dia.fechaFin == null ? '' : dia.fechaFin}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
<!-- 				<div th:replace="fragments/paginador :: paginador">...</div> -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->


		<!-- nuevo  -->
	<div id="agregar" class="modal_mask">
		  			<div class="boxmiddle">
		    			 <div class="box-modal box-modal4">
		     					 <div class="contenidomodal4">
									<form id="modalFormulario">
							        <div class="box1">
							          <div class="cabeceramodal">
							            <div class="tituloplaca">
							              <img src="/dist/img/logoinverso.png" alt="">
							              <div class="textotituloplaca">
							                <h3>Nuevo día no laborable</h3>
							                <p>Por favor, complete la siguiente información.</p>
							              </div>
							            </div>
							            <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
							          </div>
							        </div>
							        
							       <div class="box1 agregarinfo2" id="formAgregar">
							        <div id="modalAlerta"></div>
							        <input type="hidden" class="form-control" name="idDiaNoLaborable" id="idDiaNoLaborable"> 
							        <label for="">Titulo</label> 
							        <input placeholder="Escriba el título aqui" type="text" class="form-control" name="titulo">
							        
						            <label for="">Seleccione tipo de evento:</label>
									<input class="form-control" name="tipoEvento" type="hidden" id="tipoEvento">
									<select class="form-control select2" onchange="convertirStringToEnumTE(this.value)">
										<option selected disabled value="">Elija un tipo de día no laborable</option>
										<option th:each="tipoEvento : ${T(com.quinto.liberium.enumeration.TipoEvento).values()}" th:value="${tipoEvento}" th:text="${tipoEvento}"></option>
									</select>
						             
						            <label for="">Seleccione tipo de día no laborable:</label>
									<input name="tipoDiaNoLaborable" type="hidden" id="tipoDiaNoLaborable">
									<select class="form-control select2" onchange="convertirStringToEnumTE2(this.value)">
										<option selected disabled value="">Elija un tipo de día no laborable</option>
										<option th:each="tipoDiaNoLaborable : ${T(com.quinto.liberium.enumeration.TipoDiaNoLaborable).values()}" th:value="${tipoDiaNoLaborable}" th:text="${tipoDiaNoLaborable}"></option>
									</select>
									 
									<div id="paisDiv" hidden="">
										<label for="">País</label> 
										<select class="form-control select2" name="idPais" id="pais" data-placeholder="Seleccione país" style="width: 100%" onchange="traerProvincias(this.value)">
											<option selected disabled value=""> Seleccione un pais </option>
											<option th:each="pais : ${paises}" th:text="${pais.nombre}" th:value="${pais.id}">Pais</option>
										</select> 
									</div>

									<div id="provinciaDiv" hidden="">
										<label for="">Provincia</label> 
										<select class="form-control select2" name="idProvincia" id="provincia" data-placeholder="Seleccione provincia" style="width: 100%">
											<option selected disabled value="">Seleccione una provincia</option>
										</select>
									</div>
																	
									<div class="label50 mlright">
		             					<label for="">Fecha inicio</label>
		             					<input name="fechaInicio" type="datetime-local">
	             					</div>
		           					<div class="label50" id="fechaFinalEditar">
		             					<label for="">Fecha final</label>
		             					<input name="fechaFin" type="datetime-local">
	             					</div>	           
							       </div>
								<button type="button" class="btn btn-secondary" onclick="guardarDiaNoLaboral()" id="modalBtnGuardar">Guardar</button>
					        </form>
					      </div>
					    </div><!-- box-modal==== -->
					  </div>
					</div>

	


		<!-- editar     -->
		
		<div id="editar" class="modal_mask">
		 	 <div class="boxmiddle">
		   	  <div class="box-modal box-modal4">
		     	
			      <div class="contenidomodal4">
					<form id="modalFormularioEditar">
			        <div class="box1">
			          <div class="cabeceramodal">
			            <div class="tituloplaca">
			              <img src="/dist/img/logoinverso.png" alt="">
			              <div class="textotituloplaca">
			                <h3>Editar día no laboral</h3>
			                <p>Por favor, complete la siguiente información.</p>
			              </div>
			            </div>
			            <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
			          </div>
			        </div>
			        <div class="box1 agregarinfo2">
			        <div id="modalAlertaEditar"></div>
							        <input type="hidden" class="form-control" name="idDiaNoLaborable" id="modalEditarId"> 
							        <label for="">Titulo</label> 
							        <input placeholder="Escriba el titulo aqui" type="text" class="form-control" name="titulo" id="editarTitulo">
							        
       								<label for="">Tipo de Evento</label>
						             <div id="inputEvento">
						             </div>
						             <input name="tipoEvento" type="hidden" id="tipoEventoEditar">
						             <select class="form-control select2" onchange="convertirStringToEnumTE(this.value)" id="selectEventoEditar">
						             	<option selected disabled value="">Seleccione un tipo de evento</option>
										<option value="Dia Inhabil">Día Inhabil</option>
						             	<option value="Feriado">Feriado</option>	
						             	<option value="Feria Judicial">Feria Judicial</option>
						             </select>
						             
						            <label for="">Seleccione tipo de día no laborable:</label>
									<input name="tipoDiaNoLaborable" type="hidden" id="tipoDiaNoLaborableEditar">
									<select class="form-control select2" onchange="convertirStringToEnumTE2(this.value)" id="selectTipoDia">
										<option selected disabled value="">Elija un tipo de día no laborable</option>
										<option th:each="tipoDiaNoLaborable : ${T(com.quinto.liberium.enumeration.TipoDiaNoLaborable).values()}" th:value="${tipoDiaNoLaborable}" th:text="${tipoDiaNoLaborable}"></option>
									</select>
									 
									<div id="paisDivEditar" hidden="">
										<label for="">País</label> 
										<select class="form-control select2" name="idPais" id="paisEditar" data-placeholder="Seleccione país" style="width: 100%" onchange="traerProvincias(this.value)">
											<option selected disabled value=""> Seleccione un pais </option>
											<option th:each="pais : ${paises}" th:text="${pais.nombre}" th:value="${pais.id}">Pais</option>
										</select> 
									</div>

									<div id="provinciaDivEditar" hidden="">
										<label for="">Provincia</label> 
										<select class="form-control select2" name="idProvincia" id="provinciaEditar" data-placeholder="Seleccione provincia" style="width: 100%">
											<option selected disabled value="">Seleccione una provincia</option>
										</select>
									</div>
																	
									<div class="label50 mlright">
		             					<label for="">Fecha inicio</label>
		             					<input name="fechaInicio" type="datetime-local" id="fechaInicioEditar">
	             					</div>
		           					<div class="label50" id="fechaFinalEditar">
		             					<label for="">Fecha final</label>
		             					<input name="fechaFin" type="datetime-local" id="fechaFinEditar">
	             					</div>	           
					       </div>
						<button type="button" class="btn btn-secondary" onclick="editarDia()" id="modalBtnGuardar">Guardar</button>
			        </form>
			      </div>
			    </div><!-- box-modal==== -->
			  </div>
			</div>
		<!-- eliminar  -->
		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId" name="idDiaNoLaborable">
						<div class="box1">
						<div id="modalAlerta"></div>
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar el día no laboral? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg">
									<img src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary" onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/diaNoLaboral.js"></script>
	<script type="text/javascript">
		function resetFormulario(){
			$('.form-control').val("");
		}
	</script>
</body>
</html>