<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head">
<body class="hold-transition skin-blue sidebar-mini"
	onload="remplazarVariables()">
	<input type="hidden" id="id1" th:value="${id1}" />
	<div class="wrapper">
		<div th:replace="fragments/header :: header">...</div>

		<div
			th:if="${session.usuarioSession.tipoUsuario.texto} ? 'Administrador' : 'Operador'">
			<div sec:authorize="hasAuthority('VISUALIZAR_ESCRITOS')">
				<div th:replace="fragments/menu :: menu">...</div>
			</div>
		</div>

		<div
			th:if="${session.usuarioSession.tipoUsuario.texto} != 'Administrador'">
			<div sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
				<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>
			</div>
		</div>

		<input type="hidden" id="idCausa" th:value="${idCausa}"> <input
			type="hidden" id="idItem" th:value="${idItem}"> <input
			type="hidden" id="idEscrito" th:value="${idEscrito}"> <input
			type="hidden" id="escritoLiberium" th:value="${escritoLiberium}">

		<div class="content-wrapper">
			<section class="content">
				<div class="box1 sectionadmin">
					<h3>Escritos</h3>
					<div
						th:if="${session.usuarioSession.tipoUsuario.texto} == 'Administrador'">
						<div sec:authorize="hasAuthority('EDITAR_ESCRITO')">
							<a onclick="agregarEscrito(true)"> <label for="btngreen"
								class="btngreen"> <span>+ Agregar </span> <img
									src="/dist/img/sumab.png" alt="">
							</label>
							</a>
						</div>
						<div
							sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
							<a onclick="agregarEscrito(true)"> <label for="btngreen"
								class="btngreen"> <span>+ Agregar </span> <img
									src="/dist/img/sumab.png" alt="">
							</label>
							</a>
						</div>
					</div>
					<div
						th:if="${session.usuarioSession.tipoUsuario.texto} != 'Administrador'">
						<div sec:authorize="hasAuthority('EDITAR_ESCRITO')">
							<a onclick="agregarEscrito(true)"> <label for="btngreen"
								class="btngreen"> <span>+ Agregar </span> <img
									src="/dist/img/sumab.png" alt="">
							</label>
							</a>
						</div>
						<div
							sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
							<a onclick="agregarEscrito(true)"> <label for="btngreen"
								class="btngreen"> <span>+ Agregar </span> <img
									src="/dist/img/sumab.png" alt="">
							</label>
							</a>
						</div>
					</div>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Buscar por nombre">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1 sectionadmin2" style="margin-bottom: 0;"
					id="filtros">
					<div class="boxcausascheck">
						<div class="newfiltro1">
							<h3>Filtros</h3>
							<p class="pseleccionar" style="color: #9b9b9a; float: left;">
								<span>|</span> Seleccione la categor&iacute;a que desee mostrar
							</p>
						</div>

						<div class="newfiltro2">
							<select id="selectEscrito" onchange="mostrarBloque(this.value)">
								<option selected disabled="disabled">Seleccione una
									Opcion</option>
								<option value="PRECARGADOS">Escritos Liberium</option>
								<option
									sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')"
									value="LOCALES">Escritos Locales</option>
								<option sec:authorize="hasAuthority('EDITAR_ROL')"
									value="PROPUESTOS">Propuestos por usuarios</option>
							</select>
						</div>
					</div>
				</div>
				<div class="box1" id="escritosLocales" style="display: none;">
					<div id="alertaEscritos"></div>
					<div class="formulario" th:each="escrito : ${escritosLocales}">
						<div class="formulario1">
							<img src="/dist/img/plantilla.png" alt="">
						</div>
						<div class="formulario2">
							<h4  th:text="${escrito.titulo == null ? '' : escrito.titulo}"></h4>
						</div>
						<div class="formulario3">
							<ul class="trespuntos">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true"> <img src="/dist/img/3puntos.png"
										alt="">
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'USAR')|">
												<img src="/dist/img/disquete.png" style="margin-right: 5px"
												alt="">Usar
										</a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'CLONAR')|">
												<img src="/dist/img/iconomenu-02.png"
												style="margin-right: 5px" alt=""> Clonar
										</a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'VER')|">
												<img src="/dist/img/ojo.png" style="margin-right: 5px"
												alt=""> Ver
										</a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'EDITAR')|">
												<img src="/dist/img/imgmodal-04.png"
												style="margin-right: 5px" alt=""> Editar
										</a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#"
											th:attr="onclick=|descargar('${escrito.id}','pdf')|"> <img
												src="/dist/img/disquete.png" style="margin-right: 5px"
												alt=""> Descargar Pdf
										</a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#"
											th:attr="onclick=|descargar('${escrito.id}','docx')|"> <img
												src="/dist/img/disquete.png" style="margin-right: 5px"
												alt=""> Descargar Word
										</a>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<hr> <a href="#eliminarEscrito"
											th:objeto="${escrito.id}"
											th:attr="onclick=|eliminarEscritoVal('${escrito.id}',${escrito.anclado})|">
												<img src="/dist/img/basurero.png" style="margin-right: 5px"
												alt=""> Borrar
										</a>
										</li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="box1" id="escritosPropuestos" style="display: none;">
					<div id="alertaEscritos"></div>
					<div class="formulario" th:each="escrito : ${escritosPropuestos}">
						<div class="formulario1">
							<img src="/dist/img/plantilla.png" alt="">
						</div>
						<div class="formulario2">
							<h4 th:text="${escrito.titulo == null ? '' : escrito.titulo}"></h4>
						</div>
						<div class="formulario3">
							<ul class="trespuntos">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true"> <img src="/dist/img/3puntos.png"
										alt="">
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li sec:authorize="hasAuthority('EDITAR_ESCRITOS')"><a
											href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'VER')|">
												<img src="/dist/img/ojo.png" style="margin-right: 5px"
												alt="">
												<p>Ver</p>
										</a>
											<hr></li>
										<li sec:authorize="hasAuthority('EDITAR_ESCRITOS')"><a
											href="#" th:attr="onclick=|descargar('${escrito.id}','pdf')|">
												<img src="/dist/img/disquete.png" style="margin-right: 5px"
												alt=""> Descargar Pdf
										</a>
											<hr></li>
										<li sec:authorize="hasAuthority('EDITAR_ESCRITOS')"><a
											href="#"
											th:attr="onclick=|descargar('${escrito.id}','docx')|"> <img
												src="/dist/img/disquete.png" style="margin-right: 5px"
												alt=""> Descargar Word
										</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="box1" id="escritosLiberium" style="display: none;">
					<div class="formulario" th:each="escrito : ${escritosLiberium}">
						<div class="formulario1">
							<img src="/dist/img/plantilla.png" alt="">
						</div>
						<div class="formulario2" style="padding-left:55px;">
							<a onclick="traerEscrito('${escrito.id}', 'EDITAR')"><h4 th:text="${escrito.titulo == null ? '' : escrito.titulo}"></h4></a>
						</div>
						<div class="formulario3">
							<ul class="trespuntos"
								sec:authorize="hasAuthority('EDITAR_ESCRITOS')">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true"> <img src="/dist/img/3puntos.png"
										alt="">
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li sec:authorize="hasAnyAuthority('EDITAR_ESCRITOS', 'VISUALIZAR_ESTADISTICAS_PROPIAS')" th:if="${escrito.original == true}"><a
											href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}','PLANTILLA')|"
											id="editarPlantilla" alt=""> <img
												src="/dist/img/imgmodal-04.png" style="margin-right: 5px!Important"
												alt="">
												<p style="margin-left: 2px!Important">Editar</p></a>
											<hr></li>
										<li sec:authorize="hasAnyAuthority('EDITAR_ESCRITOS', 'VISUALIZAR_ESTADISTICAS_PROPIAS')" th:if="${escrito.original} != false"><a
											href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}','CLONAR')|"
											id="editarPlantilla" alt=""> <img
												src="/dist/img/iconomenu-02.png" style="margin-right: 5px!Important"
												alt="">
												<p style="margin-left: 2px!Important">Clonar</p>
										</a>
											<hr>
										</li>
										<li sec:authorize="hasAuthority('EDITAR_ESCRITOS')"><a
											href="#eliminarEscrito" th:objeto="${escrito.id}"
											th:attr="onclick=|eliminarEscritoVal('${escrito.id}',${escrito.anclado})|">
												<img src="/dist/img/iconomenu-01.png"
												style="margin-right: 5px!Important" alt="">
												<p style="margin-left: 2px!Important">Eliminar</p>
										</a></li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'USAR_LIBERIUM')|"  th:if="${escrito.original} != true">
												<img src="/dist/img/disquete.png" style="margin-right: 5px!Important"
												alt=""> Usar
										</a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')"  th:if="${escrito.original} != true">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'VER_LIBERIUM')|">
												<img src="/dist/img/ojo.png" style="margin-right: 5px!Important"
												alt=""> Ver
										</a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')"  th:if="${escrito.original == false}">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'CLONAR_LIBERIUM')|">
												<img src="/dist/img/iconomenu-02.png"
												style="margin-right: 5px" alt="">Clonar
										</a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#" th:attr="onclick=|traerEscrito('${escrito.id}')|">
												<img src="/dist/img/disquete.png" style="margin-right: 5px"
												alt="">
												<p>Usar</p>
										</a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')"  th:if="${escrito.original} != false">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'VER')|">
												<img src="/dist/img/ojo.png" style="margin-right: 5px!Important"
												alt="">
												<p style="margin-left: 2px!Important">Ver</p>
										</a>
											<hr>
										</li>
										<!--<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')"  th:if="${escrito.original} != false">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'CLONAR')|">
												<img src="/dist/img/iconomenu-02.png"
												style="margin-right: 5px" alt="">
												<p>Clonar</p>
										</a>
											<hr>
										</li>-->
										<!--<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')" th:if="${escrito.original != false}">
											<a href="#"
											th:attr="onclick=|traerEscrito('${escrito.id}', 'EDITAR')|">
												<img src="/dist/img/imgmodal-04.png"
												style="margin-right: 5px" alt="">
												<p style="margin-left: 2px!Important">Editar</p>
										</a>
											<hr>
										</li>-->
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#"
											th:attr="onclick=|descargar('${escrito.id}','pdf')|"> <img
												src="/dist/img/disquete.png" style="margin-right: 5px!Important"
												alt="">
												<p style="margin-left: 2px!Important">Descargar Pdf</p></a>
											<hr>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<a href="#"
											th:attr="onclick=|descargar('${escrito.id}','docx')|"> <img
												src="/dist/img/disquete.png" style="margin-right: 5px!Important"
												alt="">
												<p style="margin-left: 2px!Important">Descargar Word</p></a>
										</li>
										<li
											sec:authorize="hasAuthority('VISUALIZAR_ESTADISTICAS_PROPIAS')">
											<hr> <a href="#eliminarEscrito"
											th:objeto="${escrito.id}"
											th:attr="onclick=|eliminarEscritoVal('${escrito.id}',${escrito.anclado})|">
												<img src="/dist/img/basurero.png" style="margin-right: 5px!Important"
												alt="">
												<p style="margin-left: 2px!Important">Borrar</p>
										</a>
										</li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="box1" id="editor" style="display: none;">
					<div class="boxplantillas box">
						<div class="box-header with-border">
							<h4>Palabras Claves</h4>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
							<!-- /.box-tools -->
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<hr>
							<div class="draggable">
								<button class="btn btn-primary"
									style="margin: 2px; width: 100%;" th:value=${actorNombre}>Nombre
									Actor</button>
							</div>
							<div class="draggable">
								<button class="btn btn-success"
									style="margin: 2px; width: 100%;" value="@NombreDemandado">Nombre
									Demandado</button>
							</div>
							<div class="draggable">
								<button class="btn btn-warning"
									style="margin: 2px; width: 100%;" value="@NombreAbogado">Nombre
									Abogado</button>
							</div>
							<div class="draggable">
								<button class="btn btn-danger" style="margin: 2px; width: 100%;"
									value="@MatriculaAbogado">Matricula Abogado</button>
							</div>
							<div class="draggable">
								<button class="btn btn-info" style="margin: 2px; width: 100%;"
									value="@DomicilioAbogado">Domicilio Abogado</button>
							</div>
							<div class="draggable">
								<button class="btn btn-secondary"
									style="margin: 2px; width: 100%;" value="@TipoCausa">Tipo
									de causa</button>
							</div>
							<div class="draggable">
								<button class="btn btn-danger" style="margin: 2px; width: 100%;"
									value="@Fuero">Fuero</button>
							</div>
							<div class="draggable">
								<button class="btn btn-warning"
									style="margin: 2px; width: 100%;" value="@Juzgado">Juzgado</button>
							</div>
							<div class="draggable">
								<button class="btn btn-info" style="margin: 2px; width: 100%;"
									value="@Instancia">Instancia</button>
							</div>
							<div class="draggable">
								<button class="btn btn-secondary"
									style="margin: 2px; width: 100%;" value="@NombreCaratula">Nombre
									Caratula</button>
							</div>
							<div class="draggable">
								<button class="btn btn-success"
									style="margin: 2px; width: 100%;" value="@NumExpediente">Numero
									Expediente</button>
							</div>
							<div id="variablesExtras"></div>
						</div>
					</div>

					<div class="boxescritos">
						<form id="formEscrito">
							<div class="box1">
								<div id="alertaForm"></div>
								<input class="h4" type="text" name="titulo" id="titulo"
									placeholder="Nombre del Escrito"
									style="border: none; padding: 5px; width: 50%; float: left;">
								<select class="form-control select2"
									style="width: 50%; float: right;"
									onchange="mostrarNuevasVariables(this.value)"
									name="idTipoCausa" id="idTipoCausa">
									<option selected disabled value="">Tipo de Causa</option>
									<option th:each="tipoCausa : ${tipoCausas}"
										th:value="${tipoCausa.id}" th:text="${tipoCausa.nombre}"></option>
								</select> <input type="hidden" id="original" name="original"><input
									type="hidden" id="texto" name="texto"> <input
									type="hidden" id="id" name="id">
							</div>
							<hr>
							<div class="box1">
								<div class="box-body pad">
									<textarea id="editorTexto" rows="10" cols="80">
               </textarea>
								</div>
							</div>
							<button id="botonHacerPropio" type="button" class="btngreen"
								onclick="hacerPropioEscrito()" style="float: right;">Hacer
								Propio</button>
							<button id="botonGuardar" type="button" class="btngreen"
								onclick="guardarEscrito()" style="float: right;">Guardar</button>
							<button type="button" class="btngreen" onclick="cerrarEscrito()"
								style="float: left;">Cerrar</button>
						</form>
					</div>
				</div>

			</section>

			<!-- /.content -->
		</div>

		<div id="eliminarEscrito"
			sec:authorize="hasAuthority('EDITAR_ESCRITOS')" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<form id="modalFormularioEliminar">
						<input type="hidden" class="form-control"
							id="modalEliminarEscritoId" name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar el escrito? </label>
										<div id="alertaEliminar"></div>
									</div>
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminarEscrito()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
			</div>
		</div>

		<!-- /.content-wrapper -->
		<div th:replace="fragments/footer :: footer">...</div>

	</div>
	<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
	<script src="/app/js/escrito.js"></script>
	<script src="/app/js/causa.js"></script>
	<script src="https://cdn.ckeditor.com/4.15.1/full/ckeditor.js"></script>
	<script>
  $(function () {
   	CKEDITOR.replace('editorTexto');
	CKEDITOR.config.defaultLanguage = 'es';
    
  })

</script>
</body>
</html>
