<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>


		<!-- Content Wrapper. Contains page content -->

		<div class="content-wrapper col-sm-11">
			<section class="content">
				<div class="box1 sectionadmin">
					<h3>Miembros del Estudio</h3>
					<a sec:authorize="hasAuthority('EDITAR_MIEMBRO')" href="#agregar"> <label for="btngreen" class="btngreen"
						onclick="resetFormulario();"><span>+ Agregar</span>
                        <img src="/dist/img/sumab.png">
                        </label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque el miembro solicitado">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<div id="alerta"></div>
				</div>
				<div class="box-usuarios">
					<div class="tabla table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<th class="columna1">Apellido y Nombre</th>
									<th class="columna1">E-mail</th>
									<th class="columna1">Estudio</th>
									<th class="columna1">Rol</th>
									<th class="columna2">Acciones</th>
								</tr>
								<tr th:each="miembro : ${page}">
									<td><p
											th:text="${miembro.mUsuario.nombre == null ? '' : miembro.mUsuario.nombre}"></p></td>
									<td><p
											th:text="${miembro.mUsuario.email == null ? '' : miembro.mUsuario.email}"></p></td>
									<td><p
											th:text="${miembro.mEstudio.nombre == null ? '' : miembro.mEstudio.nombre}"></p></td>
									<td><p
											th:text="${miembro.mRol.nombre == null ? '' : miembro.mRol.nombre}"></p></td>
									<td><a sec:authorize="hasAuthority('EDITAR_MIEMBRO')" href="#editar" th:objeto="${miembro.id}"
										th:email="${miembro.mUsuario.email}"
										th:rol="${miembro.mRol.id}" onclick="editar(this)"> <img
											src="/dist/img/tabla-02.png" alt="">
									</a> <a sec:authorize="hasAuthority('EDITAR_MIEMBRO')" href="#eliminar" th:objeto="${miembro.id}"
										onclick="eliminarMiembro(this)"> <img alt=""
											src="/dist/img/tabla-01.png">
									</a> <a sec:authorize="hasAuthority('EDITAR_MIEMBRO')" href="#editar" th:objeto="${miembro.id}"
										th:email="${miembro.mUsuario.email}"
										th:rol="${miembro.mRol.id}" onclick="visualizar(this)"> <img
											src="/dist/img/tabla-03.png" alt="">
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:replace="fragments/paginador :: paginador">...</div>

				<div class="box1 sectionadmin">
					<h3>Roles del Estudio</h3>
					<a sec:authorize="hasAuthority('EDITAR_MIEMBRO')" href="#agregarRol"> <label for="btngreen" class="btngreen"
						onclick="resetFormularioRol()"><span>+ Agregar</span>
                        <img src="/dist/img/sumab.png">    
                        </label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group"></div>
					</form>
					<hr>
				</div>

				<div class="box-usuarios">
					<div class="tabla table-responsive" sec:authorize="hasAuthority('EDITAR_MIEMBRO')">
						<table class="table">
							<tbody>
								<tr>
									<th style="width: 85%">Nombre</th>
									<th style="width: 15%">Acciones</th>
								</tr>
								<tr th:each="rol : ${rolesEstudio}">
									<td style="width: 85%"><p
											th:text="${rol.nombre == null ? '' : rol.nombre}"></p></td>
									<td style="width: 10%"><a sec:authorize="hasAuthority('EDITAR_MIEMBRO')" href="#agregarRol"
										th:objeto="${rol.id}" th:nombre="${rol.nombre}"
										th:isAbogado="${rol.abogado}"
										th:permisosUsuario="${rol.permisosJson}"
										onclick="editarRol(this)"> <img
											src="/dist/img/tabla-02.png" alt="">
									</a> <a sec:authorize="hasAuthority('EDITAR_MIEMBRO')" href="#eliminarRol" th:objeto="${rol.id}"
										onclick="eliminarRol(this)"> <img
											src="/dist/img/tabla-01.png" alt="">
									</a> <a sec:authorize="hasAuthority('EDITAR_MIEMBRO')" href="#agregarRol" th:objeto="${rol.id}"
										th:nombre="${rol.nombre}" th:isAbogado="${rol.abogado}"
										th:permisosUsuario="${rol.permisosJson}"
										onclick="visualizarRol(this)"> <img
											src="/dist/img/tabla-03.png" alt="">
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</section>
			<!-- /.content -->

		</div>
		<div th:replace="fragments/footer :: footer">...</div>
	</div>

	<div id="agregar" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="contenidomodal4">
					<form id="modalFormulario">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Nuevo Miembro</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" onclick="resetFormulario();" alt="">
								</a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<label for="">Email</label> <input type="text"
								class="form-control" name="idEmailBuscar" id="idEmailBuscar"> <label for="">Rol</label>
							<select name="idRolSelect" id="idRolSelect">
								<option style="display: none" disabled="disabled"
									selected="selected" value="-1">Seleccione un rol para
									el miembro</option>
								<option th:each="rol : ${roles}" th:value="${rol.id}"
									th:text="${rol.nombre}"></option>
							</select>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="guardar()" id="modalBtnGuardar">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="editar" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlertaEditar"></div>
				<div class="contenidomodal4">
					<form id="editarFormulario">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Editar Miembro</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" onclick="resetFormulario();" alt="">
								</a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<input type="hidden" class="form-control" name="id" id="id">
							<label for="">Email</label> <input type="text"
								disabled="disabled" class="form-control" name="email" id="email">
							<label for="">Rol</label> <select name="idRol" id="rol">
								<option style="display: none" disabled="disabled" selected="selected" value="-1">Seleccione un rol para el miembro</option>
								<option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.nombre}"></option>
							</select>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="editarMiembro()" id="modalBtnEditar">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="eliminar" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="modalFormulario">
					<input type="hidden" id="modalEliminarId" name="id">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar el miembro? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
				</form>
			</div>
		</div>
	</div>

	<div id="agregarRol" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="contenidomodal4">
					<form id="modalFormularioNuevoRol">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Nuevo Rol</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img
									src="/dist/img/cerrar.png" onclick="resetFormulario();" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<input type="hidden" class="form-control" name="idRol" id="idRol">
							<label for="">Nombre</label> <input type="text"
								class="form-control" name="nombreRol" id="nombreRol"> <label
								for="">¿Es Abogado?</label>
							<div>
								<div class="box1 checkregister">
									<label class="containerb"> <input type="checkbox"
										id="isAbogadoRol" name="isAbogadoRol"> <span
										class="checkmarkb"></span>
									</label>
									<p>Es Abogado</p>
								</div>
							</div>
							<div id="divPermisos">
								<label>Permisos</label>
								<div>
									<div class="box1 checkregister">
										<label class="containerb"> <input type="checkbox"
											id="seleccionarTodos"> <span class="checkmarkb"></span>
										</label>
										<p id="textoSeleccionar">Seleccionar Todos</p>
									</div>
								</div>
								<div th:each="permiso : ${permisos}">
									<div id="${permiso}" class="box1 checkregister">
										<label class="containerb"> <input type="checkbox"
											class="permisos" name="permisos" th:id="${permiso.id}">
											<span class="checkmarkb"></span>
										</label>
										<p th:text="${permiso.nombreAmigable}"></p>
									</div>
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="guardarRol()" id="modalBtnGuardarRol">Guardar</button>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	<!-- Fin nuevo  Rol-->

	<div id="eliminarRol" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="modalFormulario">
					<input type="hidden" class="form-control" id="modalEliminarId"
						name="id">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar el rol? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="eliminarRolMje()" id="modalBtnEliminar">Eliminar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	<script src="/app/js/estudio-miembro.js"></script>
</body>
</html>
