<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">

				<div class="box1 sectionadmin">
					<h3>Formularios</h3>
					<a href="#agregar" sec:authorize="hasAuthority('EDITAR_FORMULARIOS')">
						<label for="btngreen" class="btngreen">
							<span>+ Agregar </span>
							<img src="/dist/img/sumab.png" alt="">
						</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque el formulario solicitado">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<div id="alerta"></div>
				</div>
				<div class="box1">
					<input th:if="${resultado} != null" type="hidden"
						th:value="${resultado}" id="resultado">

					<div class="formulario" th:each="formulario : ${page}">
						<a href="#ver" th:objeto="${formulario.id}"
							th:titulo="${formulario.titulo}"
							th:materia="${formulario.tipo.materia.nombre}"
							th:tipo="${formulario.tipo.nombre}" th:idPais="${formulario.pais.id}" th:idProvincia="${formulario.provincia.id}"
							onclick="verFormulario(this)">
							<!--   <div class="formulario1"> -->
								<img src="/dist/img/plantilla.png" alt="">
							<!-- </div> -->
						</a>
						<div class="formulario2 titleformh4">
							<h4
								th:text="${formulario.titulo == null ? '' : formulario.titulo}" th:objeto="${formulario.id}"
											th:titulo="${formulario.titulo}"
											th:materia="${formulario.tipo.materia.id}"
											th:tipo="${formulario.tipo.id}" th:idPais="${formulario.pais.id}" th:idProvincia="${formulario.provincia.id}"
											onclick="modificarFormulario(this)"></h4>
							<p
								th:text="${formulario.tipo.materia == null ? '' : formulario.tipo.materia.nombre}">
							</p>
							<p
								th:text="${formulario.tipo == null ? '' : formulario.tipo.nombre}"></p>
						</div>
						<div class="formulario3">
							<ul class="trespuntos" sec:authorize="hasAuthority('EDITAR_FORMULARIOS')">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
									<img src="/dist/img/3puntos.png" alt="">
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li sec:authorize="">
											<a href="#" th:attr="', 'VER_LIBERIUM')|">
												<img src="/dist/img/ojo.png" alt=""> Ver</a>
										</li>
										<hr>
										<li><a href="#editar" th:objeto="${formulario.id}"
											th:titulo="${formulario.titulo}"
											th:materia="${formulario.tipo.materia.id}"
											th:tipo="${formulario.tipo.id}"
											th:idPais="${formulario.pais.id}" th:idProvincia="${formulario.provincia.id}"
											onclick="modificarFormulario(this)" alt=""><img
												src="/dist/img/imgmodal-04.png">
											<p>Editar</p></a></li>
										<hr>
										<li><a href="#eliminar" th:objeto="${formulario.id}"
											th:onclick="eliminarFormulario(this)"><img
												src="/dist/img/iconomenu-01.png" alt="">
											<p>Elminar</p></a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->
			<div th:replace="fragments/paginador :: paginador">...</div>
		</div>
		<!-- /.content-wrapper -->


		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div class="contenidomodal4">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Formulario</h3>
										<p>Complete los todos campos para crear preguntas</p>
									</div>
								</div>
								<a href="/administracion/formulario/listado" id="cerrar" class="cerrarmodalimg"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
						
							<form id="crearFomularioForm">
								<div id="alertaModalCrear"></div>
								<input id="idFormulario" name="id" type="hidden">
								<label for="">Nombre del Formulario</label> 
								<input type="text" name="titulo" placeholder="Ingrese el titulo del formulario" id="titulo" onkeypress="mostrarBotones()">
								<label for="">Materia</label> 
								<select class="form-control select2" name="materia" id="materia" data-placeholder="Seleccione materia" style="width: 100%" onchange="traerTipoCausa(this.value);mostrarBotones();">
									<option selected disabled value="">--Seleccione una materia--</option>
									<option th:each="materia : ${materias}" th:text="${materia.nombre}" th:value="${materia.id}"></option>
								</select> 
								<label for="tipo">Tipo de Causa</label> 
								<select	class="form-control select2" name="tipo" id="modalAgregarTipo" data-placeholder="Seleccione tipo de causa" style="width: 100%" onchange="mostrarBotones()">
									<option selected disabled value="">--Seleccione tipo de causa--</option>
								</select>
								<label for="">País</label>
								<select class="form-control select2" name="idPais" id="pais" data-placeholder="Seleccione pais" style="width: 100%" onchange="traerProvincias(this.value)">
									<option></option>
									<option th:each="pais : ${paises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
								</select>
								<label for="">Provincia</label>
								<select class="form-control select2" name="idProvincia" id="provincia" style="width: 100%" onchange="mostrarBotones()"></select>
								
								<a href="/administracion/formulario/listado"><button class="btn btn-secondary" type="button" style="float: left;" id="botonCancelar">Cancelar</button></a>
								<button class="btn btn-secondary" onclick="crearFormulario()" type="button" style="float: right;"  id="botonGuardar">Guardar</button>
							</form>

							<div style="display: none; margin-top: 70px;" id="divPreguntas">
								
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Preguntas del formulario</h3>
										<p>A continuacion podra administrar preguntas</p>
									</div>
								</div>
								
								<div class="box1" id="alertaPregunta" style="margin-top: 20px;">
									<div class="alert alert-warning" role="alert"> No existen preguntas creadas en este formulario.</div>
								</div>
								
								<div class="preguntaelementos" id="preguntas" style="margin-top: 20px;"></div>
								
								<div class="boxpelementos" style="z-index:99999999999">
									<h4>Crear nueva pregunta:</h4>
					                <button class="pelemento" onclick="modalPregunta('ABIERTA', null)" type="button">Abierta</button>
					                <button class="pelemento" onclick="modalPregunta('CERRADA', null)" type="button">Cerrada</button>
				               </div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="pregunta" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div class="contenidomodal4">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Pregunta Formulario</h3>
										<p>Aqui puede crear/editar la pregunta.</p>
									</div>
								</div>
								<a href="/administracion/formulario/listado" id="cerrar" class="cerrarmodalimg"><img
									src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<form id="preguntaFormularioForm">
							<div class="box1 agregarinfo2">
								<div id="alertaModalPregunta"></div>
								<input id="idFormularioPregunta" name="idFormulario" type="hidden">
								<input id="idPregunta" name="idPregunta" type="hidden">
								<input id="tipoPregunta" name="tipoPregunta" type="hidden">

								<label for="">Texto Pregunta (sin signos de pregunta)</label> 
								<input type="text" name="textoPregunta" placeholder="Ingrese el texto de la pregunta" id="textoPregunta">
								
								<div class="preguntaelementos" id="opciones" style="display: none;">
									<label class="labelPregunta">Opciones:</label>
									<div id="opcionesInputs"></div>
									<button class="btn btn-secondary" onclick="agregarOpcion()" type="button" style="width: 100%;">Agregar Opcion</button>
								</div>
								
								<div id="selectTipoRespuesta" style="display: none;">
									<label for="">Tipo de respuesta:</label>
									<select class="form-control" name="inputRespuesta" id="tipoInput" data-placeholder="Seleccione un tipo de respuesta" style="width: 100%">
										<option hidden="">Seleccione un tipo de respuesta</option>
										<option value="TEXT">Texto</option>
										<option value="DATE">Fecha</option>
										<option value="NUM">Numero</option>
									</select> 
								</div>
								
								<label for="">Variable Pregunta:</label>
								<input type="text" name="variablePregunta" id="variable" placeholder="Ingrese la variable de la pregunta" >
								
								<button class="btn btn-secondary" onclick="guardarPregunta()" type="button" style="float: right;">Guardar</button>
								<a href="#agregar"><button class="btn btn-secondary" type="button" style="float: left;" onclick="cancelarPregunta()">Cancelar</button></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar el formulario?
										</label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>


		<div th:replace="fragments/footer :: footer">...</div>

	</div>


	<!-- ./wrapper -->

	<script src="/app/js/formulario.js"></script>
</body>
</html>
