<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<div class="content-wrapper col-sm-11">
			<section class="content2">
	
				<div class="box1 sectionadmin">
					<h3>Interés</h3>
					<a href="#agregar">
						<label for="btngreen" class="btngreen" sec:authorize="hasAuthority('EDITAR_INTERES')">
							<span>+ Agregar </span>
							<img src="/dist/img/sumab.png" alt="Agregar">
						</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn" class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span>
							<input type="text" name="q" class="form-control" placeholder="Busque el interés solicitado">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<div id="alerta"></div>
					<input th:if="${resultado} != null"type="hidden" th:value="${resultado}" id="resultado">
					<div class="dependencia" th:each="interes : ${page}">
						<div class="box1">
							<h4 th:text="${interes.nombre}" th:objeto="${interes.id}" th:nombre="${interes.nombre}" th:porcentaje="${interes.porcentaje}" onclick="modificarInteres(this)"></h4>
							<ul class="trespuntos" sec:authorize="hasAuthority('EDITAR_INTERES')">
								<li class="dropdown user user-menu trespuntosli">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<div class="">
											<img src="/dist/img/3puntos.png" alt="">
										</div>
									</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li>
											<a href="#editar" th:objeto="${interes.id}" th:nombre="${interes.nombre}" th:porcentaje="${interes.porcentaje}" onclick="modificarInteres(this)">
												<img src="/dist/img/imgmodal-04.png" alt="">
												<p>Editar</p>
											</a>
										</li>
										<li>
											<a href="#eliminar" th:objeto="${interes.id}" th:onclick="eliminar(this)">
												<img src="/dist/img/iconomenu-01.png" alt="">
												<p>Eliminar</p>
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<hr>
						<div class="box1">
							<div class="datosparametros">
								<p class="dpp1">Porcentaje</p>
								<p class="dpp2" th:text="${interes.porcentaje == null ? '' : interes.porcentaje}"></p>
							</div>
						</div>
					</div>
				</div>
		<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->


		<div id="agregar" class="modal_mask">
		  <div class="boxmiddle">
		     <div class="box-modal box-modal4">
		      <div class="contenidomodal4">
				<span id="error1"></span>
				<form id="modalFormulario">
		        <div class="box1">
		          <div class="cabeceramodal">
		            <div class="tituloplaca">
		              <img src="/dist/img/logoinverso.png" alt="">
		              <div class="textotituloplaca">
		                <h3>Nuevo Interés</h3>
		                <p>Por favor, complete la siguiente información.</p>
		              </div>
		            </div>
		            <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
		          </div>
		        </div>
	       	 <div class="box1 agregarinfo2">
	           <label for="">Nombre</label>
			   <input type="text" class="form-control" name="nombre" placeholder="Ingrese el nombre de el tipo de interés">
			   <label for="">Porcentaje</label>
			   <input type="number" class="form-control" name="porcentaje" placeholder="Ingrese el porcentaje que tendrá el interés">
	        </div>
        <button type="button" class="btn btn-secondary" onclick="guardarInteres()" id="modalBtnGuardar">Guardar</button>
        </form>
      </div>
    </div><!-- box-modal==== -->
  </div>
</div>

<div id="editar" class="modal_mask">
  <div class="boxmiddle">
     <div class="box-modal box-modal4">
      <div class="contenidomodal4">
		<div id="error2"></div>
		<form id="modalFormularioEditar">
        <div class="box1">
          <div class="cabeceramodal">
            <div class="tituloplaca">
              <img src="/dist/img/logoinverso.png" alt="">
              <div class="textotituloplaca">
                <h3>Editar Interés</h3>
                <p>Por favor, complete la siguiente información.</p>
              </div>
            </div>
            <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
          </div>
        </div>
        <div class="box1 agregarinfo2">
           <input type="hidden" class="form-control" id="modalEditarId" name="id">
           <label for="">Nombre</label>
		   <input type="text" class="form-control" id="modalEditarNombre" name="nombre" placeholder="Ingrese el nombre de el tipo de interés">
		   <label for="">Porcentaje</label>
		   <input type="number" class="form-control" id="modalEditarPorcentaje" name="porcentaje" placeholder="Ingrese el porcentaje que tendrá el interés">
        </div>
        <button type="button" class="btn btn-secondary" onclick="editarInteres()" id="modalBtnGuardar">Guardar</button>
        </form>
      </div>
    </div><!-- box-modal==== -->
  </div>
</div>

		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormularioEliminar">
						<input type="hidden" class="form-control" id="modalEliminarId" name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar el interés? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg">
									<img src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary" onclick="eliminarInteres()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/interes.js"></script>
</body>
</html>