<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<div class="content-wrapper col-sm-11">
			<section class="content2">

				<div class="box1 sectionadmin">
					<h3>Dependencias</h3>
					<a href="#agregar"
						sec:authorize="hasAnyAuthority('EDITAR_DEPENDENCIA', 'EDITAR_JUZGADO')">
						<label for="btngreen" class="btngreen" onclick="resetCampos()">+
							Agregar</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque el proceso solicitado">
						</div>
					</form>
					<hr>
				</div>

				<div class="box1">
					<div id="alerta"></div>
					<input th:if="${resultado} != null" type="hidden"
						th:value="${resultado}" id="resultado">
					<div class="dependencia" th:each="juzgado : ${page}">
						<div class="box1">
							<h4 th:text="${juzgado.nombre}"></h4>
							<ul class="trespuntos"
								sec:authorize="hasAuthority('EDITAR_DEPENDENCIA')">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true"> <img src="/dist/img/3puntos.png"
										alt="">
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a href="#agregar"
											sec:authorize="hasAnyAuthority('EDITAR_DEPENDENCIA', 'EDITAR_JUZGADO')"
											th:objeto="${juzgado.id}" th:nombre="${juzgado.nombre}"
											th:instancia="${juzgado.instancia.id == null ? '' : juzgado.instancia.id}"
											th:circunscripcion="${juzgado.circunscripcion == null ? '' : juzgado.circunscripcion.id}"
											th:fuero="${juzgado.tipoFuero}"
											th:pais="${juzgado.pais == null ? '' : juzgado.pais.id}"
											th:provincia="${juzgado.provincia == null ? '' : juzgado.provincia.id}"
											onclick="modificarJuzgado(this)"> <img
												src="/dist/img/imgmodal-04.png" alt="">
												<p>Editar</p>
										</a></li>
										<!--										<hr>-->
										<!--										<li><a href="#clonar" th:objeto="${juzgado.id}"-->
										<!--											th:onclick="clonarJuzgado(this)"> <img-->
										<!--												src="/dist/img/iconomenu-02.png" alt="">-->
										<!--												<p>Clonar</p>-->
										<!--										</a></li>-->
										<hr>
										<li><a href="#eliminar"
											sec:authorize="hasAnyAuthority('EDITAR_DEPENDENCIA', 'EDITAR_JUZGADO')"
											th:objeto="${juzgado.id}" th:onclick="eliminarJuzgado(this)">
												<img src="/dist/img/iconomenu-01.png" alt="">
												<p>Eliminar</p>
										</a></li>
									</ul></li>
							</ul>
						</div>
						<hr>
						<div class="box1">
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Juzgado</p>
									<p class="dpp2"
										th:text="${juzgado.nombre == null ? '' : juzgado.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Instancia</p>
									<p class="dpp2"
										th:text="${juzgado.instancia == null ? '' : juzgado.instancia.nombre}"></p>
								</div>
							</div>
						</div>

						<div class="box1">
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Provincia</p>
									<p class="dpp2"
										th:text="${juzgado.provincia == null ? 'No tiene provincia' : juzgado.provincia.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Fuero</p>
									<p class="dpp2"
										th:text="${juzgado.tipoFuero == null ? '' : juzgado.tipoFuero}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- nuevo  -->
		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Nueva Dependencia</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<input type="hidden" class="form-control" id="modalEditarId"
								name="id"> <label for="">Nombre</label> <input
								placeholder="Ingrese un nombre" type="text" class="form-control"
								id="modalEditarNombre" name="nombre"> <label for="">Fuero</label>
							<select class="form-control select2" id="tipoFuero"
								name="tipoFuero" style="width: 100%"
								onchange="cambioFuero(this.value)">
								<option selected disabled value="default">Seleccione un
									fuero</option>
								<option style="text-transform: uppercase" value="INTERNACIONAL">Internacional</option>
								<option style="text-transform: uppercase" value="FEDERAL">Federal</option>
								<option style="text-transform: uppercase" value="PROVINCIAL">Provincial</option>
							</select>

							<div id="divPais" hidden="">
								<label for="">Pais</label> <select class="form-control select2"
									id="pais" name="idPais" data-placeholder="Seleccione pais"
									style="width: 100%" onchange="traerProvincias(this.value)">
									<option></option>
									<option th:each="pais : ${paises}" th:text="${pais.nombre}"
										th:value="${pais.id}"></option>
								</select>
							</div>

							<div id="divProvincia" hidden="">
								<label for="">Provincia</label> <select
									class="form-control select2" name="idProvincia" id="provincia"
									data-placeholder="Seleccione provincia" style="width: 100%"
									onchange="traerCircunscripciones(this.value)">
								</select>
							</div>

							<div id="divCircunscripcion" hidden="">
								<label for="">Circunscripción</label> <select
									class="form-control select2" name="circunscripcion"
									id="circunscripcion"
									data-placeholder="Seleccione una circunscripcion"
									style="width: 100%">
									<option selected="selected" hidden="" disabled="disabled">
										Seleccione una circunscripcion</option>
								</select>
							</div>

							<label for="">Instancia</label> <select
								class="form-control select2" name="idInstancia" id="instancia"
								data-placeholder="Seleccione instancia" style="width: 100%">
								<option selected="selected" hidden="" disabled="disabled">
									Seleccione una instancia</option>
								<option th:each="instancia : ${instancias}"
									th:text="${instancia.nombre}" th:value="${instancia.id}"></option>
							</select>
						</div>
						<button type="button"
							sec:authorize="hasAnyAuthority('EDITAR_DEPENDENCIA', 'EDITAR_JUZGADO')"
							class="btn btn-secondary" onclick="guardarJuzgado()"
							id="modalBtnGuardar">Guardar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar la
											dependencia? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div id="clonar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalClonarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea clonar la dependencia?
										</label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary" onclick="clonar()"
							id="modalBtnClonar">Clonar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<div th:replace="fragments/footer :: footer">...</div>
	</div>

	<script src="/app/js/juzgado.js"></script>
</body>
</html>
