<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
<title>LIBERIUM</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">

<link rel="stylesheet" href="/css/landing.css">
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">


<link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.min.css">
<link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
<link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="/plugins/iCheck/all.css">

<link rel="stylesheet" href="/bower_components/morris.js/morris.css">
<link rel="stylesheet" href="/bower_components/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">

<link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>


<body>

	<div id="pantalla">
		<div id="contenedor">

			<header class="headerindex">
				<nav>
					<div class="boxlogoindex">
						<a href="#">
							<img src="/img/logoliberium1.png" alt="">
						</a>
					</div>
					<div class="btnright">
						<a th:href="login">
							<button class="btn1">LOGIN</button>
						</a>
					</div>
				</nav>
			</header>
			<section class="registrate">
				<h4>Una nueva forma de trabajo</h4>
				<h1>Si sos Abogada o Abogado registrate!</h1>
				<a th:href="registro">
					<button class="btn1">REGISTRARSE</button>
				</a>
			</section>

			<section class="paddingslider">
				<div class="boxslider">
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						<!--<ol class="carousel-indicators">
	          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	        </ol>-->
						<div class="carousel-inner" role="listbox">
							<!-- Slide One - Set the background image for this slide in the line below -->
							<div class="carousel-item active" style="background-image: url('/img/slider5.jpg')">
								<div class="carousel-caption d-none d-md-block">
									<!--<h3>First Slide</h3>-->
								</div>
							</div>
							<!-- Slide Two - Set the background image for this slide in the line below -->
							<div class="carousel-item" style="background-image: url('/img/slider6.jpg')">
								<div class="carousel-caption d-none d-md-block">
									<!--<h3>Second Slide</h3>-->
								</div>
							</div>
							<!-- Slide Three - Set the background image for this slide in the line below -->
							<div class="carousel-item" style="background-image: url('/img/slider7.jpg')">
								<div class="carousel-caption d-none d-md-block">
									<!--<h3>Third Slide</h3>-->
								</div>
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>

						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>

						</a>
					</div>


				</div>

			</section>
			<section class="fondosection">
				<div class="infoindex">
					<div class="box1">
						<div class="box50 padleft">
							<h4 class="h4info">¿Qué es</h4>
							<h1 class="h1info1">
								<span>L</span>IBERIUM?
							</h1>
							<div class="box1">
								<hr class="minhr">
							</div>
							<p class="pinfo1">Es el sistema de gestión jurídica más adecuado a las necesidades de abogadas y abogados, fácil de usar, integral y tendiente a la completa automatización de la actividad profesional cotidiana.</p>
							<p class="psolicitar">Solicitá tu turno o realizá un consulta con los abogados y abogadas de Liberium</p>
							<div class="box1">
								<div class="boxbutton">
									<a href="#modal1">
										<button class="btnsolicitar">Turno</button>
									</a>
									<a href="#modal74">
										<button class="btnsolicitar1">Consulta online</button>
									</a>
								</div>
							</div>
						</div>
						<div class="box50">
							<img src="/img/paneles.png" alt="" class="imgpanel">
						</div>
					</div>
					<div class="box1">
						<h1 class="h1info2">
							<span>V</span>ENTAJAS
						</h1>
						<hr class="minhr2">
						<div class="box-ventajas">
							<div class="ventaja">
								<div class="ventaja1">
									<img src="img/iconosindex-01.png" alt="">
									<h3>USABILIDAD</h3>
								</div>
								<div class="ventaja2">
									<p>Formá parte de la COMUNIDAD LIBERIUM GRATIS!</p>
									<p>Viví tu experiencia LIBERIUM de manera sencilla e intuitiva.</p>
									<p>El sistema CHECK LIST anticipa los próximos pasos en el desarrollo de tus causas.</p>
									<p>Hacé crecer tu cartera de CLIENTES, optimizá tu tiempo y comunícate con tus colegas online.</p>
								</div>
							</div>
							<div class="ventaja">
								<div class="ventaja1">
									<img src="img/iconosindex-02.png" alt="">
									<h3>AGENDA ON-LINE</h3>
								</div>
								<div class="ventaja2">
									<p>LIBERIUM te recuerda diariamente tus próximos pasos. Digitalizá tu profesión y accedé a un sistema único de agendamientos en todos tus dispositivos.</p>
									<p>LIBERIUM genera tus estadísticas de manera simple para que tengas información en tiempo real del desenvolvimiento de tu Estudio.</p>
									<p>Sé más eficiente e incrementá tus ingresos.</p>
								</div>
							</div>
							<div class="ventaja">
								<div class="ventaja1">
									<img src="img/iconosindex-03.png" alt="">
									<h3>SEGURIDAD</h3>
								</div>
								<div class="ventaja2">
									<p>La SEGURIDAD de tus datos es el compromiso principal de LIBERIUM.</p>
									<p>Realiza copias de seguridad diarias. Recuperá tu información siempre que lo desees.</p>
									<p>Habilitá avisos automáticos y acceso personalizado para tus clientes.</p>
									<p>Concentrate en lo importante, LIBERIUM lleva tu gestión.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="registrate2">
					<img src="/img/logoinverso.png" alt="">
					<h4>CREA TU CUENTA DE FORMA GRATUITA</h4>
					<h1>Gestión de trabajo fácil e intuitiva</h1>
					<a href="registro">
						<button class="btn1">REGISTRARSE</button>
					</a>
				</div>
				<div class="boxnumber">
					<div class="datosnumber">
						<img src="/img/iconosindex-04.png" alt="">
						<h4>Consultanos tus dudas:</h4>
						<p>
							<a href="tel:2615000000">+54 9 2615872727</a>
<!--							<span>-</span>-->
<!--							<a href="tel:2615000000">2615-000000</a>-->
<!--							<span>-</span>-->
<!--							<a href="tel:2615000000">2615-000000</a>-->
						</p>
					</div>
				</div>

			</section>

			<footer class="footerindex">
				<p>Copyright 2019 © All Rights Reserved</p>
				<a href="mailto:lucasgomezportillo@gmail.com">lucasgomezportillo@gmail.com</a>
			</footer>
						
			<div id="cargando" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal box-modal4" style="height: 100%">
						
						<div class="box1 contenidomodal4">
							<div class="box1 cabecerab">
								
								<div class="cabecera2">
									<h2>Estamos cargando a los abogados...</h2>
									
								</div>
							</div>
						</div>
												
						<div id="wrapper">
							<div class="profile-main-loader">
							  <div class="loader">
							    <svg class="circular-loader"viewBox="25 25 50 50" >
							      <circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke="#70c542" stroke-width="2" />
							    </svg>
							  </div>
							</div>
						</div>
													
					</div>
					<!-- box-modal==== -->
				</div>
			</div>

			<div id="modal1" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal1 modal-turno">
						<div>
							<a href="#" class="cerrar">
								<img src="/img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal1">
							<div class="box1 cabecera">
								<div class="cabecera1">
									<img src="/img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2>Solicitud de Turno</h2>
									<p>Seleccione alguna de las opciones y realice su consulta.</p>
								</div>
							</div>
							
							<div class="box1">
							<div class="opcionmodal">
									<h4 style="color: #899a69; margin-right: 10px;">Obligatorio* |</h4>
									<h4>Ingresa tus datos para poder recibir los datos de el turno.</h4>
								</div>
								<div class="box1" style="margin-bottom: 20px;">
									<input type="text" placeholder="Ingrese Nombre y Apellido" class="margininputopcion" id="nombreCliente" required/>
									<input style="margin-top: 10px;" type="tel" placeholder="Ingrese Teléfono" class="margininputopcion" id="telefonoCliente" required/>
									<input style="margin-top: 10px;" type="email" placeholder="Ingrese Email" class="margininputopcion" id="emailCliente" required/>
								</div>
							</div>
							
							<div class="box1">
								<div class="opcionmodal">
									<h4 style="color: #899a69; margin-right: 10px;">Opción 1 |</h4>
									<h4>Poné los datos de tu abogada o abogado.</h4>
								</div>
								<div class="box1" style="margin-bottom: 20px;">
									<input type="text" placeholder="Nombre y Apellido" class="margininputopcion" id="nombreAbogado" onkeyup = "if(event.keyCode == 13) traerAbogados()"/>
									<a>
										<button class="btn1" style="margin-top: 10px; margin-left: 40%" onclick="traerAbogados()">Buscar</button>
									</a>
								</div>
							</div>
							<div class="box1">
								<div class="opcionmodal">
									<h4 style="color: #899a69; margin-right: 10px;">Opción 2 |</h4>
									<h4>Seleccioná tu zona y materia</h4>
								</div>
								<div class="box1" style="margin-bottom: 20px;">
									<select style="margin-bottom: 10px"  class="marginselectopcion1" id="idPais" onchange="buscarProvincia(this.value)">
										<option selected disabled value="">Pais</option>
										<option th:each="pais : ${paises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
									</select>
									
									<select style="margin-bottom: 10px"  class="marginselectopcion1" id="idProvincia" onchange="buscarLocalidad(this.value)">
										<option selected disabled value="">Provincia</option>
									</select>
									
									<select  class="marginselectopcion1" id="modalEditarLocalidad">
										<option selected disabled value="">Localidad</option>
									</select>
									
									<select class="marginselectopcion1" id="idMateria">
										<option selected disabled value="">Materia</option>
										<option th:each="materia : ${materias}" th:text="${materia.nombre}" th:value="${materia.id}"></option>
									</select>
									<a style="" onclick="traerAbogadosPorMateriaYProvinciaLocalidad()">
										<button class="btn1" style="margin-top: 10px; margin-left: 40%" >Buscar</button>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>	
			
				<div id="errorconsulta" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal2">
						<div>
							<a href="#" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal2">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">Ups!</h2>
								</div>
							</div>
							<div class="box1 paddingl">
								<p>
									Lo siento, no hay abogado disponibles en
									<span>Liberium</span>
									.
								</p>
								<p>
									 no pudimos encontrar a ningún abogado con la
									<span> localidad </span> y la <span> especialidad </span> elegidas
									.
								</p>
							</div>
						</div>
						<a href="#modal74">
							<button class="btnmodal">Volver</button>
						</a>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>

			<div id="modal2" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal2">
						<div>
							<a href="#" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal2">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">Ups!</h2>
								</div>
							</div>
							<div class="box1 paddingl">
								<p>
									Lo siento, su abogado no está registrado en
									<span>Liberium</span>
									.
								</p>
								<p>
									Quizas te olvidaste de ingresar tu <span> email </span> o no se completó un campo de la  <span> opción </span> elegida
								</p>
							</div>
						</div>
						<a href="#modal1">
							<button class="btnmodal">Volver</button>
						</a>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>
			<div id="modal3" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal3">
						<div>
							<a href="#" class="cerrar">
								<img src="/img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal6">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="/img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">Seleccione su Abogado!</h2>
								</div>
							</div>
							<div class="box1 boxlista">
								<div id="abogados" class="lista">
								</div>
							</div>
						</div>
						<a href="#modal1">
							<button class="btn1">Volver</button>
						</a>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>

			<div id="modal4" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal7" style="overflow-y: auto;">
						<div>
							<a href="/" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal6">
							<div class="box1 cabecera">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2>Seleccione su fecha</h2>
									<p>Elige en el calendario el día y horario para su turno.</p>
								</div>
							</div>
													
							<div class="box1 calendariopersonal">
								<span id="errormodal69"></span>
								<h4>
									Calendario |
									<span id="nombreabogado"></span>
								</h4>
									<p id="fecha" hidden=""></p>

							</div>

							<div class="box1 tablaresponsive">
								<div class="cursocalendario" id="calendario">
									<div id="fullcalendar"></div>
								</div>
							</div>
							<form>
								<input type="hidden" id="elegido" />
								<input type="hidden" id="abogadoElegido"/>
							</form>
							<div class="box1">
								<div class="buttonmiddle" style="margin-top:5px;">
									<a id="volver" href="#modal3" >
										<button class="btnmodal" style="width: 100%;">Volver</button>
									</a>
<!-- 									<a> -->
<!-- 										<button class="btnmodal" type="button" onclick="crearTurno()">Siguiente</button> -->
<!-- 									</a> -->
								</div>
							</div>
						</div>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>
			
			<div id="modal5" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal4">
						<div>
<!-- 							<a href="/" class="cerrar"> -->
<!-- 								<img src="img/cerrar.png" alt=""> -->
<!-- 							</a> -->
						</div>
						<div class="box1 contenidomodal3">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">Turno Solicitadoo</h2>
								</div>
							</div>
							<div class="box1">
								<p style="margin-top: 4px;">Su turno con el Abogado</p>
								<h3 id="abogadoNombre"></h3>
<!-- 								<p style="margin-bottom: 17px;"> -->
<!-- 									es de: -->
<!-- 									<span class="span1">$00.00</span> -->
<!-- 								</p> -->
								<p>
									E-mail:
									<span id="abogadoMail"></span>
								</p>
								<p style="margin-bottom: 13px;">
									Teléfono:
									<span id="abogadoTelefono"></span>
								</p>
							</div>
						</div>
						<div class="box1">
							<div class="buttonmiddle">
								<a href="#modal4">
								<input type="hidden" id="idTurno">
									<button class="btnmodal" onclick="borrarTurno()">Volver</button>
								</a>
								<a href="#modal6">
									<input type="hidden" id="clienteEmail" value="vacio">
									<button class="btnmodal" onclick="notificarTurno()">Confirmar</button>
								</a>
							</div>
						</div>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>

			<div id="modal6" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal4">
						<div>
							<a href="/" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal2">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">Se registro el turno!</h2>
								</div>
							</div>
							<div class="box1 paddingl">
								<p>
									Su turno es el
									<span id="fechaTurno"></span>
									 a las
									<span id="horarioTurno"></span> hs
									con el Abogado
 									<span id="abogadoNombre2"></span>
 									en 
									<span id="abogadoDireccion"></span>.
								</p>
								<p>
									Se envio un email con la informacion del turno, que tengas un buen dia!
								</p>
							</div>
						</div>
						<div class="box1">
							<a href="/">
								<button class="btnmodal">Salir</button>
							</a>
						</div>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>
			
			<div id="modal74" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal5 modal-consulta">
						<div>
							<a href="#" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal4">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2>Consulta Online</h2>
								</div>
								<div class="cabecera2">
									<p style="padding-left: 60px;">Para continuar con la consulta necesitamos</p>
									<p style="padding-left: 60px;">verificar si hay abogados registrados en tu zona.</p>							
								</div>
								
							</div>
						</div>
							<div class="box1 cuestionario">
								<span id="errorConsultaModal"></span>
								<div class="box1">
									<div class="ancho50">
										<label for="">Provincia</label>
										<select class="form-control" onchange="buscarLocalidad(this.value)">
											<option selected disabled >Seleccione una provincia</option>
											<option th:each="provincia : ${provincias}" th:value="${provincia.id}" th:text="${provincia.nombre}"></option>
										</select>	
									</div>
									<div class="ancho50">
										<label for="">Localidad</label>
											<select class="form-control" id="localidad" name="localidad" onchange="traerIdLocalidad(this.value)">
											<option selected disabled >Seleccione una localidad</option>
										</select>	
									</div>
								</div>
								<div class="box1 ancho100">
									<label for="">Seleccione la materia:</label>
									<select name="idTipoCausa" onchange="traerTipoCausa(this.value)">
										<option selected disabled value="">Seleccione materia</option>
										<option th:each="materia : ${materias}" th:text="${materia.nombre}" th:value="${materia.id}"></option>
									</select>
								</div>
								<div class="box1 ancho100">
									<label for="">Seleccione el tipo de causa:</label>
									<select name="tipoCausa" onchange="traerIdTipoCausa(this.value)" id="tipoCausaSelectContulta">
										<option selected disabled value="">Seleccione el tipo de causa</option>
									</select>
								</div>
							</div>
							<input type="hidden" id="idTipoCausa">
							<input type="hidden" id="idLocalidad">
						  <button type="button" onclick="traerAbogadosPorMateriaYLocalidad()" class="btnmodal">Siguiente</button>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>
			
			<div id="abogadosconsulta" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal3">
						<div>
							<a href="#" class="cerrar">
								<img src="/img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal6">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="/img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">Seleccione su Abogado!</h2>
								</div>
							</div>
							<div class="box1 boxlista">
								<div id="abogadoslistaconsulta" class="lista"></div>
							</div>
						</div>
						<a href="#modal74">
							<button class="btn1">Volver</button>
						</a>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>
			

			<div id="modal7" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal5" style="overflow-y: auto;">
						<div>
							<a href="/" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal4">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2>Consulta Online</h2>
									<p>Por favor, complete la siguiente información.</p>
								</div>
							</div>
						</div>
						<form id="modalFormulario">
							<div class="box1 cuestionario">
								<span id="errormodal4"></span>

								<div class="box1 ancho100">
									<label for="">Seleccione su genero:</label>
									<input name="genero" type="hidden" id="tipoGenero">
									<select onchange="convertirStringToEnumTG(this.value)">
										<option selected disabled value="">-- Elija su genero --</option>
										<option th:each="generos : ${T(com.quinto.liberium.enumeration.TipoGenero).values()}" th:value="${generos}" th:text="${generos}"></option>
									</select>
								</div>
								<div class="box1">
									<div class="ancho50">
										<label for="">Nombre</label>
										<input type="text" name="nombre">
									</div>
									<div class="ancho50">
										<label for="">Apellido</label>
										<input type="text" name="apellido">
									</div>
								</div>

								<div class="box1">
									<div class="ancho50">
										<label for="">DNI/NNN/NNN</label>
										<input type="number" name="dni">
									</div>
									<div class="ancho50">
										<label for="">Fecha de Nacimiento</label>
										<input type="date" placeholder="dd/mm/aaaa" name="nacimiento">
									</div>
								</div>
								<div class="box1">
									<div class="ancho100">
										<label for="">Dirección</label>
										<input type="text" name="direccion">
									</div>
								</div>
								<div class="box1">
									<div class="ancho50">
										<label for="">E-mail</label>
										<input type="email" name="mail">
									</div>
									<div class="ancho50">
										<label for="">Teléfono</label>
										<input type="number" name="telefono">
									</div>
								</div>
							</div>
							<input type="hidden" id="idTipoCausa2" name="tipoCausa">
							<input type="hidden" id="idLocalidad2" name="localidad">
							<input type="hidden" id="idAbogado2">
							
							<button type="button" onclick="crearConsulta()" class="btnmodal">Siguiente</button>
						</form>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>
			
			<div id="modal8" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal5" style="overflow-y: auto;">
						<div>
							<a href="/" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal4">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">
										Causa:
										<span id="tituloTipoCausa"></span>
									</h2>
									<p>Responda las siguientes preguntas para avanzar.</p>
								</div>
							</div>
						</div>
						<form id="modalRespuestas">
							<div class="box1 cuestionario">
								<span id="errormodal4"></span>

							<div id="preguntas">
							</div>
							<span id="errormodal7"></span>

								
							</div>
							
							
							<input type="hidden" id="idConsulta" name="idConsulta">
							<input type="hidden" id="idFormulario">
							<input type="hidden" id="turnoConsulta" value="TURNO">
							<input type="hidden" id="mailConsulta">
							<button type="button" onclick="guardarRespuestas()" class="btnmodal" style="width: 100%;">Enviar</button>
						</form>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>

			<div id="modal8a" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal box-modal4" style="overflow-y: auto;">
						<div>
							<a href="/" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal4">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">
										Causa:
										<span id="tituloTipoCausa"></span>
									</h2>
									<p>Responda las siguientes preguntas para avanzar.</p>
								</div>
							</div>
						</div>
						
						<form id="modalRespuestas">		
						<div>
							<div id="preguntas">
							</div>
							<span id="errormodal7"></span>
						</div>
							<input type="hidden" id="idConsulta" name="idConsulta">
							<input type="hidden" id="idFormulario">
							<input type="hidden" id="turnoConsulta" value="TURNO">
							<input type="hidden" id="mailConsulta">
							<button type="button" onclick="guardarRespuestas()" class="btnmodal" style="width: 100%;">Enviar</button>
						</form>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>

			<div id="modal9" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal6">
						<div>
							<a href="/" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal5 barraultima">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">Gracias!</h2>
									<p>Su consulta online fue realizada con éxito.</p>
								</div>
							</div>
							<div class="box1">
							<input type="hidden" id="idTurno">
								<p>El turno con el/la Abogado/a</p>
								<h3 style="margin: 7px 0;" id="abogadoNombreConsulta">Dr/a. </h3>
								
								<p style="max-width: 365px; margin-bottom: 15px;">
									Lo espera 
									<span id="fechaTurnoConsulta"></span>
									a las
									<span id="horarioTurnoConsulta"></span>
									hs en el estudio de la calle
									<span id="abogadoDireccionConsulta"></span>
									a fin de:
								</p>
								<div class="textosb" id="pasosAbogdado"></div>
								<div style="margin-bottom: 25px;">
<!-- 									<p> -->
<!-- 										La consulta es -->
<!-- 										<span>sin cargo</span> -->
<!-- 										. -->
<!-- 									</p> -->
									<p> Recuerde asistir a la consulta con la mayor información posible de su caso.</p>
									<p>
										En caso de no poder asistir ese día por favor avisar al mail
										<span id="abogadoMailConsulta"></span>
										o al teléfono
										<span id="abogadoTelefonoConsulta"></span>
<!-- 										de lunes a viernes de 18 a 20 hs. -->
									</p>
								</div>
							</div>
						</div>
						<a href="#">
							<button class="btnmodal">Salir</button>
						</a>
					</div>
					<!-- box-modal==== -->
				</div>
			</div>
			<div id="modal10" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal2">
						<div>
							<a href="/" class="cerrar">
								<img src="img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal2">
							<div class="box1 cabecerab">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2 style="padding-top: 5px;">Ups!</h2>
								</div>
							</div>
							<div class="box1 paddingl">
								<p>
									Te olvidaste de ingresar algun dato requerido en la
									<span>consulta</span>
									.
								</p>
								<p>
									Volve a probar! Recorda que no podes ser menor de
									<span>edad</span>
									.
								</p>
							</div>
						</div>
						<a href="#modal7">
							<button class="btnmodal">Volver</button>
						</a>
					</div>
				</div>
			</div>


			<!-- Bootstrap core JavaScript -->
			<script src="vendor/jquery/jquery.min.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		</div>
		<!-- #contenedor ==== -->
	</div>
	<!-- #pantalla ==== -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="/bower_components/moment/moment.js"></script>
	<script src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
	<script>
		$.widget.bridge('uibutton', $.ui.button);
	</script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
	<script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
	<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
	<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
	<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/bower_components/fastclick/lib/fastclick.js"></script>
	<script src="/dist/js/adminlte.min.js"></script>
	<script src="/dist/js/demo.js"></script>
	<script src="/app/js/landing.js"></script>
</body>
</html>