<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>
		<div class="content-wrapper col-sm-11">
			<section class="content2">
				<div class="box1 sectionadmin">
					<h3>Localidades</h3>
					<a href="#agregar"> <label for="btngreen" class="btngreen"
						sec:authorize="hasAuthority('EDITAR_LOCALIDADES')"> <span>+
								Agregar </span> <img src="/dist/img/sumab.png" alt="Agregar">
					</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque la localidad solicitada">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<div id="alerta"></div>
					<input th:if="${resultado} != null" type="hidden"
						th:value="${resultado}" id="resultado">
					<div class="dependencia" th:each="localidad : ${page}">
						<div class="box1">
							<h4 th:text="${localidad.nombre}" th:objeto="${localidad.id}"
								th:nombre="${localidad.nombre}"
								th:provincia="${localidad.provincia.id}"
								onclick="modificarLocalidad(this)"></h4>
							<ul class="trespuntos"
								sec:authorize="hasAuthority('EDITAR_LOCALIDADES')">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
											<img src="/dist/img/3puntos.png" alt="">
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a href="#editar" th:objeto="${localidad.id}"
											th:nombre="${localidad.nombre}"
											th:provincia="${localidad.provincia.id}"
											onclick="modificarLocalidad(this)"> <img
												src="/dist/img/imgmodal-04.png" alt="">Editar
										</a></li>
										<li><a href="#eliminar" th:objeto="${localidad.id}"
											th:onclick="eliminarLocalidad(this)"> <img
												src="/dist/img/iconomenu-01.png" alt="">Eliminar
										</a></li>
									</ul></li>
							</ul>
						</div>
						<hr>
						<div class="box1">
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Localidad</p>
									<p class="dpp2"
										th:text="${localidad.nombre == null ? '' : localidad.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Provincia</p>
									<p class="dpp2"
										th:text="${localidad.provincia == null ? '' : localidad.provincia.nombre}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- nuevo  -->

		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<div class="contenidomodal4">
						<form id="modalFormulario">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Nueva Localidad</h3>
											<p>Por favor, complete la siguiente información.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" name="id"> <label
									for="">Nombre</label> <input type="text" class="form-control"
									name="nombre"> <label for="">Provincia</label> <select
									class="form-control select2" name="idProvincia"
									data-placeholder="Seleccione provincia" style="width: 100%">
									<option selected disabled value="">--Seleccione una
										provincia--</option>
									<option th:each="provincia : ${provincias}"
										th:text="${provincia.nombre}" th:value="${provincia.id}">Pais</option>
								</select>
							</div>
							<button type="button" class="btn btn-secondary"
								onclick="guardarLocalidad()" id="modalBtnGuardar">Guardar</button>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<div id="editar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<div class="contenidomodal4">
						<form id="modalFormularioEditar">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Editar Localidad</h3>
											<p>Por favor, complete la siguiente información.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" id="modalEditarId"
									name="id"> <label for="">Nombre</label> <input
									type="text" class="form-control" id="modalEditarNombre"
									name="nombre"> <label for="">Provincia</label> <select
									class="form-control select2" name="idProvincia"
									id="modalEditarProvincia"
									data-placeholder="Seleccione provincia" style="width: 100%">
									<option selected disabled value="">--Seleccione una
										provincia--</option>
									<option th:each="provincia : ${provincias}"
										th:text="${provincia.nombre}" th:value="${provincia.id}">Provincia</option>
								</select>
							</div>
							<button type="button" class="btn btn-secondary"
								onclick="editarLocalidad()" id="modalBtnGuardar">Guardar</button>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar la localidad?
										</label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/localidad.js"></script>
</body>
</html>