<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
	class="fondoliberium">

<head>
<meta charset="UTF-8">
<meta http-equiv="U-UX-Compatible" content="IE=Edge">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0">
<title>LIBERIUM</title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<div id="pantalla">
		<div id="contenedor">
		
			<header style="z-index: 99" class="headerlr">
				<nav>
					<div class="boxlogo">
						<a href="/"><img src="/img/logoliberium.png"
							alt="Volver al Inicio"></a>
					</div>
				</nav>
			</header>
			
			<section class="positioninicio">

				<div class="middlebox">
					<div class="boxinicio">
						<form th:action="@{/logincheck}" method="POST">
							<div class="box1mobile">
								<div class="logoinicio">
									<a href="/"><img src="img/logoliberium1.png" alt=""></a>
								</div>
								<div class="box1">
									<h2>
										<span>I</span>NGRESO
									</h2>
									<h4>Que bueno verte</h4>
								</div>
							</div>
							
							<div th:if="${error != null}" class="alert alert-danger">
								<a class="close" data-dismiss="alert" aria-hidden="true"></a>
								<h4 th:text="${error}">
									<i class="icon fa fa-ban"></i>
								</h4>
							</div>
							<div th:if="${exito != null}" class="alert alert-danger">
								<a class="close" data-dismiss="alert" aria-hidden="true"></a>
								<h4 th:text="${exito}">
									<i class="icon fa fa-ban"></i>
								</h4>
							</div>
						
							<div class="box2mobile">
								<div class="box1" style="height: 100px;">
									<input type="email" placeholder="Ingrese su e-mail"
										style="margin-bottom: 25px;" name="username" id="username"
										required> 
									<input type="password" placeholder="Ingrese su Contraseña"
										style="margin-bottom: 7px;" name="password" id="password"
										required> 
									<a onclick="olvidoContrasenia()"
										class="olvidac">Olvidé mi contraseña</a>
								</div>
							</div>
							<div class="box3mobile">
								<div class="box1">
									<button type="submit" class="btn1">Acceder</button>
								</div>
								<div class="box0">

							</div>
						</form>
					</div>
				</div>

			</section>

			<footer class="footerlr">
				<hr>
				<p>Copyright 2019 © All Rights Reserved</p>
				<a href="mailto:hola@liberium.la" target="_blank">hola@liberium.la</a>
			</footer>
			
			<div id="ayuda" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal1" style="overflow-y: auto;">
						<div>
							<a href="#" class="cerrar">
								<img src="/img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal1">
							<div class="box1 cabecera">
								<div class="cabecera1">
									<img src="/img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2>Comunícate con nosotros! </h2>
								</div>
							</div>
			
						</div>
						<div class="box1 contenidomodal1">
							<div id="alerta"></div>
							<label style="font-family: 'latobold_italic'; font-size: 17px; float: left;">Email:</label>
							<input type="email" id="emailSoporte" style="width: 100%; float: left; height: 35px; border: 1px solid #899a69; border-radius: 10px; padding: 0 10px;" placeholder="Ingrese su email">
							<label style="font-family: 'latobold_italic'; font-size: 17px; float: left;">Asunto:</label>
							<input type="text" id="asuntoSoporte" style="width: 100%; float: left; height: 35px; border: 1px solid #899a69; border-radius: 10px; padding: 0 10px;" placeholder="Ingrese su asunto">
							<label style="font-family: 'latobold_italic'; font-size: 17px; float: left;">Texto:</label>
							<textarea id="textoSoporte" style=" font-family: 'latobold_italic'; width: 100%; height: 200px; float: left; border: 1px solid #899a69; border-radius: 10px; padding: 10px 10px" placeholder="Texto de la consulta"></textarea>
							
							<a href="#"><button class="btn1" style="margin-top: 20px; float: left;">Cancelar</button></a>
							<button onclick="enviarMailSoporte()" type="button" class="btn1" style="margin-top: 20px; float: right;">Enviar</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- #contenedor ==== -->
	</div>
	<!-- #pantalla ==== -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript">
	
		function enviarMailSoporte() {
		var emailSoporte = $("#emailSoporte").val();
		var asuntoSoporte = $("#asuntoSoporte").val();
		var textoSoporte = $("#textoSoporte").val();
		
			$.ajax({
				url: '/api/usuario/enviar-mail-soporte?email=' + emailSoporte + '&asunto=' + asuntoSoporte + '&texto=' + textoSoporte,
				type : "POST",
				success : function(data){
					console.log(data)
					$("#alerta").empty().html('<div class="alert alert-info">'
					+ '<a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>'
					+ '<h4><i class="icon fa fa-ban"></i> Exito!</h4> Email enviado con exito.</div>').show();
				}, 
				error : function(data){
					if (data.status == 400) {
						$("#alerta").empty().html('<div class="alert alert-danger">'
						+ '<a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>'
						+ '<h4><i class="icon fa fa-ban"></i> Error!</h4> Datos necesarios incompletos.</div>').show();
					} else if (data.status == 403) {
						$("#alerta").empty().html('<div class="alert alert-danger">'
						+ '<a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>'
						+ '<h4><i class="icon fa fa-ban"></i> Error!</h4> Error al enviar el mail.</div>').show();
					} else {
						$("#alerta").empty().html('<div class="alert alert-danger">'
						+ '<a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>'
						+ '<h4><i class="icon fa fa-ban"></i> Error!</h4> Error inesperado.</div>').show()
					}
				}
			});
		
		}
	
		function olvidoContrasenia() {
			if (document.getElementById("username").value == ""){
				document.getElementById("username").value = "as";
			}
			window.location = "/olvide-mi-clave/" + document.getElementById("username").value;
		}
		
		function verificarContrasenia() {
			var password = document.getElementById("password").value;
			
			var isValid = true;
				
			var mayuscula = false;
			var minuscula = false;
			var numero = false;
			var caracter_raro = false;
				
			for(var i = 0; i<password.length; i++){
				if(password.charCodeAt(i) >= 65 && password.charCodeAt(i) <= 90){
					mayuscula = true;
				}else if(password.charCodeAt(i) >= 97 && password.charCodeAt(i) <= 122){
					minuscula = true;
				}else if(password.charCodeAt(i) >= 48 && password.charCodeAt(i) <= 57){
						numero = true;
				}else{
					caracter_raro = true;
				}
			}
			if(mayuscula == false || minuscula == false || numero == false || caracter_raro == true){
				alert("La contraseña debe contener al menos 8 caracteres, una mayuscula, una minuscula y un numero");
			}
			console.log("PassOk");
		}
	</script>

</body>
</html>