<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper col-sm-11">
			<section class="content2">
				<div class="box1 sectionadmin">
					<h3>Usuarios</h3>
					<form action="#" method="get" class="sidebar-form2"
						sec:authorize="hasAuthority('EDITAR_USUARIOS')">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque el usuario solicitado">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<div id="alerta"></div>
				</div>
				<div class="box-usuarios">
					<div class="tabla table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<th class="columna3">Apellido y Nombre</th>
									<th class="columna3">E-mail</th>
									<th class="columna3">Estudio</th>
									<th class="columna3">Rol</th>
									<th class="columna2">Acciones</th>
								</tr>
								<tr th:each="miembro : ${page}">
									<td><p
											th:text="${miembro.mUsuario.nombre == null ? '' : miembro.mUsuario.nombre}"></p></td>
									<td><p
											th:text="${miembro.mUsuario.email == null ? '' : miembro.mUsuario.email}"></p></td>
									<td><p
											th:text="${miembro.mEstudio.nombre == null ? '' : miembro.mEstudio.nombre}"></p></td>
									<td><p
											th:text="${miembro.mRol.nombre == null ? '' : miembro.mRol.nombre}"></p></td>
									<td>
									<a sec:authorize="hasAuthority('EDITAR_MIEMBRO')" href="#agregar" th:objeto="${miembro.id}"
										th:nombre="${miembro.mUsuario.nombre}"
										th:mail="${miembro.mUsuario.email}"
										th:estudio="${miembro.mEstudio.nombre}"
										th:rol="${miembro.mRol.nombre}" onclick="visualizar(this)">
											<img src="/dist/img/tabla-03.png" alt="">
									</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- nuevo  -->
		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<div class="contenidomodal4">
						<form id="modalFormulario">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Información de Usuario</h3>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" onclick="resetFormulario();" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" name="id" id="id">

								<label for="">Nombre</label> <input type="text"
									class="form-control" name="nombre" id="nombre"> <label
									for="">Email</label> <input type="text" class="form-control"
									name="mail" id="mail"> 
							</div>
<!-- 							<button type="button" class="btn btn-secondary" -->
<!-- 								onclick="guardar()" id="modalBtnGuardar">Guardar</button> -->
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar el usuario? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/miembro.js"></script>
</body>
</html>
