<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<div class="content-wrapper col-sm-11">
			<section class="content2">

				<div class="box1 sectionadmin">
					<h3>Oficina Administrativa</h3>
					<a href="#agregar"> <label for="btngreen" class="btngreen">+
							Agregar</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque el proceso solicitado">
						</div>
					</form>
					<hr>
				</div>
				<div id="alerta"></div>
				<div class="box1">
					<div class="dependencia" th:each="oficina : ${page}">
						<div class="box1">
							<h4 th:text="${oficina.nombre}"></h4>
							<ul class="trespuntos">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
										<div class="">
											<img src="/dist/img/3puntos.png" alt="">
										</div>
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a href="#agregar" th:objeto="${oficina.id}"
											th:nombre="${oficina.nombre}"
											th:provincia="${oficina.provincia.id}"
											onclick="modificarOficina(this)"> <img
												src="/dist/img/imgmodal-04.png" alt="">
												<p>Editar</p>
										</a></li>
										<hr>
										<li><a href="#agregar" objeto=""
											th:nombre="${oficina.nombre}"
											th:provincia="${oficina.provincia.id}"
											onclick="modificarOficina(this)"> <img
												src="/dist/img/iconomenu-02.png" alt="">
												<p>Clonar</p>
										</a></li>
										<hr>
										<li><a href="#eliminar" th:objeto="${oficina.id}"
											th:onclick="eliminarOficina(this)"> <img
												src="/dist/img/iconomenu-01.png" alt="">
												<p>Eliminar</p>
										</a></li>
									</ul></li>
							</ul>
						</div>
						<hr>
						<div class="box1">
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Oficina Administrativa</p>
									<p class="dpp2"
										th:text="${oficina.nombre == null ? '' : oficina.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Provincia</p>
									<p class="dpp2"
										th:text="${oficina.provincia == null ? '' : oficina.provincia.nombre}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		
		<!-- nuevo  -->
		
		<div id="agregar" class="modal_mask">
  <div class="boxmiddle">
     <div class="box-modal box-modal4">
     <div id="modalAlerta"></div>
      <div class="contenidomodal4">
		<form id="modalFormulario">
        <div class="box1">
          <div class="cabeceramodal">
            <div class="tituloplaca">
              <img src="dist/img/logoinverso.png" alt="">
              <div class="textotituloplaca">
                <h3>Nueva Oficina Administrativa</h3>
                <p>Por favor, complete la siguiente información.</p>
              </div>
            </div>
            <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
          </div>
        </div>
        <div class="box1 agregarinfo2">
           <input type="hidden" class="form-control" id="modalEditarId" name="id">
           <label for="">Nombre</label>
		   <input type="text" class="form-control" id="modalEditarNombre" name="nombre">
		   <label for="">Provincia</label>
			<select class="form-control" name="idProvincia" id="provincia" data-placeholder="Seleccione país" style="width: 100%">
				<option th:each="provincia : ${provincias}" th:text="${provincia.nombre}" th:value="${provincia.id}"></option>
			</select>
        </div>
			<button type="button" class="btn btn-secondary" onclick="guardarOficina()" id="modalBtnGuardar">Guardar</button>
        </form>
      </div>
    </div><!-- box-modal==== -->
  </div>
</div>

		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar la
											oficina?</label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/oficinaAdmin.js"></script>
</body>
</html>
