<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="hold-transition skin-blue sidebar-mini" onload="cargarHorariosPerfil();definirDuracion();causasTotales();">
	<form id="horariosform" action="/usuarios/horarios"></form>
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>

		<div th:if="${session.usuarioSession.tipoUsuario.texto} ? 'Administrador' : 'Operador'">
			<!-- 			<div sec:authorize="hasAuthority('VISUALIZAR_PERFIL_ADMINISTRADOR')"> -->
			<div th:replace="fragments/menu :: menu">...</div>
			<!-- 			</div> -->
		</div>

		<div th:if="${session.usuarioSession.tipoUsuario.texto} != 'Administrador'">
			<div sec:authorize="hasAuthority('VISUALIZAR_PERFIL')">
				<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>
			</div>
		</div>

	</div>
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content">

			<div class="box1 sectionadmin">
				<h3>Mi Perfil</h3>
				<hr>
			</div>
			<div class="box1"
				th:if="${session.estudioSession == 'NOT_ESTUDIO' and session.usuarioSession.tipoUsuario.texto == 'Usuario'}">
				<div class="alert alert-warning alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<h4>
						<i class="icon fa fa-warning"></i> Atención!
					</h4>
					Para empezar a operar en liberium debe generar un estudio. Haga
					click en el botón <b><a href="#verEstudios">Ver/Administrar
							Estudio</a></b> y genere un nuevo estudio
				</div>

			</div>

			<div class="box1">
				<div class="usuarioperfil bordeuser trespuntosuser">
					<div th:if="${usuariosession.foto!=null}" class="imagenperfil" th:alt="${usuariosession.foto}"
						th:style="${'background-image: url(/administracion/usuario/foto/' + usuariosession.id + '); background-size:cover; background-position:center;'}">
						<div>
							<a href="/administracion/usuario/eliminar-foto" class="borrarfoto">
								<img src="/dist/img/cerrar.png" title="Eliminar foto"></a>
						</div>
					</div>
					<div th:if="${usuariosession.foto == null}" class="imagenperfil"
						th:style="${'background-image: url(/img/logoliberium.png); background-size:cover; background-position:center;'}">
					</div>

					<h3 th:text="${usuariosession.nombre}"></h3>
					<h4 th:text="${usuariosession.tipoUsuario}"></h4>
					<div th:if="${abogado != null}">
						<div th:if="${session.usuarioSession.tipoUsuario.texto == 'Usuario'}">
							<hr>
							<br>
							<h3>Estudios</h3>

							<a href="#verEstudios">
								<button type="button" class="btngreen btnestudio" style="">Ver/Administrar
									Estudios</button>
							</a>
						</div>
					</div>

					<div>
						<hr>
						<br>
						<h3>Contrase&ntilde;a</h3>

						<a href="#cambiarPass">
							<button type="button" class="btngreen btnestudio" style="">Cambiar
								Contrase&ntilde;a</button>
						</a>
					</div>

					<ul class="trespuntos">
						<li class="dropdown user user-menu trespuntosli"><a href="#editar3" class="dropdown-toggle"
								data-toggle="dropdown" aria-expanded="true">
								<div class="">
									<img src="/dist/img/3puntos.png" alt="">
								</div>
							</a>
							<ul class="dropdown-menu trespuntosmenu">
								<li><a href="#editarbio" onclick="editarUsuario()" th:objeto="${usuariosession.id}">
										<img src="/dist/img/imgmodal-04.png" alt="">
										<p>Editar</p>
									</a></li>
								<!-- 									<li> -->
								<!-- 										<a href="#eliminar"> -->
								<!-- 											<img src="/dist/img/disquete.png" alt=""> -->
								<!-- 											<p>Guardar</p> -->
								<!-- 										</a> -->
								<!-- 									</li> -->
							</ul>
						</li>
					</ul>
				</div>

				<div class="datosperfil1 bordeuser">
					<div class="box1">
						<h4>Datos de la cuenta</h4>
						<ul class="trespuntos">
							<li class="dropdown user user-menu trespuntosli"><a href="#editar1" class="dropdown-toggle"
									data-toggle="dropdown" aria-expanded="true">
									<div>
										<img src="/dist/img/3puntos.png" alt="">
									</div>
								</a>
								<ul class="dropdown-menu trespuntosmenu">
									<li><a href="#editar1" onclick="editarDatosUsuario()"
											th:objeto="${usuariosession.id}"> <img src="/dist/img/imgmodal-04.png"
												alt="">
											<p>Editar</p>
										</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<hr>
					<div class="box1">
						<div class="anchomedio">
							<div class="datosparametros">
								<p class="dpp1">DNI</p>
								<p class="dpp2" th:text="${usuariosession.dni}"></p>
							</div>
							<!--               <div class="datosparametros"> -->
							<!--                 <p class="dpp1">Usuario</p> -->
							<!--                 <p class="dpp2">Usuario</p> -->
							<!--               </div> -->
							<div class="datosparametros">
								<p class="dpp1">Correo Electrónico</p>
								<p class="dpp2" th:text="${usuariosession.email}"></p>
							</div>
							<div class="datosparametros">
								<p class="dpp1">Tipo de Cuenta</p>
								<p class="dpp2">Cuenta</p>
							</div>
						</div>
						<div class="anchomedio">
							<div class="datosparametros">
								<p class="dpp1">Fecha de Nacimiento</p>
								<p class="dpp2" th:text="${usuariosession.fecha}"></p>
							</div>

							<div class="datosparametros">
								<p class="dpp1">Teléfono</p>
								<p class="dpp2" th:text="${usuariosession.telefono}">155-000000</p>
							</div>
							<div class="anchomedio"></div>
						</div>
					</div>
				</div>

				<!-- 					segundo -->
				<div class="datosperfil1 bordeuser" th:if="${session.usuarioSession.abogado}">
					<div class="box1">
						<h4>Datos Judiciales</h4>
						<ul class="trespuntos">
							<li class="dropdown user user-menu trespuntosli"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" aria-expanded="true">
									<img src="/dist/img/3puntos.png" alt="">
								</a>
								<ul class="dropdown-menu trespuntosmenu">
									<li><a href="#editar2" th:objeto="${session.usuarioSession.id}"
											th:provincia="${abogado.mProvincia != null ? abogado.mProvincia.id : null}"
											th:localidad="${abogado.mLocalidad != null ? abogado.mLocalidad.id : null}"
											th:materias="${abogado.mMateria}" onclick="modificarJudiciales(this)"> <img
												src="/dist/img/imgmodal-04.png" alt="">
											<p>Editar</p>
										</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<hr>
					<div class="box1">
						<div class="anchomedio">
							<div class="datosparametros">
								<p class="dpp1">Matrícula</p>
								<p class="dpp2">
									<span th:text="${abogado.matricula}"></span>
								</p>
							</div>
						</div>
						<div class="anchomedio">
							<div class="datosparametros">
								<p class="dpp1">Domicilio Legal</p>
								<p class="dpp2">
									<span th:text="${abogado.domicilio}"></span>
								</p>
							</div>
						</div>

						<div class="anchomedio">
							<div class="datosparametros">
								<p class="dpp1">Materias</p>
								<p class="dpp2" th:each="materia : ${abogado.mMateria}">
									<span th:text="${materia.nombre}"></span>
								</p>
							</div>
						</div>

						<div class="anchomedio">
							<div class="datosparametros">
								<p class="dpp1">País</p>
								<p class="dpp2">
									<span
										th:text="${usuariosession.mPais == null ? '' : usuariosession.mPais.nombre}"></span>
								</p>
							</div>
						</div>

						<div class="anchomedio">
							<div class="datosparametros">
								<p class="dpp1">Provincia</p>
								<p class="dpp2">
									<span
										th:text="${abogado.mProvincia == null ? '' : abogado.mProvincia.nombre}"></span>
								</p>
							</div>
						</div>

						<div class="anchomedio">
							<div class="datosparametros">
								<p class="dpp1">Localidad</p>
								<p class="dpp2">
									<span
										th:text="${abogado.mLocalidad == null ? '' : abogado.mLocalidad.nombre}"></span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- 					tercero -->
				<div th:if="${abogado != null}">
					<div class="datosperfil1 bordeuser"
						th:if="${session.usuarioSession.tipoUsuario.texto == 'Usuario'}">
						<div class="box1">
							<h4>Datos Turnos, Consultas y Causas</h4>
							<ul class="trespuntos">
								<li class="dropdown user user-menu trespuntosli"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" aria-expanded="true">
										<img src="/dist/img/3puntos.png" alt="">
									</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a href="#editarTurnoConsulta" onclick="traerInfoTurnoConsulta()"> <img
													src="/dist/img/imgmodal-04.png" alt="">
												<p>Editar</p>
											</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<hr>
						<div class="box1" th:if="${abogado != null}">
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Cantidad semanas de anticipación:</p>
									<p class="dpp2"
										th:text="${abogado.cantSemanas == null ? '0' : abogado.cantSemanas}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Pasos a seguir</p>
									<p class="dpp2"
										th:text="${abogado.pasos == null ? 'Sin pasos' : abogado.pasos.length}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Número de Causas Activas</p>
									<p class="dpp2" id="numeroCausasActivas"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Número de Causas Totales</p>
									<p class="dpp2" id="numeroCausasTotales"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="box1 sectionadmin" th:if="${session.usuarioSession.abogado}">
				<h3>Configuración de Turnos</h3>
				<hr>
				<div class="box1 calendariopersonal">
					<p>Selecciona los horarios disponibles para otorgar turnos.</p>

					<div class="box1 tablaresponsive">
						<div class="cursocalendario">
							<div class="columnahoras">
								<div class="celdafecha"></div>
								<div class="celdahoras2">
									<p>07:00 AM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>07:30 AM</p>
								</div>
								<div class="celdahoras2">
									<p>08:00 AM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>08:30 AM</p>
								</div>
								<div class="celdahoras2">
									<p>09:00 AM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>09:30 AM</p>
								</div>
								<div class="celdahoras2">
									<p>10:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>10:30 PM</p>
								</div>
								<div class="celdahoras2">
									<p>11:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>11:30 PM</p>
								</div>
								<div class="celdahoras2">
									<p>12:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>12:30 AM</p>
								</div>
								<div class="celdahoras2">
									<p>13:00 AM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>13:30 AM</p>
								</div>
								<div class="celdahoras2">
									<p>14:00 AM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>14:30 AM</p>
								</div>
								<div class="celdahoras2">
									<p>15:00 AM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>15:30 PM</p>
								</div>
								<div class="celdahoras2">
									<p>16:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>16:30 PM</p>
								</div>
								<div class="celdahoras2">
									<p>17:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>17:30 PM</p>
								</div>
								<div class="celdahoras2">
									<p>18:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>18:30 PM</p>
								</div>

								<div class="celdahoras2">
									<p>19:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>19:30 PM</p>
								</div>

								<div class="celdahoras2">
									<p>20:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>20:30 PM</p>
								</div>

								<div class="celdahoras2">
									<p>21:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>21:30 PM</p>
								</div>
								<div class="celdahoras2">
									<p>22:00 PM</p>
								</div>
								<div class="celdahoras2 celda30">
									<p>22:30 PM</p>
								</div>
							</div>
							<div class="tablacalendario" id="horarios">
								<div class="columnadias" id="domingo">
									<div class="celdafecha">
										<h4>DOM</h4>
									</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D0700" th:dia="1"
										th:hora="07" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D0730" th:dia="1"
										th:hora="07" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D0800" th:dia="1"
										th:hora="08" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D0830" th:dia="1"
										th:hora="08" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D0900" th:dia="1"
										th:hora="09" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D0930" th:dia="1"
										th:hora="09" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1000" th:dia="1"
										th:hora="10" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1030" th:dia="1"
										th:hora="10" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1100" th:dia="1"
										th:hora="11" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1130" th:dia="1"
										th:hora="11" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1200" th:dia="1"
										th:hora="12" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1230" th:dia="1"
										th:hora="12" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1300" th:dia="1"
										th:hora="13" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1330" th:dia="1"
										th:hora="13" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1400" th:dia="1"
										th:hora="14" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1430" th:dia="1"
										th:hora="14" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1500" th:dia="1"
										th:hora="15" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1530" th:dia="1"
										th:hora="15" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1600" th:dia="1"
										th:hora="16" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1630" th:dia="1"
										th:hora="16" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1700" th:dia="1"
										th:hora="17" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1730" th:dia="1"
										th:hora="17" th:minutos="30">Turno
										Disponible</div>

									<div class="celda1hora tdisponible" data-status="paused" id="D1800" th:dia="1"
										th:hora="18" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1830" th:dia="1"
										th:hora="18" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1900" th:dia="1"
										th:hora="19" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D1930" th:dia="1"
										th:hora="19" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D2000" th:dia="1"
										th:hora="20" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D2030" th:dia="1"
										th:hora="20" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D2100" th:dia="1"
										th:hora="21" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D2130" th:dia="1"
										th:hora="21" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D2200" th:dia="1"
										th:hora="22" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="D2330" th:dia="1"
										th:hora="22" th:minutos="30">Turno
										Disponible</div>

								</div>
								<div class="columnadias">
									<div class="celdafecha">
										<h4>LUN</h4>
									</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L0700" th:dia="2"
										th:hora="07" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L0730" th:dia="2"
										th:hora="07" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L0800" th:dia="2"
										th:hora="08" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L0830" th:dia="2"
										th:hora="08" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L0900" th:dia="2"
										th:hora="09" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L0930" th:dia="2"
										th:hora="09" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1000" th:dia="2"
										th:hora="10" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1030" th:dia="2"
										th:hora="10" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1100" th:dia="2"
										th:hora="11" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1130" th:dia="2"
										th:hora="11" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1200" th:dia="2"
										th:hora="12" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1230" th:dia="2"
										th:hora="12" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1300" th:dia="2"
										th:hora="13" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1330" th:dia="2"
										th:hora="13" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1400" th:dia="2"
										th:hora="14" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1430" th:dia="2"
										th:hora="14" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1500" th:dia="2"
										th:hora="15" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1530" th:dia="2"
										th:hora="15" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1600" th:dia="2"
										th:hora="16" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1630" th:dia="2"
										th:hora="16" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1700" th:dia="2"
										th:hora="17" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1730" th:dia="2"
										th:hora="17" th:minutos="30">Turno
										Disponible</div>

									<div class="celda1hora tdisponible" data-status="paused" id="L1800" th:dia="2"
										th:hora="18" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1830" th:dia="2"
										th:hora="18" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1900" th:dia="2"
										th:hora="19" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L1930" th:dia="2"
										th:hora="19" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L2000" th:dia="2"
										th:hora="20" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L2030" th:dia="2"
										th:hora="20" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L2100" th:dia="2"
										th:hora="21" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L2130" th:dia="2"
										th:hora="21" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L2200" th:dia="2"
										th:hora="22" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="L2330" th:dia="2"
										th:hora="22" th:minutos="30">Turno
										Disponible</div>

								</div>
								<div class="columnadias">
									<div class="celdafecha">
										<h4>MAR</h4>
									</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M0700" th:dia="3"
										th:hora="07" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M0730" th:dia="3"
										th:hora="07" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M0800" th:dia="3"
										th:hora="08" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M0830" th:dia="3"
										th:hora="08" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M0900" th:dia="3"
										th:hora="09" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M0930" th:dia="3"
										th:hora="09" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1000" th:dia="3"
										th:hora="10" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1030" th:dia="3"
										th:hora="10" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1100" th:dia="3"
										th:hora="11" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1130" th:dia="3"
										th:hora="11" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1200" th:dia="3"
										th:hora="12" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1230" th:dia="3"
										th:hora="12" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1300" th:dia="3"
										th:hora="13" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1330" th:dia="3"
										th:hora="13" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1400" th:dia="3"
										th:hora="14" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1430" th:dia="3"
										th:hora="14" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1500" th:dia="3"
										th:hora="15" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1530" th:dia="3"
										th:hora="15" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1600" th:dia="3"
										th:hora="16" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1630" th:dia="3"
										th:hora="16" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1700" th:dia="3"
										th:hora="17" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1730" th:dia="3"
										th:hora="17" th:minutos="30">Turno
										Disponible</div>


									<div class="celda1hora tdisponible" data-status="paused" id="M1800" th:dia="3"
										th:hora="18" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1830" th:dia="3"
										th:hora="18" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1900" th:dia="3"
										th:hora="19" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M1930" th:dia="3"
										th:hora="19" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M2000" th:dia="3"
										th:hora="20" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M2030" th:dia="3"
										th:hora="20" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M2100" th:dia="3"
										th:hora="21" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M2130" th:dia="3"
										th:hora="21" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M2200" th:dia="3"
										th:hora="22" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="M2330" th:dia="3"
										th:hora="22" th:minutos="30">Turno
										Disponible</div>

								</div>
								<div class="columnadias">
									<div class="celdafecha">
										<h4>MIE</h4>
									</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X0700" th:dia="4"
										th:hora="07" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X0730" th:dia="4"
										th:hora="07" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X0800" th:dia="4"
										th:hora="08" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X0830" th:dia="4"
										th:hora="08" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X0900" th:dia="4"
										th:hora="09" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X0930" th:dia="4"
										th:hora="09" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1000" th:dia="4"
										th:hora="10" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1030" th:dia="4"
										th:hora="10" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1100" th:dia="4"
										th:hora="11" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1130" th:dia="4"
										th:hora="11" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1200" th:dia="4"
										th:hora="12" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1230" th:dia="4"
										th:hora="12" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1300" th:dia="4"
										th:hora="13" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1330" th:dia="4"
										th:hora="13" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1400" th:dia="4"
										th:hora="14" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1430" th:dia="4"
										th:hora="14" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1500" th:dia="4"
										th:hora="15" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1530" th:dia="4"
										th:hora="15" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1600" th:dia="4"
										th:hora="16" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1630" th:dia="4"
										th:hora="16" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1700" th:dia="4"
										th:hora="17" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1730" th:dia="4"
										th:hora="17" th:minutos="30">Turno
										Disponible</div>

									<div class="celda1hora tdisponible" data-status="paused" id="X1800" th:dia="4"
										th:hora="18" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1830" th:dia="4"
										th:hora="18" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1900" th:dia="4"
										th:hora="19" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X1930" th:dia="4"
										th:hora="19" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X2000" th:dia="4"
										th:hora="20" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X2030" th:dia="4"
										th:hora="20" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X2100" th:dia="4"
										th:hora="21" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X2130" th:dia="4"
										th:hora="21" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X2200" th:dia="4"
										th:hora="22" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="X2330" th:dia="4"
										th:hora="22" th:minutos="30">Turno
										Disponible</div>

								</div>
								<div class="columnadias">
									<div class="celdafecha">
										<h4>JUE</h4>
									</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J0700" th:dia="5"
										th:hora="07" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J0730" th:dia="5"
										th:hora="07" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J0800" th:dia="5"
										th:hora="08" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J0830" th:dia="5"
										th:hora="08" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J0900" th:dia="5"
										th:hora="09" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J0930" th:dia="5"
										th:hora="09" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1000" th:dia="5"
										th:hora="10" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1030" th:dia="5"
										th:hora="10" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1100" th:dia="5"
										th:hora="11" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1130" th:dia="5"
										th:hora="11" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1200" th:dia="5"
										th:hora="12" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1230" th:dia="5"
										th:hora="12" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1300" th:dia="5"
										th:hora="13" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1330" th:dia="5"
										th:hora="13" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1400" th:dia="5"
										th:hora="14" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1430" th:dia="5"
										th:hora="14" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1500" th:dia="5"
										th:hora="15" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1530" th:dia="5"
										th:hora="15" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1600" th:dia="5"
										th:hora="16" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1630" th:dia="5"
										th:hora="16" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1700" th:dia="5"
										th:hora="17" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1730" th:dia="5"
										th:hora="17" th:minutos="30">Turno
										Disponible</div>

									<div class="celda1hora tdisponible" data-status="paused" id="J1800" th:dia="5"
										th:hora="18" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1830" th:dia="5"
										th:hora="18" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1900" th:dia="5"
										th:hora="19" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J1930" th:dia="5"
										th:hora="19" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J2000" th:dia="5"
										th:hora="20" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J2030" th:dia="5"
										th:hora="20" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J2100" th:dia="5"
										th:hora="21" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J2130" th:dia="5"
										th:hora="21" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J2200" th:dia="5"
										th:hora="22" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="J2330" th:dia="5"
										th:hora="22" th:minutos="30">Turno
										Disponible</div>


								</div>
								<div class="columnadias">
									<div class="celdafecha">
										<h4>VIE</h4>
									</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V0700" th:dia="6"
										th:hora="07" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V0730" th:dia="6"
										th:hora="07" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V0800" th:dia="6"
										th:hora="08" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V0830" th:dia="6"
										th:hora="08" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V0900" th:dia="6"
										th:hora="09" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V0930" th:dia="6"
										th:hora="09" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1000" th:dia="6"
										th:hora="10" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1030" th:dia="6"
										th:hora="10" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1100" th:dia="6"
										th:hora="11" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1130" th:dia="6"
										th:hora="11" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1200" th:dia="6"
										th:hora="12" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1230" th:dia="6"
										th:hora="12" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1300" th:dia="6"
										th:hora="13" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1330" th:dia="6"
										th:hora="13" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1400" th:dia="6"
										th:hora="14" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1430" th:dia="6"
										th:hora="14" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1500" th:dia="6"
										th:hora="15" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1530" th:dia="6"
										th:hora="15" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1600" th:dia="6"
										th:hora="16" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1630" th:dia="6"
										th:hora="16" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1700" th:dia="6"
										th:hora="17" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1730" th:dia="6"
										th:hora="17" th:minutos="30">Turno
										Disponible</div>

									<div class="celda1hora tdisponible" data-status="paused" id="V1800" th:dia="6"
										th:hora="18" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1830" th:dia="6"
										th:hora="18" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1900" th:dia="6"
										th:hora="19" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V1930" th:dia="6"
										th:hora="19" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V2000" th:dia="6"
										th:hora="20" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V2030" th:dia="6"
										th:hora="20" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V2100" th:dia="6"
										th:hora="21" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V2130" th:dia="6"
										th:hora="21" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V2200" th:dia="6"
										th:hora="22" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="V2330" th:dia="6"
										th:hora="22" th:minutos="30">Turno
										Disponible</div>


								</div>
								<div class="columnadias">
									<div class="celdafecha">
										<h4>SAB</h4>
									</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S0700" th:dia="7"
										th:hora="07" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S0730" th:dia="7"
										th:hora="07" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S0800" th:dia="7"
										th:hora="08" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S0830" th:dia="7"
										th:hora="08" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S0900" th:dia="7"
										th:hora="09" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S0930" th:dia="7"
										th:hora="09" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1000" th:dia="7"
										th:hora="10" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1030" th:dia="7"
										th:hora="10" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1100" th:dia="7"
										th:hora="11" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1130" th:dia="7"
										th:hora="11" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1200" th:dia="7"
										th:hora="12" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1230" th:dia="7"
										th:hora="12" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1300" th:dia="7"
										th:hora="13" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1330" th:dia="7"
										th:hora="13" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1400" th:dia="7"
										th:hora="14" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1430" th:dia="7"
										th:hora="14" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1500" th:dia="7"
										th:hora="15" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1530" th:dia="7"
										th:hora="15" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1600" th:dia="7"
										th:hora="16" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1630" th:dia="7"
										th:hora="16" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1700" th:dia="7"
										th:hora="17" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1730" th:dia="7"
										th:hora="17" th:minutos="30">Turno
										Disponible</div>

									<div class="celda1hora tdisponible" data-status="paused" id="S1800" th:dia="7"
										th:hora="18" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1830" th:dia="7"
										th:hora="18" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1900" th:dia="7"
										th:hora="19" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S1930" th:dia="7"
										th:hora="19" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S2000" th:dia="7"
										th:hora="20" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S2030" th:dia="7"
										th:hora="20" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S2100" th:dia="7"
										th:hora="21" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S2130" th:dia="7"
										th:hora="21" th:minutos="30">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S2200" th:dia="7"
										th:hora="22" th:minutos="00">Turno
										Disponible</div>
									<div class="celda1hora tdisponible" data-status="paused" id="S2330" th:dia="7"
										th:hora="22" th:minutos="30">Turno
										Disponible</div>

								</div>
							</div>
						</div>
					</div>
					<div class="box1">
						<h4>Mis turnos son de:</h4>
						<select id="duracion" onclick="duracion();" onchange="guardarDuracion();">
							<option id="min30" value="30">30 Minutos</option>
							<option id="hor1" value="1">1 Hora</option>
						</select>
						<button type="button" onclick="modificarHorario()" class="btngreen"
							style="margin-right: 0; margin-top: 2px;">Guardar</button>

					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<div id="editar1" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="editarUsuario">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<h3>Editar Usuario</h3>
									<p>Por favor, complete la siguiente información.</p>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<div class="box1 agregarinfo2" id="DatosUsuario">
						<div id="alertaDato"></div>
						<input type="hidden" class="form-control" th:value="${usuariosession.id}" id="modalEditarId"
							name="id">

						<label for="">DNI</label> <input type="text" class="form-control " id="modalEditarDNI"
							name="dni" th:value="${usuariosession.dni}">
						<label for="">Fecha de Nacimiento</label> <input type="date" class="form-control"
							id="modalEditarNacimiento" name="fechaDeNacimiento"
							th:value="${usuariosession.fechaIngles}">
						<label for="">Telefono</label> <input type="text" class="form-control" id="modalEditarTelefono"
							name="telefono" th:value="${usuariosession.telefono}"> <label for="">Correo
							Electronico</label> <input type="text" class="form-control" id="modalEditarMail"
							name="email" disabled="disabled" th:value="${usuariosession.email}">

					</div>
				</form>

				<button id="botonEdicion" type=button class="btn btn-secondary"
					onclick="modificarUsuario()">Guardar</button>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="editar2" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="formAbogado" action="/administracion/abogado/actualizar" method="POST">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<h3>Editar Usuario</h3>
									<p>Por favor, complete la siguiente información.</p>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<div class="box1 agregarinfo2" id="editarAbogado" th:if="${abogado != null}">
						<div id="alertaDato2"></div>
						<input type="hidden" name="id" th:value="${abogado.id}" /> <label for="">MATRICULA</label>
						<input type="text" class="form-control" id="modalEditarMatricula" name="matricula"
							th:value="${abogado.matricula}" /> <label for="">DOMICILIO
							LEGAL</label> <input type="text" class="form-control" id="modalEditarDomicilio"
							name="domicilio" th:value="${abogado.domicilio}" /> <label for="">PROVINCIA</label>
						<select class="form-control select2" id="modalEditarProvincia" name="idProvincia"
							onchange="buscarLocalidad(this.value)">
							<option selected disabled value="">Seleccione una
								provincia</option>
							<option th:each="provincia : ${provincias}" th:value="${provincia.id}"
								th:text="${provincia.nombre}"></option>
						</select> <label for="">LOCALIDAD</label> <select class="form-control select2" id="localidad"
							name="localidad">
							<option selected disabled value="">Seleccione una
								localidad</option>
						</select> <label for="">MATERIAS</label> <select class="form-control select2" name="materia"
							id="modalEditarMaterias" multiple="multiple">
							<option th:each="materia : ${materias}" th:value="${materia.id}"
								th:text="${materia.nombre}"></option>
						</select>

					</div>
				</form>

				<button id="botonEdicion" type=button class="btn btn-secondary"
					onclick="modificarAbogado()">Guardar</button>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer">...</div>
	<!-- ./wrapper -->

	<div id="editarTurnoConsulta" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<form id="formTurnoConsulta">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3 id="editarCrear">Editar Turnos y Consultas</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<div id="modalTurnoConsulta"></div>
							<label for="">Cantidad de semanas:</label> <select id="cantidadSemanas" name="cantSemanas">
								<option disabled="disabled" selected="selected" hidden="">Seleccione
									una cantidad</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<h4 style="margin-top: 7px;">Pasos a Seguir</h4>
							<div id="pasos"></div>
							<button type="button" onclick="botonAgrgarPaso()" class="btnmodal"
								style="width: 100% !important; border-radius: 5px !important; margin: 2% !important;">Agregar
								paso</button>
						</div>
						<button type="button" class="btn btn-secondary" onclick="guardarInfoTurnoConsulta()"
							id="modalBtnGuardarTurnoConsulta">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="cambiarPass" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<div id="modalAlertaPassword"></div>
					<form id="formPassword">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3 id="editarCrear">Cambiar Contrase&ntilde;a</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<label for="">Contrase&ntilde;a actual</label> <input type="password" class="form-control"
								name="password"> <label for="">Nueva contrase&ntilde;a</label> <input type="password"
								class="form-control" name="newPassword"> <label for="">Repetir
								contrase&ntilde;a</label> <input type="password" class="form-control"
								name="repeatPassword">

						</div>
						<button type="button" class="btn btn-secondary" onclick="cambiarPassword()"
							id="modalBtnCambiarPassword">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="editarbio" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="contenidomodal4">
					<form id="modalFormularioBio" enctype="multipart/form-data"
						th:action="@{/administracion/usuario/actualizar-bio}" method="post">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Editar Usuario</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2" id="editarNombre">

							<label for="">NOMBRE</label> <input type="text" class="form-control" id="modalEditarNombre"
								name="nombre" th:value="${usuariosession.nombre}" /> <label for="">FOTO</label>
							<div th:if="${usuariosession.foto!=null}">
								<div class="box1 checkregister">
									<label class="containerb"> <input id="checkFoto" type="checkbox"
											name="eliminarFoto"> <span class="checkmarkb"></span>
									</label>
									<p>Eliminar foto</p>
								</div>
							</div>
							<input type="file" class="form-control" name="foto" />

						</div>
						<button type="submit" class="btn btn-secondary" id="modalBtnGuardarBio">Guardar</button>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>


	<div id="verEstudios" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal elementocausa modal-estudio">
				<div class="contenido-estudio">
					<form id="modalFormulariover">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Administrar Estudios</h3>
										<p>Aquí puede ver los miembros de los estudios de los que
											formas parte, y editar tus estudios.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<div class="box-estudios-fixed">
								<div class="tabla table-responsive">
									<table class="table">
										<tbody>
											<tr>
												<th class="columna1">Estudio</th>
												<th class="columna1">Miembros</th>
												<th class="columna1">Creador</th>
												<th class="columna2">Acciones</th>
											</tr>


											<tr th:each="estu : ${estudio}">
												<td style="border: none;">
													<h4
														th:text="${estu.nombre == null ? 'No hay ningún estudio creado' : estu.nombre}">
													</h4>
												</td>
												<td style="border: none;">
													<h4></h4>
												</td>
												<td style="border: none;">
													<h4 th:text="${estu.creador.nombre}"></h4>
												</td>
												<td style="border: none;">
													<div th:if="${usuariosession.id == estu.creador.id}">
														<a href="#nuevoEstudio" th:objeto="${estu.id}"
															th:nombre="${estu.nombre}" onclick="modificarEstudio(this)">
															<img src="/dist/img/tabla-02.png" alt="">
														</a>
													</div>
													<div th:if="${usuariosession.id == estu.creador.id}">
														<a href="#eliminarEstudio" th:objeto="${estu.id}"
															th:onclick="eliminarEstudioC(this)"> <img
																src="/dist/img/tabla-01.png" alt="">
														</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<a href="#nuevoEstudio">
							<button type="button" class="btngreen" id="modalBtnNuevoEstudio">Nuevo
								Estudio</button>
						</a> <a href="#">
							<button type="button" class="btngreen" id="modalBtnCerrar">Cerrar</button>
						</a>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>


	<div id="nuevoEstudio" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<div id="modalAlertaEstudio"></div>
					<form id="modalFormulario">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3 id="editarCrear">Crear un Estudio</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#verEstudios" class="cerrarmodalimg"><img src="/dist/img/cerrar.png"
										onclick="cerrar()" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<input type="hidden" class="form-control" id="editarIdEstudio" name="idEstudio"> <label
								for="">Nombre</label> <input type="text" class="form-control" id="editarNombreEstudio"
								name="nombreEstudio">
						</div>
						<button type="button" class="btn btn-secondary" onclick="guardarEstudio()"
							id="modalBtnGuardarEstudio">Guardar</button>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="eliminarEstudio" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="modalFormularioE">
					<input type="hidden" class="form-control" id="idEstudioEliminar" name="id">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar este estudio?
									</label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary" onclick="eliminarEstudio()"
						id="modalBtnEliminar">Eliminar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="verMiembros" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div class="contenidomodal4">
					<form id="modalFormularioMiembros">
						<input type="hidden" class="form-control" id="idEstudioVer" name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Miembros del Estudio</h3>
										<p>Lista de miembros.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<div class="box-estudios">
								<div class="tabla table-responsive">
									<table class="table">
										<tbody>
											<tr>
												<th class="columna1">Miembro</th>
												<th class="columna1">Acciones</th>
											</tr>


											<tr id="miembros">
												<td style="border: none;"></td>
												<td style="border: none;">

													<div>
														<a href="#nuevoEstudio"> <img src="/dist/img/tabla-02.png"
																style="width: 24.3%;" alt="">
														</a>
													</div>
													<div>
														<a href="#eliminarEstudio"> <img src="/dist/img/tabla-01.png"
																style="width: 24.3%;" alt="">
														</a>
													</div>

												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<a href="#invitar">
							<button type="button" class="btn btn-secondary"
								id="modalBtnAdministrar">Administrar</button>
						</a>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

	<div id="invitar" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4" style="width: 600px;">
				<div class="contenidomodal4">
					<form id="modalFormularioIn">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Invitar nuevos miembros</h3>
										<p style="margin-bottom: 10px;">Añadí usuarios a tu
											estudio.</p>
										<div class="input-group">
											<span class="input-group-btn">
												<button type="button" name="search" id="search-btn" class="btn btn-flat"
													onclick="verAbogados()">
													<i class="fa fa-search"></i>
												</button>
											</span><input type="text" name="q" id="query" class="form-control"
												placeholder="DNI" onkeyup="if(event.keyCode == 13) verAbogados()" />
										</div>
										<div id="modalAlertaEstudio"></div>
										<div id="abogados"></div>
										<div class="box1" style="margin-bottom: 20px;">
											<select style="margin-top: 0px; width: 62.5%;" class="marginselectopcion1"
												id="idRoles">
												<option selected disabled value="">Roles</option>
												<option th:each="pais : ${paises}" th:text="${pais.nombre}"
													th:value="${pais.id}"></option>


											</select>

										</div>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
							</div>
						</div>
						<div class="box1 agregarinfo2"></div>
						<a><button type="button" id="btnInvitar" class="btn btn-secondary" onclick="invitarAbogado()"
								disabled>Invitar</button></a>
					</form>
				</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	<script th:inline="javascript">
		select = document.getElementById("modalEditarMaterias");
		var materias = [[${materias}]];
		var materiasAbogado = [[${abogado.mMateria}]]; materiasAbogado.forEach(function (element) {
			var id = element.id;
			console.log(id);
			//console.log(element);
			materias.forEach(function (materia) {
				var idMateria = materia.id; var nombreMAteria = materia.nombre;

				if (id == idMateria) {
					$('#modalEditarMaterias').append($('<option>', {
						value: idMateria,
						text: nombreMAteria, selected: true
					}));
				}
				console.log(nombreMAteria + " " + idMateria);
			})
		})

	</script>
	<script src="/app/js/perfil.js"></script>
	<script src="/app/js/estudio.js"></script>
</body>

</html>