<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<div class="content-wrapper col-sm-11">
			<section class="content2">

				<div class="box1 sectionadmin">
					<h3>Plantillas</h3>
					<a href="#agregar"> <label for="btngreen" class="btngreen">+
							Agregar</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque la plantilla solicitada">
						</div>
					</form>
					<hr>
				</div>
				<div id="alerta"></div>

				<div class="box2">
					<div class="formulario" th:each="plantilla : ${page}">
						<div class="plantillas" >
								<ul class="trespuntos">
									<li class="dropdown user user-menu trespuntosli"><a
										href="#" class="dropdown-toggle" data-toggle="dropdown"
										aria-expanded="true">
											<div class="">
												<img src="/dist/img/3puntos.png" alt="">
											</div>
									</a>
										<ul class="dropdown-menu trespuntosmenu">
											<li><a href="#editar"
												th:attr="onclick=|modificarPlantilla('${plantilla.titulo}','${plantilla.id}')|"
												id="editarPlantilla" alt=""><img
													src="/dist/img/imgmodal-04.png" alt=""> Editar</a></li>
											<hr>
											<li><a href="#"
												th:attr="onclick=|verPlantilla('${plantilla.titulo}','${plantilla.id}')|"
												id="verPlantilla"><img src="/dist/img/iconomenu-02.png"
													alt=""> Ver</a></li>
											<hr>
											<li><a href="#"
												th:attr="onclick=|remplazarEscrito('${plantilla.id}')|"><img
													src="/dist/img/disquete.png" alt=""> Usar</a></li>
											<hr>
											<li><a href="#eliminarPlantilla"
												th:objeto="${plantilla.id}"
												th:onclick="eliminarPlantilla(this)"><img
													src="/dist/img/iconomenu-01.png" alt=""> Elminar</a></li>
										</ul></li>
								</ul>

								<img src="/dist/img/plantilla.png" alt="" class="plantillasimg">
								<p class="plantillasp" th:text="${plantilla.titulo}"></p>
							</div>
					</div>
				</div>
				<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->


		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div class="contenidomodal4">
						<div id="modalAlerta"></div>
						<form id="modalFormulario">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Nueva Plantilla</h3>
											<p>Por favor, complete la siguiente información.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" name="id"> <label
									for="">Titulo</label> <input type="text" class="form-control"
									name="titulo">

								<!-- 									<label for="">Texto</label> <input -->
								<!-- 									type="text" class="form-control"  -->
								<!-- 									name="texto"> -->
							</div>
							<a href="#guardarBloques">
								<button type="button" class="btn btn-secondary"
									onclick="guardarPlantilla()" id="modalBtnGuardar">Siguiente</button>
							</a>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div id="editar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div class="contenidomodal4">
						<div id="modalAlerta"></div>
						<form id="modalFormularioEditar">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Editar Plantilla</h3>
											<p>Por favor, complete la siguiente información.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" id="modalEditarId"
									name="id"> <label for="">Titulo</label> <input
									type="text" class="form-control" id="modalEditarTitulo"
									name="titulo">

								<!-- 									<label for="">Texto</label> <input -->
								<!-- 									type="text" class="form-control" id="modalEditarTexto" -->
								<!-- 									name="texto"> -->
							</div>
							<button type="button" class="btn btn-secondary"
								onclick="editarPlantilla()" id="modalBtnGuardar">Guardar</button>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div id="guardarBloques" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal modal7">
					<div>
						<a href="#" class="cerrar"><img src="img/cerrar.png" alt=""></a>
					</div>
					<input type="hidden" class="form-control" id="modalAgregarId"
						name="id">

					<div class="box1 contenidomodal6">
						<div class="box1 calendariopersonal">

							<div class="box1 cabecera">
								<div class="cabecera1">
									<img src="img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h4>Titulo:</h4>
									<h4 id="modalAgregarTitulo">/n</h4>
								</div>
							</div>
							<div id ="modalAlertaBloque"></div>
							
							
							<div id="showBloques"></div>

							<div class="box1 tablaresponsive">
								<div class="cursocalendario"></div>
							</div>
							<div class="box1">
								<div class="buttonmiddle">
									<a href="#"> <label for="btngreen" class="btngreen">Guardar</label></a>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>


		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar la plantilla?
										</label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/plantilla.js"></script>
	
	<!-- 	<script type="/app/js/bloque.js"></script> -->
</body>
</html>
