<!DOCTYPE html>
<html lang="es" class="height100" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="U-UX-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<title>LIBERIUM</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
  	<link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
</head>

<body class="height100 fondoliberium">
	
<div id="pantalla" class="height100">
<div id="contenedor" class="height100">

<header class="headerlr" style="z-index: 99">
	<nav>
		<div class="boxlogo"><a href="/"><img src="/img/logoliberium.png" alt=""></a></div>
	</nav>
</header>

<section class="positioninicio">

	
	<div class="middlebox">
		<div class="boxinforegister">
			<div class="inforegisterfondo">

				<div class="inforegister">
					<div class="box1"><img src="/img/logoliberiumblanco-01.png" alt=""></div>
					<div class="box1">
						<p>Es el sistema de gestión jurídica más adecuado a las necesidades de abogadas y abogados, fácil de usar, integral y tendiente a la completa automatización de la actividad profesional cotidiana.</p>
					</div>
				</div>
			</div>
			
			<div class="boxregister">
				<div class="logoinicio displayn2"><a href="/"><img src="/img/logoliberium1.png" alt=""></a></div>
				<div class="box1">
					<h2><span>R</span>EGISTRO</h2>
					<h4>Creá tu cuenta Liberium</h4>
				</div>
				
				<div class="box1">
				<div id="modalAlerta"></div>
					<form id="formRegistro">
						<div style="padding-bottom: 20px;">
							<input autofocus="autofocus" autocomplete="name" type="text" name="nombre" placeholder="Nombre y Apellido" style="margin-bottom:25px;" id="nombreUsuario" required>
							<input type="email" name="email" placeholder="Ingrese su e-mail" style="margin-bottom:25px;" required>
							<input type="password" name="password" placeholder="Ingrese su Contraseña" onfocusout="verificarContrasenia()" required>
						</div>
						<div style="margin-top: 44%;">
							<select class="form-control select2" name="idPais" id="paisEditar" onchange="traerProvinciasRegistro(this.value)">
			                	<option selected disabled value="">Seleccionar nacionalidad</option>
		  		                	<option th:each="pais : ${paises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
			             	</select>
		             	</div>
		              	<div style="margin-top: 20px;">
							<select class="form-control select2" name="idProvincia" id="proviciaRegistro">
			                	<option selected disabled value="">Seleccionar provincia</option>
			             	</select>
		              	</div>
					</form>	
				</div>
				<div class="box1 checkregister">
					<label class="containerb">
					  <input type="checkbox" id="checkV" >
					  
					  <span class="checkmarkb"></span>
					</label>
					<p>Para proseguir, acepte nuestras <a href="#enlace" class="enlace3">Condiciones del Servicio y nuestra Política de Privacidad</a></p>
				</div>
				
				<div class="box1" id="registrarse" >
					<button class="btn1" id="botonInicial" onclick="mensaje();">Registrarse</button>
				</div>
				<div class="box0">
					<p style="margin-bottom:10px;">¿Ya tenés una cuenta registrada?<a href="login" class="enlace1">LOGIN</a></p>
					<p>¿Problemas para registrarte? <a href="#ayuda" class="enlace2">Comunícate con nosotros.</a></p>
				</div>	
			</div>
		</div>
	</div>

</section>

<div id="ayuda" class="modal_mask">
	<div class="boxmiddle">
		<div class="box-modal modal1" style="overflow-y: auto;">
			<div>
				<a href="#" class="cerrar">
					<img src="/img/cerrar.png" alt="">
				</a>
			</div>
			<div class="box1 contenidomodal1">
				<div class="box1 cabecera">
					<div class="cabecera1">
						<img src="/img/logoinverso.png" alt="">
					</div>
					<div class="cabecera2">
						<h2>Comunícate con nosotros! </h2>
					</div>
				</div>

			</div>
			<div class="box1 contenidomodal1">
				<div id="alerta"></div>
				<label style="font-family: 'latobold_italic'; font-size: 17px; float: left;">Email:</label>
				<input type="email" id="emailSoporte" style="width: 100%; float: left; height: 35px; border: 1px solid #899a69; border-radius: 10px; padding: 0 10px;" placeholder="Ingrese su email">
				<label style="font-family: 'latobold_italic'; font-size: 17px; float: left;">Asunto:</label>
				<input type="text" id="asuntoSoporte" style="width: 100%; float: left; height: 35px; border: 1px solid #899a69; border-radius: 10px; padding: 0 10px;" placeholder="Ingrese su asunto">
				<label style="font-family: 'latobold_italic'; font-size: 17px; float: left;">Texto:</label>
				<textarea id="textoSoporte" style=" font-family: 'latobold_italic'; width: 100%; height: 200px; float: left; border: 1px solid #899a69; border-radius: 10px; padding: 10px 10px" placeholder="Texto de la consulta"></textarea>
				
				<a href="#"><button class="btn1" style="margin-top: 20px; float: left;">Cancelar</button></a>
				<button onclick="enviarMailSoporte()" type="button" class="btn1" style="margin-top: 20px; float: right;">Enviar</button>
			</div>
		</div>
	</div>
</div>

<div id="enlace" class="modal_mask">
				<div class="boxmiddle">
					<div class="box-modal modal1" style="overflow: scroll;">
						<div>
							<a href="#" class="cerrar">
								<img src="/img/cerrar.png" alt="">
							</a>
						</div>
						<div class="box1 contenidomodal1">
							<div class="box1 cabecera">
								<div class="cabecera1">
									<img src="/img/logoinverso.png" alt="">
								</div>
								<div class="cabecera2">
									<h2>Bases y condiciones </h2>
								</div>
							
							</div>
							
							<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Bases y condiciones legales Liberium</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;">
  <br>
  <br>
</p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES" ><strong>POLÍTICA DE PRIVACIDAD</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">La presente Política de Privacidad establece los términos en que Liberium usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su aplicación móvil o sistema web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo, esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página y prestar atención a las notificaciones que realicemos para asegurarse que está de acuerdo con dichos cambios.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Información que es recogida</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Nuestro sistema podrá recoger información personal brindada por usted, a saber: Nombre, fecha de nacimiento, información de contacto como su dirección de correo electrónico, número de teléfono e información demográfica o datos profesionales tales como número de matrícula, materia en la que se especializa, lugares donde litiga o actúa. Esta información incluye las que surjan de las interacciones que tengan con la aplicación o sistema y otros usuarios, tales como interacciones más frecuentes, junto con los demás meta datos que se generen. Asimismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación o acceder a servicios especiales o determinados.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Toda la información que se obtiene busca la mejora del servicio de justicia global, con lo que se utiliza la misma para desarrollar investigaciones científicas tendientes a estudiar el comportamiento humano en entornos jurídicos, la potenciación de la cooperación en general y la obtención de resultados judiciales o administrativos eficientes.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">En caso de que usted sea menor de edad en el país donde use esta aplicación deberá contar con el conocimiento, acompañamiento y consentimiento de sus padres o personas legalmente responsables conforme la legislación de su lugar de residencia. El cuidado del uso responsable corresponderá en forma directa al adulto o institución que haga uso de la plataforma de enlace.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Uso de la información recogida</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Nuestro sistema emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios. Es posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;">Liberium está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.<span style="background: #f9f9f9;">&nbsp;</span><span lang="es-ES">No se hace responsable ante caos de fuerzas de naturaleza mayor de tipo legal que lo involucren, como hackeos o suplantaciones.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;">Compartimos información de forma internacional ya que, por ejemplo, su información puede transferirse, transmitirse, o almacenarse y tratarse en otros países distintos de tu lugar de residencia, para las finalidades descritas en esta política.&nbsp;</p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Cookies</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las futuras visitas a una web recurrente. Otra función que tienen las cookies es que con ellas las web pueden reconocerle individualmente y por tanto brindarle el mejor servicio personalizado de su web.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Nuestra aplicación emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Información de los dispositivos</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Como se describe a continuación, recopilamos información de las computadoras, los teléfonos, los televisores conectados y otros dispositivos conectados a la web que usas y que se integran con nuestros Productos, y combinamos esta información entre los diferentes dispositivos que emplee. Por ejemplo, usamos la información que recopilamos sobre cómo usa nuestros Productos en su teléfono para personalizar mejor el contenido o para medir si realiza una acción en respuesta a una notificación recibida en tu teléfono o en otro dispositivo.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">La información que obtenemos de estos dispositivos incluye:&nbsp;</span></p>
<ul>
  <li>
    <p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><strong>Atributos del dispositivo:</strong><span lang="es-ES">&nbsp;incluye información como el sistema operativo, las versiones de hardware y software, el nivel de carga de la batería, la potencia de la señal, el espacio de almacenamiento disponible, el tipo de navegador, los tipos y nombres de aplicaciones y archivos, y los plugins.</span></p>
  </li>
  <li>
    <p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><strong>Operaciones del dispositivo:</strong><span lang="es-ES">&nbsp;información sobre las operaciones y los comportamientos realizados en el dispositivo, como poner una ventana en primer o segundo plano, o los movimientos del mouse (lo que permite distinguir a humanos de bots).</span></p>
  </li>
  <li>
    <p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><strong>Señales del dispositivo:</strong><span lang="es-ES">&nbsp;señales de Bluetooth e información sobre puntos de acceso a wifi, balizas ("beacons") y torres de telefonía celular cercanos.</span></p>
  </li>
  <li>
    <p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><strong>Datos de la configuración del dispositivo:</strong><span lang="es-ES">&nbsp;información que nos permites recibir mediante la configuración que activas en tu dispositivo, como el acceso a la ubicación de GPS, la cámara o las fotos.</span></p>
  </li>
  <li>
    <p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><strong>Red y conexiones:</strong><span lang="es-ES">&nbsp;información, como el nombre del operador de telefonía celular o proveedor de internet, el idioma, la zona horaria, el número de teléfono celular, la dirección IP, la velocidad de la conexión y, en algunos casos, información sobre otros dispositivos que se encuentran cerca o están en tu red.</span></p>
  </li>
  <li>
    <p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><strong>Datos de cookies:</strong><span lang="es-ES">&nbsp;datos provenientes de las cookies almacenadas en tu dispositivo, incluidos la configuración y los identificadores de cookies.&nbsp;</span></p>
  </li>
</ul>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Enlaces a Terceros</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Este sistema pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Control de su información personal</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestra aplicación, con conocimiento de que si se restringen datos esenciales para el funcionamiento del sistema es posible que no pueda utilizar algunos o todos nuestros servicios.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico. En caso de que haya marcado la opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier momento.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con una orden judicial.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Liberium se compromete a no tomar conocimiento de la información específica cargada por cada usuario relacionada con información privada del usuario y de los casos, salvo expresa autorización brindada por cada usuario a los efectos de sugerir mejoras en la gestión de sus causas o para los fines que se acuerden. Autorizo a liberium a tener acceso a los datos vinculados con mis agendamientos y cargas de causas a los fines de que liberium me brinde sugerencias de mejoramiento de mi gestión jurídica o al siguiente fin.....</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Liberium se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento, obligándose a dar oportuno aviso de dichas modificaciones.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Funciones de dispositivos</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;">El sistema requiere que permita acceso a la Cámara fotográfica del dispositivo móvil al efecto de tomar la foto de perfil, cargar imágenes de expedientes o fotos de causas específicas para la gestión jurídica.&nbsp;</p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Suspensiones y bloqueos</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Liberium hace reserva de suspender provisoriamente o bloquear la aplicación cuando exista un uso inadecuado o ilegal por parte del usuario, así como cuando existe una mora en el pago del servicio en caso de corresponder.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Liberium no se hace responsable por eventuales caídas o suspensiones del sistema, siendo responsabilidad de cada usuario hacer descargas periódicas de sus datos a modo de Backup o de usar otros medios de agendamiento en forma paralela a modo de respaldo. El usuario es completamente responsable frente a vencimientos de plazos, no asistencias a audiencias y demás actos procesales, ante dichas situaciones.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Liberium no se hace responsable por el uso de la plataforma para fines diferentes a la gestión jurídica, incluyendo usos ilegales o dañinos para terceras personas</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Responsabilidad por uso del sistema</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Liberium no se hace responsable de la veracidad, exactitud ni corrección de la información que cada usuario carga en el sistema.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Los plazos automáticos, parámetros, pasos procesales automáticos, modelos de escritos automáticos y agendamientos automáticos son meras sugerencias para el ejercicio profesional que en cualquier caso deben ser controladas y adecuadas por cada usuario de liberium. No se hace responsable Liberium de vencimientos de plazos, pasos procesales, escritos y agendamientos incorrectamente predefinidos. Cada usuario es responsable de dar aviso a liberium sobre la existencia de errores en las plantillas o cargas automáticas para su corrección por parte de liberium.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES"><strong>Condición de gratuidad</strong></span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;"><span lang="es-ES">Liberium se reserva el derecho de modificar en cualquier momento las condiciones de uso gratuito, estableciendo tarifas para el uso de parte o todo el sistema. En tal caso si el usuario no acepta esas nuevas modalidades liberium se obliga a entregar en forma inmediata toda la información cargada por el usuario en el sistema.</span></p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;">
  <br>&nbsp;
  <br>
  <br>
</p>
<p style="text-align: justify;background: transparent none repeat scroll 0% 0%;margin-bottom: 0.35cm;line-height: 115%;">
  <br>
  <br>
</p>
							
							</div>
							
						</div>
					</div>
					<!-- box-modal==== -->
				</div>
			
	
<footer class="footerlr">
	<hr style="color: white;">
	<p>Copyright 2019 © All Rights Reserved</p>
	<a href="mailto:hola@liberium.la" target="_blank">hola@liberium.la</a>
	
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
	<script src="/app/js/registro.js"></script>
	<script src="/app/js/diaNoLaboral.js"></script>
	<script type="text/javascript">


		function enviarMailSoporte() {
			var emailSoporte = $("#emailSoporte").val();
			var asuntoSoporte = $("#asuntoSoporte").val();
			var textoSoporte = $("#textoSoporte").val();
			
			$.ajax({
				url: '/api/usuario/enviar-mail-soporte?email=' + emailSoporte + '&asunto=' + asuntoSoporte + '&texto=' + textoSoporte,
				type : "POST",
				success : function(data){
					console.log(data)
					$("#alerta").empty().html('<div class="alert alert-info">'
					+ '<a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>'
					+ '<h4><i class="icon fa fa-ban"></i> Exito!</h4> Email enviado con exito.</div>').show();
				}, 
				error : function(data){
					if (data.status == 400) {
						$("#alerta").empty().html('<div class="alert alert-danger">'
						+ '<a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>'
						+ '<h4><i class="icon fa fa-ban"></i> Error!</h4> Datos necesarios incompletos.</div>').show();
					} else if (data.status == 403) {
						$("#alerta").empty().html('<div class="alert alert-danger">'
						+ '<a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>'
						+ '<h4><i class="icon fa fa-ban"></i> Error!</h4> Error al enviar el mail.</div>').show();
					} else {
						$("#alerta").empty().html('<div class="alert alert-danger">'
						+ '<a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>'
						+ '<h4><i class="icon fa fa-ban"></i> Error!</h4> Error inesperado.</div>').show()
					}
				}
			});
			
		}
		
		function verificarContrasenia() {
			var password = document.getElementById("password").value;
			
			var isValid = true;
				
			var mayuscula = false;
			var minuscula = false;
			var numero = false;
			var caracter_raro = false;
				
			for(var i = 0; i<password.length; i++){
				if(password.charCodeAt(i) >= 65 && password.charCodeAt(i) <= 90){
					mayuscula = true;
				}else if(password.charCodeAt(i) >= 97 && password.charCodeAt(i) <= 122){
					minuscula = true;
				}else if(password.charCodeAt(i) >= 48 && password.charCodeAt(i) <= 57){
						numero = true;
				}else{
					caracter_raro = true;
				}
			}
			if(mayuscula == false || minuscula == false || numero == false || caracter_raro == true){
				alert("La contraseña debe contener al menos 8 caracteres, una mayuscula, una minuscula y un numero");
			}
			console.log("PassOk");
		}

	  $(function () {
		    //Initialize Select2 Elements
		    $('.select2').select2();
	  });
	</script>
</footer>				

</div> <!-- #contenedor ==== -->
</div> <!-- #pantalla ==== -->

</body>
</html>	