<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<!-- Content Wrapper. Contains page content -->


		<div class="content-wrapper col-sm-11">
			<section class="content2">
				<div class="box1 sectionadmin">
					<h3>Roles</h3>
					<a href="#agregar"> <label for="btngreen" class="btngreen"
						onclick="resetFormulario();"
						sec:authorize="hasAuthority('EDITAR_ROL')"> <span>+
								Agregar </span> <img src="/dist/img/sumab.png" alt="Agregar">
					</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn"
									class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span> <input type="text" name="q" class="form-control"
								placeholder="Busque el rol solicitado">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<input th:if="${resultado} != null" type="hidden"
						th:value="${resultado}" id="resultado">
					<div id="alerta"></div>
				</div>
				<div class="box-usuarios">
					<div class="tabla table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<th style="width: 90%">Nombre</th>
									<th style="width: 10%">Acciones</th>
								</tr>


								<tr th:each="rol : ${page}">
									<td style="width: 90%"><p
											th:text="${rol.nombre == null ? '' : rol.nombre}"></p></td>
									<td style="width: 10%"><a href="#agregar"
										th:if="${rol.nombre != 'ABOGADO/ASOCIADO'}"
										th:objeto="${rol.id}" th:nombre="${rol.nombre}"
										th:isAbogado="${rol.abogado}"
										th:permisosUsuario="${rol.permisosJson}"
										onclick="editar(this)"
										sec:authorize="hasAuthority('EDITAR_ROL')"> <img
											src="/dist/img/tabla-02.png" alt="">
									</a> <a href="#eliminar"
										th:if="${rol.nombre != 'ABOGADO/ASOCIADO'}"
										th:objeto="${rol.id}" th:onclick="eliminarRol(this)"
										sec:authorize="hasAuthority('EDITAR_ROL')"> <img
											src="/dist/img/tabla-01.png" alt="">
									</a> <a href="#agregar" th:objeto="${rol.id}"
										th:nombre="${rol.nombre}" th:isAbogado="${rol.abogado}"
										th:permisosUsuario="${rol.permisosJson}"
										onclick="visualizar(this)"> <img
											src="/dist/img/tabla-03.png" alt="">
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:replace="fragments/paginador :: paginador">...</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- nuevo  -->
		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<div class="contenidomodal4">
						<form id="modalFormulario">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Nuevo Rol</h3>
											<p>Por favor, complete la siguiente información.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" onclick="resetFormulario();" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<input type="hidden" class="form-control" name="id" id="id">

								<label for="">Nombre</label> <input type="text"
									class="form-control" name="nombre" id="nombre"> <label
									for="">¿Es Abogado?</label>
								<div>
									<div class="box1 checkregister">
										<label class="containerb"> <input type="checkbox"
											id="isAbogado" name="isAbogado"> <span
											class="checkmarkb"></span>
										</label>
										<p>Es Abogado</p>
									</div>
								</div>
								<div id="divPermisos">
									<label>Permisos</label>
									<div>
										<div class="box1 checkregister">
											<label class="containerb"> <input type="checkbox"
												id="seleccionarTodos"> <span class="checkmarkb"></span>
											</label>
											<p id="textoSeleccionar">Seleccionar Todos</p>
										</div>
									</div>
									<div th:each="permiso : ${permisos}">
										<div id="${permiso}" class="box1 checkregister">
											<label class="containerb"> <input type="checkbox"
												class="permisos" name="permisos" th:id="${permiso.id}">
												<span class="checkmarkb"></span>
											</label>
											<p th:text="${permiso.nombreAmigable}"></p>
										</div>
									</div>
								</div>
							</div>
							<button type="button" class="btn btn-secondary"
								onclick="guardar()" id="modalBtnGuardar">Guardar</button>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar el rol? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/roles.js"></script>
</body>
</html>
