<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>

		<div class="content-wrapper col-sm-11">
			<section class="content2">

				<div class="box1 sectionadmin">
					<h3>Tipo de causa</h3>
					<a href="#agregar">
						<label for="btngreen" class="btngreen" sec:authorize="hasAuthority('EDITAR_TIPO_DE_CAUSAS')">
							<span>+ Agregar </span>
							<img src="/dist/img/sumab.png" alt="Agregar">
						</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn" class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span>
							<input type="text" name="q" class="form-control" placeholder="Busque el tipo de causa solicitado">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
					<div id="alerta"></div>
					<input th:if="${resultado} != null"type="hidden" th:value="${resultado}" id="resultado">
					<div class="dependencia" th:each="tipo : ${page}">
						<div class="box1">
							<h4 th:text="${tipo.nombre}" th:objeto="${tipo.id}" th:nombre="${tipo.nombre}" onclick="modificarTipo(this)"></h4>
							<ul class="trespuntos" sec:authorize="hasAuthority('EDITAR_TIPO_DE_CAUSAS')">
								<li class="dropdown user user-menu trespuntosli">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<div class="">
											<img src="/dist/img/3puntos.png" alt="">
										</div>
									</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li>
											<a href="#editar" th:objeto="${tipo.id}" th:nombre="${tipo.nombre}" th:materia="${tipo.materia.id}" onclick="modificarTipo(this)">
												<img src="/dist/img/imgmodal-04.png" alt="">
												<p>Editar</p>
											</a>
										</li>
										<hr>
										<li>
											<a href="#eliminar" th:objeto="${tipo.id}" th:onclick="eliminarTipo(this)">
												<img src="/dist/img/iconomenu-01.png" alt="">
												<p>Eliminar</p>
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<hr>
						<div class="box1">
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Tipo de causa</p>
									<p class="dpp2" th:text="${tipo.nombre == null ? '' : tipo.nombre}"></p>
								</div>
							</div>
							<div class="anchomedio">
								<div class="datosparametros">
									<p class="dpp1">Materia</p>
									<p class="dpp2" th:text="${tipo.materia.nombre == null ? '' : tipo.materia.nombre}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
		<div th:replace="fragments/paginador :: paginador">...</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->


		<div id="agregar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Nuevo tipo de causa</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg">
									<img src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<input type="hidden" class="form-control" name="id">

							<label for="">Nombre</label>
							<input type="text" class="form-control" name="nombre" id="nombre">
							<label for="">Materia a la que corresponda</label> 
							<select class="form-control select2" name="materiaId" id="materia" data-placeholder="Seleccione materia" style="width: 100%">
								<option selected disabled value="default">Seleccione una opcion</option>
								<option th:each="materia : ${materias}" th:text="${materia.nombre}" th:value="${materia.id}"></option>
							</select>
							
						</div>
						<button type="button" class="btn btn-secondary" onclick="guardarTipo()" id="modalBtnGuardar">Guardar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		
		<div id="editar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormularioEditar">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<h3>Editar tipo de causa</h3>
										<p>Por favor, complete la siguiente información.</p>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg">
									<img src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<div class="box1 agregarinfo2">
							<input type="hidden" class="form-control" id="modalEditarId" name="id">

							<label for="">Nombre</label>
							<input type="text" class="form-control" id="modalEditarNombre" name="nombre">
							<label for="">Materia a la que corresponda</label> 
							<select class="form-control select2" name="materiaId" id="modalEditarMateria" data-placeholder="Seleccione materia" style="width: 100%">
								<option hidden="" selected="selected" disabled="disabled">Seleccione una opcion</option>
								<option th:each="materia : ${materias}" th:text="${materia.nombre}" th:value="${materia.id}"></option>
							</select>
							
						</div>
						<button type="button" class="btn btn-secondary" onclick="editarTipo()" id="modalBtnGuardar">Guardar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId" name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar el tipo de causa? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg">
									<img src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary" onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/tipoCausa.js"></script>
</body>
</html>
