<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>LIBERIUM</title>
	<link rel="stylesheet" href="/dist/css/landingTyC.css" type="text/css">
</head>

<body class="fondoejemplo">
	
<div id="pantalla">
<div id="contenedor">

<header>
	<nav>
		<div class="boxlogo"><a href="index.html"><img src="/img/logoliberiumblanco-01.png" alt=""></a></div>
	</nav>
</header>

<section class="positioninicio">

	<div class="middlebox">
		
		<a href="#modal1" style="text-align: center; width: 100%; float: left; margin-bottom:30px;">ENLACE DE PRUEBA</a>

		<a href="#modal7" style="text-align: center; width: 100%; float: left;">ENLACE DE PRUEBA 2</a>

	</div>

</section>
	
<footer>

</footer>	

<div id="modal1" class="modal_mask">
    <div class="boxmiddle">
       <div class="box-modal modal1">
	      <div>
	        <a href="#" class="cerrar"><img src="/img/cerrar.png" alt=""></a>
	      </div>
	      <div class="box1 contenidomodal1">
		      <div class="box1 cabecera">
		        <div class="cabecera1"><img src="/img/logoinverso.png" alt=""></div>
		        <div class="cabecera2">
		        	<h2>Solicitud de Turno</h2>
		        	<p>Seleccione alguna de las opciones y realice su consulta.</p>
		        </div>
		      </div>
		      <div class="box1">
		        <div class="opcionmodal">
		        	<h4 style="color: #899a69; margin-right:10px;">Opción 1 |</h4>
		        	<h4>Poné los datos de tu abogada o abogado. </h4>
		        </div>
		        <div class="box1" style="margin-bottom:20px;">
		        	<input type="text" placeholder="Nombre y Apellido" class="margininputopcion" id="nombreAbogado" name="nombre"/>
		        	<a href="#modal3"><button class="btn1" onclick="traerAbogados()">Buscar</button></a>
		        </div>
		      </div>
		      <div class="box1">
		        <div class="opcionmodal">
		        	<h4 style="color: #899a69; margin-right:10px;">Opción 2 |</h4>
		        	<h4>Seleccioná tu zona y materia </h4>
		        </div>
		        <div class="box1" style="margin-bottom:20px;">
		        	<select name="" id="" class="marginselectopcion1">
		        		<option value="">Mendoza</option>
		        	</select>
		        	<select name="" id="" class="marginselectopcion2">
		        		<option value="">Especialidad</option>
		        	</select>
		        	<a href="#modal3"><button class="btn1">Buscar</button></a>
		        </div>
		      </div>
		      <div class="box1">
		      	<textarea name="" id="" cols="30" rows="10" placeholder="Motivo de la consulta" class="textareaopcion"></textarea>
		      </div>
		    </div>
	    </div><!-- box-modal==== -->
    </div>
</div>

<div id="modal2" class="modal_mask">
    <div class="boxmiddle">
       <div class="box-modal modal2">
	      <div>
	        <a href="#" class="cerrar"><img src="/img/cerrar.png" alt=""></a>
	      </div>
	      <div class="box1 contenidomodal2">
		      <div class="box1 cabecerab">
		        <div class="cabecera1"><img src="/img/logoinverso.png" alt=""></div>
		        <div class="cabecera2">
		        	<h2 style="padding-top:5px;">Ups!</h2>
		        </div>
		      </div>
		      <div class="box1 paddingl">
		        <p>Lo siento, su abogado no está registrado en <span>Liberium</span>.</p>
		        <p>Vuelva a probar con alguna de nuestras <span>opciones</span>.</p>
		      </div>
		    </div>
		    <a href="#modal1"><button class="btn1">Volver</button></a>
	    </div><!-- box-modal==== -->
    </div>
</div>

<div id="modal3" class="modal_mask">
    <div class="boxmiddle">
       <div class="box-modal modal3">
	      <div>
	        <a href="#" class="cerrar"><img src="/img/cerrar.png" alt=""></a>
	      </div>
	      <div class="box1 contenidomodal6">
		      <div class="box1 cabecerab">
		        <div class="cabecera1"><img src="/img/logoinverso.png" alt=""></div>
		        <div class="cabecera2">
		        	<h2 style="padding-top:5px;">Seleccione su Abogado!</h2>
		        </div>
		      </div>
		      <div class="box1 boxlista">
		      	<div id="abogados" class="lista">
<!-- 		      		<div class="boxabogados fondoabogado1"> -->
<!-- 			      		<label class="containerc"> -->
<!-- 				        	<div  class="abogado"> -->
<!-- 				        	<div th:each="abogado : ${abogados}" class="abogado"> -->
<!-- 				        		<div class="boxabogado"><img src="/img/abogado.png" alt=""></div> -->
<!-- 				        		<div class="datosabogado"> -->
<!-- 				        			<h4><span th:text="${abogado.nombre}"></span></h4> -->
<!-- 				        			<p>Zona: <span th:text="${abogado.usuario.provincia.nombre}"></span></p> -->
<!-- 				        			<p>Especialidad: <span th:text="${abogado.materia}"></span></p> -->
<!-- 				        		</div> -->
<!-- 				        	</div> -->
<!-- 				        	</div> -->
<!-- 						  <input type="checkbox" name="radio"> -->
<!-- 						  <span class="checkmark tr1"></span> -->
<!-- 						</label> -->
<!-- 			      	</div> -->
		      	</div>
		      </div>
		    </div>
		    <a href="#modal4"><button class="btn1">Confirmar</button></a>
	    </div><!-- box-modal==== -->
    </div>
</div>

<div id="modal4" class="modal_mask">
    <div class="boxmiddle">
       <div class="box-modal modal7">
	      <div>
	        <a href="#" class="cerrar"><img src="/img/cerrar.png" alt=""></a>
	      </div>
	      <div class="box1 contenidomodal6">
		      <div class="box1 cabecera">
		        <div class="cabecera1"><img src="/img/logoinverso.png" alt=""></div>
		        <div class="cabecera2">
		        	<h2>Seleccione su fecha</h2>
		        	<p>Elige el día y horario para su turno.</p>
		        </div>
		      </div>
		      <div class="box1 calendariopersonal">
		      	<h4>Calendario | <span>Dr. Nombre Apellido</span></h4> 
		        <div class="mescalendario">
		        	<img src="/img/arrowc-01.png" alt="">
		        	<p>Febrero 21 - 27</p>
		        	<img src="/img/arrowc-02.png" alt="">
		        </div>
		      </div>
		      <div class="box1 tablaresponsive">
		      	<div class="cursocalendario">
					<div class="columnahoras">
						<div class="celdafecha"></div>
						<div class="celdahoras2"><p>7 AM</p></div>
						<div class="celdahoras2"><p>8 AM</p></div>
						<div class="celdahoras2"><p>9 AM</p></div>
						<div class="celdahoras2"><p>10 AM</p></div>
						<div class="celdahoras2"><p>11 AM</p></div>
						<div class="celdahoras2"><p>12 AM</p></div>
						<div class="celdahoras2"><p>13 PM</p></div>
						<div class="celdahoras2"><p>14 PM</p></div>
						<div class="celdahoras2"><p>15 PM</p></div>
						<div class="celdahoras2"><p>16 PM</p></div>
						<div class="celdahoras2"><p>17 PM</p></div>
					</div>
					<div class="tablacalendario">
						<div class="columnadias">
							<div class="celdafecha"><h4>DOM</h4><h3>21</h3></div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
						</div>
						<div class="columnadias">
							<div class="celdafecha"><h4>LUN</h4><h3>22</h3></div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
						</div>
						<div class="columnadias">
							<div class="celdafecha celdaactiva"><h4>MAR</h4><h3>23</h3></div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
						</div>
						<div class="columnadias">
							<div class="celdafecha"><h4>MIE</h4><h3>24</h3></div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
						</div>
						<div class="columnadias">
							<div class="celdafecha"><h4>JUE</h4><h3>25</h3></div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
						</div>
						<div class="columnadias">
							<div class="celdafecha"><h4>VIE</h4><h3>26</h3></div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
						</div>
						<div class="columnadias">
							<div class="celdafecha"><h4>SAB</h4><h3>27</h3></div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tdisponible">Turno Disponible</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
							<div class="celda1hora tocupado">Turno Ocupado</div>
						</div>
					</div>
				</div>
		      </div>
		      <div class="box1">
		      	<div class="buttonmiddle">
		      		<a href="#modal3"><button class="btn1">Volver</button></a>
		      		<a href="#modal5"><button class="btn1">Siguiente</button></a>
		      	</div>
		      </div>
		    </div>
	    </div><!-- box-modal==== -->
    </div>
</div>

<div id="modal5" class="modal_mask">
    <div class="boxmiddle">
       <div class="box-modal modal4">
	      <div>
	        <a href="#" class="cerrar"><img src="/img/cerrar.png" alt=""></a>
	      </div>
	      <div class="box1 contenidomodal3">
		      <div class="box1 cabecerab">
		        <div class="cabecera1"><img src="/img/logoinverso.png" alt=""></div>
		        <div class="cabecera2">
		        	<h2 style="padding-top:5px;">Turno Solicitado</h2>
		        </div>
		      </div>
		      <div class="box1">
		        <p style="margin-top:4px;">El turno con el Abogado </p>
		        <h3>Dr. Nombre Apellido</h3>
		        <p style="margin-bottom:17px;">es de: <span class="span1">$00.00</span></p>
		        <p>E-mail: <span>correoabogado@gmail.com</span></p>
		        <p style="margin-bottom:13px;">Teléfono: <span>155-55-55-55</span></p>
		      </div>
		    </div>
		    <div class="box1">
		    	<div class="buttonmiddle">
		    		<a href="#modal4"><button class="btn1">Volver</button></a>
		   			<a href="#modal6"><button class="btn1">Confirmar</button></a>
		    	</div>
		    </div>
	    </div><!-- box-modal==== -->
    </div>
</div>

<div id="modal6" class="modal_mask">
    <div class="boxmiddle">
       <div class="box-modal modal4">
	      <div>
	        <a href="#" class="cerrar"><img src="/img/cerrar.png" alt=""></a>
	      </div>
	      <div class="box1 contenidomodal2">
		      <div class="box1 cabecerab">
		        <div class="cabecera1"><img src="/img/logoinverso.png" alt=""></div>
		        <div class="cabecera2">
		        	<h2 style="padding-top:5px;">Turno Confirmado!</h2>
		        </div>
		      </div>
		      <div class="box1 paddingl">
		        <p>Su turno es el <span>Miércoles 23 de Febrer</span>o a las <span>09:00 hs</span> con el Abogado <span>Dr. Nombre Apellido</span> en el <span>Juzgado Nombre</span>.</p>
		        <p>El precio de su consulta a abonar es de <span>$00.00</span>. Pague ahora y obtenga un 20% de descuento.</p>
		      </div>
		    </div>
		    <div class="box1">
		    	<a href="#"><button class="btn1">Pagar</button></a>
		    </div>
	    </div><!-- box-modal==== -->
    </div>
</div>

<div id="modal7" class="modal_mask">
    <div class="boxmiddle">
       <div class="box-modal modal5">
	      <div>
	        <a href="#" class="cerrar"><img src="/img/cerrar.png" alt=""></a>
	      </div>
	      <div class="box1 contenidomodal4">
		      <div class="box1 cabecerab">
		        <div class="cabecera1"><img src="/img/logoinverso.png" alt=""></div>
		        <div class="cabecera2">
		        	<h2>Consulta Online</h2>
		        	<p>Por favor, complete la siguiente información.</p>
		        </div>
		      </div>
		      <div class="box1 boxcheck ancho100">
		        <p>Sexo:</p>
		        <label class="containerc">
		        	Hombre
				  <input type="checkbox" name="radio">
				  <span class="checkmark tr1"></span>
				</label>
				<label class="containerc">
		        	Mujer
				  <input type="checkbox" name="radio">
				  <span class="checkmark tr1"></span>
				</label>
				<label class="containerc">
		        	Otro
				  <input type="checkbox" name="radio">
				  <span class="checkmark tr1"></span>
				</label>
		        		
		      </div>
		    </div>
		    <div class="box1 cuestionario">
		    	<div class="box1">
		    		<div class="ancho50">
		    			<label for="">Nombre</label>
		    			<input type="text">
		    		</div>
		    		<div class="ancho50">
			    		<label for="">Apellido</label>
			    		<input type="text">
		    		</div>
		    	</div>
		    	<div class="box1">
		    		<div class="ancho40">
			    		<label for="">DNI/NNN/NNN</label>
			    		<input type="text">
		    		</div>
		    		<div class="ancho40">
			    		<label for="">Fecha de Nacimiento</label>
			    		<input type="text" placeholder="dd/mm/aaaa">
		    		</div>
		    		<div class="ancho20">
			    		<label for="">Edad</label>
			    		<input type="text">
		    		</div>
		    	</div>
		    	<div class="box1">
		    		<div class="ancho60">
			    		<label for="">Dirección</label>
			    		<input type="text">
		    		</div>
		    		<div class="ancho40">
			    		<label for="">Localidad</label>
			    		<input type="text">
		    		</div>
		    	</div>
		    	<div class="box1">
		    		<div class="ancho50">
			    		<label for="">E-mail</label>
			    		<input type="text">
		    		</div>
		    		<div class="ancho50">
			    		<label for="">Teléfono</label>
			    		<input type="text">
		    		</div>
		    	</div>
		    	<div class="box1 ancho100">
		    		<label for="">Seleccione el tipo de causa:</label>
		    		<select name="" id="">
		    			<option value=""></option>
		    		</select>
		    	</div>
		    </div>
		    <a href="#modal8"><button class="btn1">Siguiente</button></a>
	    </div><!-- box-modal==== -->
    </div>
</div>

<div id="modal8" class="modal_mask">
    <div class="boxmiddle">
       <div class="box-modal modal5">
	      <div>
	        <a href="#" class="cerrar"><img src="/img/cerrar.png" alt=""></a>
	      </div>
	      <div class="box1 contenidomodal4">
		      <div class="box1 cabecerab">
		        <div class="cabecera1"><img src="/img/logoinverso.png" alt=""></div>
		        <div class="cabecera2">
		        	<h2 style="padding-top:5px;">Causa: <span>Accidente Laboral</span></h2>
		        </div>
		      </div>
		  </div>
		    <div class="box1 cuestionario cuestionariob">
		        <label for="">¿Para qué empresa o persona/s Trabaja o Trabajó?</label>
		    	<input type="text">
		    	<label for="">¿El contrantante tenía vínculo con otra empresa o persona?</label>
		    	<input type="text">
		    	<label for="">¿Cuándo empezó a trabajar?</label>
		    	<input type="text">
		    	<label for="">Completar en caso de querer agregar algún dato más</label>
		    	<textarea name="" id="" cols="30" rows="10" class="textareaopcion"></textarea>
		    	<p>100 carácteres</p>
		    </div>
		    <a href="#modal9"><button class="btn1">Enviar</button></a>
	    </div><!-- box-modal==== -->
    </div>
</div>

<div id="modal9" class="modal_mask">
    <div class="boxmiddle">
       <div class="box-modal modal6">
	      <div>
	        <a href="#" class="cerrar"><img src="/img/cerrar.png" alt=""></a>
	      </div>
	      <div class="box1 contenidomodal5 barraultima">
		      <div class="box1 cabecerab">
		        <div class="cabecera1"><img src="/img/logoinverso.png" alt=""></div>
		        <div class="cabecera2">
		        	<h2 style="padding-top:5px;">Gracias!</h2>
		        	<p>Su consulta online fue realizada con éxito.</p>
		        </div>
		      </div>
		      <div class="box1">
		        <p>El turno con el Abogado</p>
		        <h3 style="margin:7px 0;">Dr. Nombre Apellido</h3>
		        <p style="max-width: 365px; margin-bottom: 15px;">Lo espera el día Miércoles <span>18/05/2018</span>  a las <span>18:00hs</span>  en el estudio de la calle <span>xxxxxxxxxxxxxxxxx</span> a fin de:</p>
		        <div class="textosb">
			        <p><span>•</span> Firmar Poder y convenio de honorarios (el 20% del total que perciba el trabajador al momento en que este cobre).</p>
					<p><span>•</span> Retiro de telegramas.</p> 
					<p><span>•</span> Llevar toda la documentación original entregada por la ART, la Superintendencia de Riesgos del Trabajo y médicos y demás profesionales de la salud particulares o de obra social (con tres copias).</p>
					<p><span>•</span> Todos los estudios médicos o de otras áreas de la salud disponibles.</p>
					<p><span>•</span> Llevar los últimos 6 bonos de sueldo en caso de contar con ellos (con tres copias).</p>
					<p><span>•</span> Llevar Nombre completo, DNI, Domicilio y teléfono de testigos (preferentemente no menos de tres o cuatro) que puedan acreditar el inicio de la relación laboral y/o la existencia de la relación laboral y/o tareas que cumplía y/o existencia del accidente (preferentemente que hayan presenciado el hecho), y/o secuelas</p>	
		        </div>
		        <div style="margin-bottom: 25px;">
					<p>La consulta es <span>sin cargo</span>.</p>
					<p>En caso de no poder asistir ese día por favor avisar al mail <span>xxxxxx</span>
					o al teléfono <span>(0261) 4242936</span> de lunes a viernes de 18 a 20 hs.</p>
				</div>
		      </div>
		    </div>
		    <a href="#"><button class="btn1">Descargar Formulario</button></a>
	    </div><!-- box-modal==== -->
    </div>
</div>

		<div th:replace="fragments/footer :: footer">...</div>
</div> <!-- #contenedor ==== -->
</div> <!-- #pantalla ==== -->

</body>
	<script src="/app/js/turnos.js"></script>
</html>