<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menu :: menu">...</div>
		
		<!-- Content Wrapper. Contains page content -->
	

		<div class="content-wrapper col-sm-11">		
			<section class="content2">
				<div class="box1 sectionadmin">
					<h3>Usuarios</h3>
					<a href="#agregar" sec:authorize="hasAuthority('EDITAR_USUARIOS')">
						<label for="btngreen" class="btngreen" onclick="resetFormulario();cambiarNombre()">
							<span>+ Agregar </span>
							<img src="/dist/img/sumab.png" alt="Agregar">
						</label>
					</a>
					<form action="#" method="get" class="sidebar-form2">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn" class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span>
							<input type="text" name="q" class="form-control" placeholder="Busque el miembro solicitado">
						</div>
					</form>
					<hr>
				</div>
				<div class="box1">
				<input th:if="${resultado} != null"type="hidden" th:value="${resultado}" id="resultado">
					<div id="alerta"></div>
				</div>
				<div class="box-usuarios">
          <div class="tabla table-responsive" >
            <table class="table">
              <tbody>
                <tr>
                  <th class="columna3">Apellido y Nombre</th>
                  <th class="columna3">E-mail</th>
                  <th class="columna3">Tipo de miembro</th>
                  <th class="columna3">Antigüedad</th>
                  <th class="columna2">Acciones</th>
                </tr>
                

                <tr th:each="usuario : ${page}">
                  <td><p th:text="${usuario.nombre == null ? '' : usuario.nombre}"></p></td>
                  <td><p th:text="${usuario.email == null ? '' : usuario.email}"></p></td>
                  <td><p th:text="${usuario.tipoUsuario == null ? '' : usuario.tipoUsuario.texto}"></p></td>
                  <td><p th:text="${usuario.creado == null ? '' : (actualidad) - (usuario.creado.year+1900)}"></p></td>
                  <td>
                  	<a href="#agregar" th:objeto="${usuario.id}" th:nombre="${usuario.nombre}" th:mail="${usuario.email}"
                  	 th:tipoUsuario="${usuario.tipoUsuario}" th:permisosUsuario="${usuario.permisosJson}" onclick="editar(this)" sec:authorize="hasAuthority('EDITAR_USUARIOS')">
						<img src="/dist/img/tabla-02.png" alt="">
					</a>
					
					<a href="#eliminar" th:objeto="${usuario.id}" th:onclick="eliminarUsuario(this)" sec:authorize="hasAuthority('EDITAR_USUARIOS')">
						<img src="/dist/img/tabla-01.png" alt="">
					</a>
					<a href="#agregar" th:objeto="${usuario.id}" th:nombre="${usuario.nombre}" th:mail="${usuario.email}" th:tipoUsuario="${usuario.tipoUsuario}" th:permisosUsuario="${usuario.permisosJson}" onclick="visualizar(this)">
						<img src="/dist/img/tabla-03.png" alt="">
					</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
				<div th:replace="fragments/paginador :: paginador">...</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

			<!-- nuevo  -->
		
		<div id="agregar" class="modal_mask">
		  <div class="boxmiddle">
		     <div class="box-modal box-modal4">
		     <div id="modalAlerta"></div>
		      <div class="contenidomodal4">
				<form id="modalFormulario">
		        <div class="box1">
		          <div class="cabeceramodal">
		            <div class="tituloplaca">
		              <img src="/dist/img/logoinverso.png" alt="">
		              <div class="textotituloplaca">
		                <h3 id="tituloModal"></h3>
		                <p>Por favor, complete la siguiente información.</p>
		              </div>
		            </div>
		            <a href="#" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" onclick="resetFormulario();" alt=""></a>
		          </div>
		        </div>
		        <div class="box1 agregarinfo2">
		           <input type="hidden" class="form-control" name="id" id="id">
		
				  <label for="">Nombre</label>
				  <input type="text" class="form-control" name="nombre" id="nombre">
				  <label for="">Email</label>
				  <input type="text" class="form-control" name="mail" id="mail">
				  <label for="">Tipo de miembro</label>
				  <select class="form-control select2" name="tipoUsuario" id="tipoUsuario" onChange="activarPermisos();" style="width: 100%">
				  	<option style="display:none" disabled="disabled" selected="selected"> Seleccione un tipo de miembro</option>
		            <option th:if="${tipoUsuario.texto != 'Usuario'}" th:each="tipoUsuario : ${tiposUsuario}"
		                    th:value="${tipoUsuario}"
		                    th:text="${tipoUsuario.texto}">      
		            </option>
				  </select>
				 <div id="divPermisos" style="display:none;">
					<label>Permisos</label>
					 <div th:each="permiso : ${permisos}">
						<div id="${permiso}" class="box1 checkregister">
							<label class="containerb"> 
								<input type="checkbox" name="permisos" th:id="${permiso.id}" > 
								<span class="checkmarkb"></span> 
							</label>
							<p th:text="${permiso.nombreAmigable}"></p>
						</div>
					</div>				 
				 </div> 
		        </div>
					<button type="button" sec:authorize="hasAuthority('EDITAR_USUARIOS')" class="btn btn-secondary" onclick="guardar()" id="modalBtnGuardar">Guardar</button>
		        </form>
		      </div>
		    </div><!-- box-modal==== -->
		  </div>
		</div>
		
		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="modalFormulario">
						<input type="hidden" class="form-control" id="modalEliminarId" name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar el miembro? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg">
									<img src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" sec:authorize="hasAuthority('EDITAR_USUARIOS')" class="btn btn-secondary" onclick="eliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>

		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<script src="/app/js/usuario.js"></script>
</body>
</html>
