<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <div th:replace="fragments/header :: header">...</div>
  <div th:replace="fragments/menu :: menu">...</div>
  
  <div class="content-wrapper">
    <section class="content2">
      <div class="box1 sectionadmin">
        <h3>Dependencias</h3>
        <label for="btngreen" class="btngreen" data-toggle="modal" data-target="#nuevaDependencia">+ Agregar</label>
        <form action="#" method="get" class="sidebar-form2">
          <div class="input-group">  
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
            <input type="text" name="q" class="form-control" placeholder="Realice su búsqueda...">
          </div>
        </form>
      </div>
	      <div class="box1" th:each="usuario : ${page}">
	         <div class="dependencia" >
	          <div class="box1">
	            <h4 th:text="${usuario.nombre}"></h4>
	            <ul class="trespuntos">
	              <li class="dropdown user user-menu trespuntosli">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
	                  <div class="">
	                      <img src="/dist/img/3puntos.png" alt="">
	                  </div>
	                </a>
	                <ul class="dropdown-menu trespuntosmenu">
	                  <li>
	                    <a href="#"><img src="/dist/img/imgmodal-04.png" alt=""><p>Editar</p></a>
	                  </li>
	                  <hr>
	                  <li>
	                    <a href="#"><img src="/dist/img/iconomenu-02.png" alt=""><p>Clonar</p></a>
	                  </li>
	                  <hr>
	                  <li>
	                    <a href="#eliminar"><img src="/dist/img/iconomenu-01.png" alt=""><p>Elminar</p></a>
	                  </li>
	                </ul>
	              </li>
	            </ul>
	          </div>
	          <hr>
	          <div class="box1">
	            <div class="anchomedio">
	              <div class="datosparametros">
	                <p class="dpp1">Usuario</p>
	                <p class="dpp2" th:text="${usuario.nombre == '' ? '' : usuario.nombre}"></p>
	              </div>
	            </div>
	            <div class="anchomedio">
	              <div class="datosparametros">
	                <p class="dpp1">Email</p>
	                <p class="dpp2" th:text="${usuario.email == '' ? '' : usuario.email}"></p>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	 <button type="button" class="btn btn-default" >
                Launch Default Modal
              </button>
		
    </section>
    <!-- /.content -->
  </div>
  
  <div class="modal fade" id="nuevaDependencia">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <div class="cabeceramodal">
			            <div class="tituloplaca">
			              <img src="/dist/img/logoinverso.png" alt="">
			              <div class="textotituloplaca">
			                <h3>Nueva Dependencia</h3>
			                <p>Por favor, complete la siguiente información.</p>
			              </div>
			            </div>
			            <a href="#eliminar" class="cerrarmodalimg"><img src="/dist/img/cerrar.png" alt=""></a>
			          </div>
              </div>
              <div class="modal-body">
              	 	<div class="box1 agregarinfo2">
			           <label for="">Nombre</label>
			           <input type="text" id="nombre" th:field=*{nombre}> 
			           <label for="">Email</label>
			           <input type="text" id="email" th:field=*{email}>
			           <label for="">Password</label>
			           <input type="password" id="password" th:field=*{password}>
			        </div>
              </div>
              <div class="modal-footer">
                <a href="#"><button>Guardar</button></a>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
		<div id="eliminar" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal2">
					<div class="box1">
						<h2>Eliminar selección</h2>
						<p>¿Estás seguro que desea borrar este elemento?</p>
					</div>
					<div class="contbtnmodal2">
						<a href="#"><button>Confirmar</button></a> <a href="#"><button>Cancelar</button></a>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<div th:replace="fragments/footer :: footer">...</div>
<script src="/app/js/comboAnidado.js"></script>
<script src="/app/js/dependencia.js"></script>
</div>
</body>
</html>
