
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>LIBERIUM</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
<!-- Morris chart -->
<link rel="stylesheet" href="/bower_components/morris.js/morris.css">
<!-- jvectormap -->
<link rel="stylesheet"
	href="/bower_components/jvectormap/jquery-jvectormap.css">
<!-- Date Picker -->
<link rel="stylesheet"
	href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- Daterange picker -->
<link rel="stylesheet"
	href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet"
	href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<link rel="stylesheet" href="/dist/css/AdminLTE.css">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/header :: header">...</div>
		<div th:replace="fragments/menuUsuario :: menuUsuario">...</div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<input type="hidden" id="idCausa" name="id" th:value="${causa.id}">
			<!-- Main content -->
			<section class="content">
				<div class="box1">
				<div class="elementocausa">
				<input type="hidden" id="idCausa" name="id" th:value="${causa.id}">
							<div class="cabeceraec">
								<div class="cabeceraec1">
									<img src="/dist/img/logoinverso.png" alt="">
								</div>
								<div class="cabeceraec2">
									<h3 class="inputCausa" th:text="${causa.actor}"></h3>
									<p class="inputCausa" style="width: 2%; height: 20px;">c/</p>
									<h3 class="inputCausa" style="margin-left: 2%;" th:text="${causa.demandado}"></h3>
									<a href="/administracion/causa/listado"><button class="btngreen">Volver</button></a>
									<hr>
								</div>
							</div>

							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<input disabled="disabled" placeholder="Nombre y Apellido"
											th:value="${causa.nombre}">
									</div>
								</div>
							</div>
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<div th:if="${causa.instancia != null}">
												<input disabled="disabled" th:value="${causa.instancia.nombre}">
										</div>
									</div>
								</div>
							</div>
								<div>
							<div class="anchomedio">
								<div class="datocausa">
										<input disabled="disabled"  th:value="${causa.fuero}" >
								</div>
							</div>
						</div>
						<div>
							<div class="anchomedio">
								<div class="datocausa">
										<input disabled="disabled" th:if="${causa.provincia != null}" th:value="${causa.provincia.nombre}">
								</div>
							</div>
						</div>
							<div>
								<div class="anchomedio">
									<div class="datocausa">
											<input disabled="disabled" id="tipoCausa" th:value="${causa.tipoCausa.nombre}">
									</div>
								</div>
							</div>
							<div>
								<div class="anchomedio">
									<div class="datocausa">
										<input disabled="disabled" th:if="${causa.juzgadoOficina != null}"  
											th:value="${causa.juzgadoOficina.nombre}">
									</div>
								</div>
							</div>
							<div>
								<div class="box1 box collapsed-box">
									<div class="datocausa">
										<p>Causas Vinculadas</p>
										<div class="box-tools">
											<img src="/dist/img/arrow.jpg" alt="" style="width: 3%;" class="btn-box-tool"
												data-widget="collapse">
										</div>
									</div>
									<div class="box-body">
										<p>Causa Vinculada</p>
									</div>

									<div th:if="${consulta != null}">
										<input type="hidden" id="idCausaConsulta"
											th:value="${causa.id}">
										<div class="anchomedio">
											<div class="datocausa">
												<p style="float: right; margin-right: 25px;">
													Consulta Causa <a onclick="eliminarConsulta()"
														style="float: right;"> <img
														src="/dist/img/basurero.png" alt="">
													</a>
												</p>
											</div>
										</div>
									</div>
									<div>
								
							</div>

									<div th:if="${consulta == null}" style="margin-left: 275px;">
										<div class="anchomedio">
											<div class="datocausa">
												<select class="form-control" name="idConsulta"
													data-placeholder="Seleccione una consulta"
													style="width: 100%">
													<option selected="selected" disabled="disabled">Consulta</option>
													<option th:each="consulta : ${consultas}"
														th:text="${consulta.mail}" th:value="${consulta.id}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="anchomedio">
										<div class="datocausa">
											<input disabled="disabled" id="tipoChecklist" th:value="${causa.rol}">
										</div>
									</div>
								</div>
							</div>
						</div>



					<div class="elementocausa">
						<div class="box1">
							<div class="anchomedio">
								<div class="datocausa">
									<p id="nombreCheck"  th:text="${checklist.nombre}"></p>
								</div>
							</div>
							<ul class="trespuntos">
								<li class="dropdown user user-menu trespuntosli"><a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true">
										<div class="">
											<img src="dist/img/3puntos.png" alt="">
										</div>
								</a>
									<ul class="dropdown-menu trespuntosmenu">
										<li><a href="#"><img src="dist/img/imgmodal-04.png"
												alt="">
												<p>Editar</p></a></li>
										<hr>
										<li><a href="#"><img src="dist/img/iconomenu-02.png"
												alt="">
												<p>Clonar</p></a></li>
										<hr>
										<li><a href="#eliminar"><img
												src="dist/img/iconomenu-01.png" alt="">
												<p>Elminar</p></a></li>
									</ul></li>
							</ul>
						</div>
						<hr>
						<section style="z-index: 1000; position: relative;">
							<div class="opccausas" id="opcionesCausa">
							</div>
						</section>
						<div id="pasos">

							<section class="container">
								<div id="items" class="card-carousel"></div>
							</section>
						</div>
						<div id="subPasos">
							<section class="container">
								<div id="subItems" class="subCard-carousel"></div>
							</section>
						</div>

					</div>

					<div class="elementocausa">
						<div class="box1">
							<h4>Comentarios</h4>
							<hr>
							<div class="comentario" th:each="comentario : ${comentarios}">
								<div>
									<p class="nombrecomentario"
										th:text="${comentario.usuario.nombre}"></p>
									<br> <br>
									<p class="textocomentario" th:text="${comentario.comentario}"></p>
								</div>
								<ul class="trespuntos">
									<li class="dropdown user user-menu trespuntosli"><a
										href="#" class="dropdown-toggle" data-toggle="dropdown"
										aria-expanded="true">
											<div class="">
												<img src="/dist/img/3puntos.png" alt="">
											</div>
									</a>
										<ul class="dropdown-menu trespuntosmenu">
											<li><a href="#eliminarComentario"
												th:idComentario="${comentario.id}"
												th:onclick="eliminarComentario(this)"><img
													src="/dist/img/iconomenu-01.png" alt="">
													<p>Elminar</p></a></li>
										</ul></li>
								</ul>
								<hr>
							</div>
							<textarea name="comentario" id="contenido" cols="30" rows="10"></textarea>
							<button class="btngreen" onclick="comentar()">Enviar</button>
						</div>
					</div>
					<div class="boxdatospartes">
						<div class="datosapartes datosapartesm">
							<div class="box1 box collapsed-box">
								<div class="box-tools">
									<button class="cabeceradatosapartes btn-box-tool"
										data-widget="collapse">
										<img src="/dist/img/datos-01.png" alt="">
										<div class="hrvertical"></div>
										<h4>Grupo de Miembros</h4>
									</button>
								</div>
								<div class="box-body">
									<div class="contactodatospartes fondogrey"
										th:each="miembro : ${miembros}">
										<div class="itemdatospartes">
											<img src="/dist/img/datos-02.png" alt="">
											<p class="nombregrupo" th:text="${miembro.mUsuario.nombre}">Nombre
												y Apellido</p>
										</div>
										<div class="itemdatospartes">
											<img src="/dist/img/datos-05.png" alt="">
											<p class="itemdatospartesp" th:text="${miembro.mUsuario.email}">correoelectrónico@empresa.com</p>
										</div>
										<!--                 <div class="itemdatospartes"><img src="/dist/img/datos-06.png" alt=""><p class="itemdatospartesp" th:text="${miembro.usuario.telefono}">000-000000</p></div> -->
									</div>
								</div>
							</div>
						</div>
						<div class="datosapartes datosapartesm2">
							<div class="box1 box collapsed-box">
								<div class="box-tools">
									<button class="cabeceradatosapartes btn-box-tool"
										data-widget="collapse">
										<img src="/dist/img/datos-02.png" alt="">
										<div class="hrvertical"></div>
										<h4>Contactos</h4>
									</button>
								</div>
								<div class="box-body">
									<div class="contactodatospartes fondogrey"
										th:each="contacto : ${contactos}">
										<div class="itemdatospartes">
											<img src="/dist/img/datos-02.png" alt="">
											<p class="nombregrupo" th:text="${contacto.nombre}">Nombre
												y Apellido</p>
										</div>
										<div class="itemdatospartes">
											<img src="/dist/img/datos-07.png" alt="">
											<p class="itemdatospartesp">Vinculo</p>
										</div>
										<div class="itemdatospartes">
											<img src="/dist/img/datos-05.png" alt="">
											<p class="itemdatospartesp" th:text="${contacto.email}">correoelectrónico@empresa.com</p>
										</div>
										<div class="itemdatospartes">
											<img src="/dist/img/datos-06.png" alt="">
											<p class="itemdatospartesp"
												th:text="${contacto.telefonoCelular}">000-000000</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="datosapartes datosapartesm">
							<div class="box1 box collapsed-box">
								<div class="box-tools">
									<button class="cabeceradatosapartes btn-box-tool"
										data-widget="collapse">
										<img src="/dist/img/datos-03.png" alt="">
										<div class="hrvertical"></div>
										<h4>Finanzas</h4>
									</button>
								</div>
								<div class="box-body">
									<div class="contactodatospartes2 datosfinanzas">
										<h4>Monto Reclamado</h4>
										<p>$000.00</p>
										<hr>
										<h4>Honorarios</h4>
										<p>$000.00</p>
										<hr>
										<h4>Gastos</h4>
										<p>$000.00</p>
										<hr>
									</div>
								</div>
							</div>
						</div>


						<div class="datosapartes">
							<div class="box1 box collapsed-box">
								<div class="box-tools">
									<button class="cabeceradatosapartes btn-box-tool"
										data-widget="collapse">
										<img src="/dist/img/datos-04.png" alt="">
										<div class="hrvertical"></div>
										<h4>Modificaciones</h4>
									</button>
								</div>
								<div class="box-body">
									<div class="contactodatospartes"
										th:each="modificacion : ${modificaciones}">
										<div class="itemdatospartes">
											<p class="itemdatospartesp"
												th:text=" '• ' + ${modificacion.tipoModificacion} + ' por'"></p>
											<br>
											<p class="nombregrupo"
												th:text="${modificacion.creador.nombre}">Nombre Apellido</p>
											<p class="nombregrupo"
												th:text="'el ' + ${modificacion.creado}">00/00/0000</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<strong>Copyright 2019 © All Rights Reserved</strong>
		</footer>

		<div id="ver" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div class="contenidomodal4">
						<form id="modalFormulario">
							<div class="box1">
								<div class="cabeceramodal">
									<div class="tituloplaca">
										<img src="/dist/img/logoinverso.png" alt="">
										<div class="textotituloplaca">
											<h3>Ver Consulta</h3>
											<p>Aqui puede ver la informacion de la consulta.</p>
										</div>
									</div>
									<a href="#" class="cerrarmodalimg"><img
										src="/dist/img/cerrar.png" alt=""></a>
								</div>
							</div>
							<div class="box1 agregarinfo2">
								<div class="box1 cuestionario">
									<div class="box1">
										<div class="ancho50">
											<label for="">Nombre</label>
											<h4 id="nombre"></h4>
										</div>
										<div class="ancho50" style="float: right;">
											<label for="">Apellido</label>
											<h4 id="apellido"></h4>
										</div>
									</div>

									<div class="box1">
										<div class="ancho50">
											<label for="">DNI/NNN/NNN</label>
											<h4 id="dni"></h4>
										</div>
										<div class="ancho50" style="float: right;">
											<label for="">Fecha de Nacimiento</label>
											<h4 id="fechaNacimiento"></h4>
										</div>
										<div class="ancho50" style="float: right;">
											<label for="">Genero:</label>
											<h4 id="genero"></h4>
										</div>
										<div class="ancho50">
											<label for="">Edad</label>
											<h4 id="edad"></h4>
										</div>
									</div>

									<div class="box1">
										<div class="ancho50">
											<label for="">Tel&eacute;fono</label>
											<h4 id="telefono"></h4>
										</div>
										<div class="ancho50" style="float: right;">
											<label for="">Localidad</label>
											<h4 id="localidad"></h4>
										</div>
									</div>

									<div class="box1">
										<div class="ancho100">
											<label for="">Direcci&oacute;n</label>
											<h4 id="direccion"></h4>
										</div>
									</div>
									<div class="box1">
										<div class="ancho100">
											<label for="">E-mail</label>
											<h4 id="email"></h4>
										</div>
									</div>
								</div>

								<div id="divPreguntasRespuestas" hidden="">
									<div class="tituloplaca">
										<img src="/dist/img/form-icon.png"
											style="color: green; margin-top: 20px;" alt>
										<div class="textotituloplaca">
											<h3 style="margin-top: 20px;">Formulario</h3>
											<p style="margin-bottom: 30px;">Aqui puede ver las
												respuestas de el formulario.</p>
										</div>
									</div>
									<div id="preguntasRespuestas"></div>
								</div>

							</div>
							<input type="hidden" id="idFormulario"> <input
								type="hidden" id="idConsulta">

							<div id="ocultarFormulario" hidden="">
								<a><button type="button" class="btn btn-secondary"
										onclick="ocultarFormulario()" style="text-align: center;">Ocultar</button></a>
							</div>

							<a id="divForm"><button type="button"
									class="btn btn-secondary" onclick="verFormulario()"
									style="text-align: center;">Formulario</button></a>
						</form>
					</div>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>


		<!-- Eliminar Comentario -->
		<div id="eliminarComentario" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="eliminarComentario">
						<input type="hidden" class="form-control" id="comentarioId"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>¿Está seguro que desea eliminar este
											comentario? </label>
									</div>
								</div>
								<a href="#" class="cerrarmodalimg"> <img
									src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="ComentarioEliminar()" id="modalBtnEliminar">Eliminar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		<!-- Editar comentario -->
		<div id="editarComentario" class="modal_mask">
			<div class="boxmiddle">
				<div class="box-modal box-modal4">
					<div id="modalAlerta"></div>
					<form id="eliminarComentario">
						<input type="hidden" class="form-control" id="comentarioIdEditar"
							name="id">
						<div class="box1">
							<div class="cabeceramodal">
								<div class="tituloplaca">
									<img src="/dist/img/logoinverso.png" alt="">
									<div class="textotituloplaca">
										<label>Modifique su comentario</label>
										<textarea name="comentario" id="contenidoEditar" cols="30"
											rows="10"></textarea>
									</div>
								</div>
								<a href="#" onclick="cerrarComentario();" class="cerrarmodalimg">
									<img src="/dist/img/cerrar.png" alt="">
								</a>
							</div>
						</div>
						<button type="button" class="btn btn-secondary"
							onclick="comentar()" id="modalBtnEliminar">Editar</button>
					</form>
				</div>
				<!-- box-modal==== -->
			</div>
		</div>
		
		<!-- Eliminar Item-->
	<div id="eliminarItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="eliminarItemForm">
					<input type="hidden" class="form-control" id="modalEliminarItemId" name="id">
					<input type="hidden" class="form-control"
						id="causaIdItemEliminar" th:value="${causa.id}" name="idCausa">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar este item? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
						<button type="button" class="btn btn-secondary"
						onclick="eliminarItemE()" id="modalBtnEliminarItemE">Eliminar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	
	<!-- Eliminar Sub Item-->
	<div id="eliminarSubItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="eliminarSubItemForm">
					<input type="hidden" class="form-control" id="modalEliminarSubItemId" name="id">
					<input type="hidden" class="form-control" id="itemIdSubItemEliminar" name="idItem">
					<input type="hidden" class="form-control"
						id="causaIdSubItemEliminar" th:value="${causa.id}" name="idCausa">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>¿Está seguro que desea eliminar este sub item? </label>
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
						<button type="button" class="btn btn-secondary"
						onclick="eliminarSubItemE()" id="modalBtnEliminarSubItemE">Eliminar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	
		<!-- elegir opcion sobre agregar un nuevo paso o un sub paso -->
	<div id="eleccionPaso" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>¿Quiere añadir un paso o un sub paso nuevo? </label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>
				<a href="#agregarItem"><button type="button"
						style="margin-left: 15%;" id="ordenPasoActual" th:onclick="nuevoItem(this)" class="btn btn-secondary">Paso</button></a>
				<a href="#agregarSubItem" ><button type="button"
						style="margin-right: 17%; margin-top: -7%;"
						class="btn btn-secondary" id="idPasoActual" th:onclick="nuevoSubItemAlFinal(this)">Sub Paso</button></a>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	
	<!-- agregar item -->
	<div id="agregarItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="agregarItemForm">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>Nombre del paso</label> 
									<input type="hidden" name="idCausa" id="idCausaAgregarItem" th:value="${causa.id}">
									<input type="hidden" id="ordenItemAnterior" name="ordenAnterior" >
									<input type="hidden" id="idItemEditar" name="id" >
									<input id="tituloItemNuevo" name="titulo"> 
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="agregarItem()">Guardar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	
	<!-- agregar sub item -->
	<div id="agregarSubItem" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form id="agregarSubItemForm">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>Nombre del paso</label> 
									<input type="hidden" name="idCausa" id="idCausaAgregarSubItem" th:value="${causa.id}">
									<input type="hidden" id="idItemAgregarSubItem" name="idItem" >
									<input type="hidden" id="ordenAnteriorSubItem" name="ordenAnterior" >
									<input type="hidden" id="idSubItemEditar" name="id">
									<input id="tituloSubItemNuevo" name="titulo"> 
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-secondary"
						onclick="agregarSubItem()">Guardar</button>
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	
	
	<!-- agregar archivo -->
	<div id="agregarArchivo" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<form  id="guardarArchivoForm">
					<div class="box1">
						<div class="cabeceramodal">
							<div class="tituloplaca">
								<img src="/dist/img/logoinverso.png" alt="">
								<div class="textotituloplaca">
									<label>Nombre del paso</label> 
									<input type="hidden" name="idCausa" id="idCausaAgregarArchivo" th:value="${causa.id}">
									<input type="hidden" id="tipoDePaso" name="tipo">
									<input type="hidden" id="idPasoSubPaso" name="idItem" >
									<input type="file" name="archivo"> 
								</div>
							</div>
							<a href="#" class="cerrarmodalimg"> <img
								src="/dist/img/cerrar.png" alt="">
							</a>
						</div>
					</div>
				<button type="button" class="btn btn-secondary"
						onclick="guardarArchivo()">Guardar</button> 
	
				</form>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
	
	<!-- elegir opcion sobre agregar un nuevo paso o un sub paso -->
	<div id="eleccionAdjunto" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>¿Quiere adjuntar un archivo a un paso o a un sub paso? </label>
							</div>
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
				</div>
				<a href="#agregarArchivo"><button type="button"
						style="margin-left: 15%;" id="archivoItem" th:onclick="modalAgregarArchivo(this)" class="btn btn-secondary">Paso</button></a>
				<a href="#agregarArchivo" ><button type="button"
						style="margin-right: 17%; margin-top: -7%;"
						class="btn btn-secondary" id="archivoSubItem" th:onclick="modalAgregarArchivo(this)">Sub Paso</button></a>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>

<!-- ver archivos -->
	<div id="verArchivos" class="modal_mask">
		<div class="boxmiddle">
			<div class="box-modal box-modal4">
				<div id="modalAlerta"></div>
				<div class="box1">
					<div class="cabeceramodal">
						<div class="tituloplaca">
							<img src="/dist/img/logoinverso.png" alt="">
							<div class="textotituloplaca">
								<label>Estos son los archivos del item</label>
							</div>
							
						</div>
						<a href="#" class="cerrarmodalimg"> <img
							src="/dist/img/cerrar.png" alt="">
						</a>
					</div>
					
				</div>
				<div id="archivos">
							</div>
			</div>
			<!-- box-modal==== -->
		</div>
	</div>
		
		

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<!-- <script src="/bower_components/jquery/dist/jquery.min.js"></script> -->
	<script src="/dist/js/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button);
	</script>
	<!-- Bootstrap 3.3.7 -->
	<script src="/dist/js/bootstrap.bundle.min.js"></script>
	<!-- <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
	<!-- Morris.js charts -->
	<script src="/bower_components/raphael/raphael.min.js"></script>
	<script src="/bower_components/morris.js/morris.min.js"></script>
	<!-- Sparkline -->
	<script
		src="/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
	<!-- jvectormap -->
	<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="/bower_components/moment/min/moment.min.js"></script>
	<script
		src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<!-- datepicker -->
	<script
		src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<!-- Bootstrap WYSIHTML5 -->
	<script
		src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
	<!-- Slimscroll -->
	<script
		src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="/bower_components/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="/dist/js/adminlte.min.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="/dist/js/pages/dashboard.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/dist/js/demo.js"></script>
	<script src="/app/js/causa.js"></script>
	<script src="/app/js/contacto.js"></script>
	<script src="/app/js/miembroCausa.js"></script>
	<script src="/app/js/item.js"></script>
	<script src="/app/js/archivo.js"></script>
	<script src="/app/js/escrito.js"></script>
	<script src="/app/js/comentario.js"></script> 

</body>
</html>
