<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="U-UX-Compatible" content="IE=Edge">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0">
<title>Liberium</title>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap"
	rel="stylesheet">
<style type="text/css">
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: sans-serif;
	width: 100%;
	height: auto;
	float: left;
}

h1, h2, h3, h4, p {
	margin: 0px;
}

a, a:hover {
	text-decoration: none !important;
}

.boxmail {
	width: 100%;
	height: auto;
	max-width: 460px;
	margin: 0px auto;
}

.boxmail1 {
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 40px 20px 10px 20px;
	position: relative;
	z-index: 99;
}

.logoa img {
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.title-1 {
	font-size: 25px;
	color: #829c67;
	font-family: 'Montserrat';
	width: 100%;
	margin-bottom: 10px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	color: #829c67;
	font-family: 'Montserrat';
	width: 100%;
	margin-bottom: 10px;
	font-weight: 700;
}

h4 {
	font-family: 'Lato';
	color: #575756;
	font-style: italic;
	font-size: 15px;
	margin-bottom: 15px;
}

.parrafo {
	font-family: 'Lato';
	font-size: 14px;
	line-height: 1.5;
	color: #3c3c3b;
	text-align: left;
	width: 100%;
	margin-bottom: 17px;
}

.parrafo a {
	color: #829c67;
	font-weight: 600;
}

.boxmail2 {
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 30px 20px 40px 20px;
	position: relative;
	z-index: 99;
}

button {
	width: auto;
	height: 40px;
	border-radius: 20px;
	border: 2px solid #899a69;
	padding: 0px 33px;
	background-color: transparent;
	font-family: 'montserrat';
	font-size: 14px;
	font-weight: 700;
	color: #839b3a;
	margin-left: 40px;
}

button:hover {
	color: #fff;
	background-color: #899a69;
	cursor: pointer;
}
</style>

</head>
<body>

	<div class="boxmail">
		<div class="boxmail1">
			<a href="index.html" class="logoa"><img
				src="https://liberium.la/img/logoliberium1.png" alt="Logo Liberium"></a>
			<h1 class="title-1">Te han agregado a un estudio!</h1>
			<h4>
				Bienvenida/o a <span th:text="${estudio}"></span>!
			</h4>
			<p class="parrafo">
				<span th:text="${nombre}"></span> Haz sido incorporado a Liberium,
				al estudio <span th:text="${estudio}"></span> como <span
					th:text="${rol}"></span> ingresa a liberium por <a th:href="${url}">
					aquí </a> o tocando el botón de abajo.
			</p>
		</div>
		<a th:href="${url}">
			<button>ACCEDER</button>
		</a>
		<div class="boxmail2">
			<h3>Sobre tu cuenta Liberium</h3>
			<p class="parrafo">Si no has creado una cuenta en Liberium aún,
				no hay problema, se te ha otorgado una cuenta con esta dirección de
				mail y la contraseña: Liberium123. Recuerda que puedes cambiar la
				contraseña cuando lo desees desde el panel de configuración del sistema.</p>

			<p>Si necesitas comunicarte con nosotros, no respondas este mail,
				recuerda que solo podemos dar información del pedido al nombre y
				dirección de e-mail asociado a tu cuenta.
			<p class="parrafo">
				Nuestro contacto es: <span th:text="${contacto}"></span>
			</p>
			<p class="parrafo">También ingresando en la página
				www.liberium.la</p>
			<p class="parrafo">Gracias nuevamente por utilizar nuestros
				servicios. Liberium</p>
			<p class="parrafo">
				Recordá revisar nuestras <a
					href="https://liberium.la/registro#enlace">Condiciones del
					Servicio y nuestra Política de Privacidad</a>
			</p>
		</div>
	</div>
</body>
</html>